Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2018-04, with the labels that each got.

#1474 [V3 Audio] Bump timeout connecting to Lavalink
  redbot/cogs/audio/__init__.py
  redbot/cogs/audio/audio.py
Labels: V3

#1487 [V3 Modlog] Fix TypeError related to 'until'
  redbot/core/modlog.py
Labels: V3

#1485 [V3 Image] actually check if a client id is set before making request
  redbot/cogs/image/image.py
Labels: V3

#1455 [V3 Downloader] Require minimum python version on cog install
  redbot/cogs/downloader/downloader.py
  redbot/cogs/downloader/installable.py
Labels: V3

#1456 [V3 Help] Fix the two missing characters in help
  redbot/core/help_formatter.py
Labels: V3

#1458 [V3 Config] Fix unloading and implement singleton driver
  redbot/core/bot.py
  redbot/core/config.py
  redbot/core/drivers/red_base.py
  redbot/core/drivers/red_json.py
  redbot/core/drivers/red_mongo.py
  tests/conftest.py
  tests/core/test_config.py
Labels: V3

#1473 [V3 Audio] Add voteskip and DJ role
  redbot/cogs/audio/audio.py
Labels: V3

#1475 [V3] Add settings displays to [p]set and [p]bankset
  redbot/cogs/bank/bank.py
  redbot/core/core_commands.py
Labels: V3

#1460 [V3] Fix logic issue on load
  redbot/core/core_commands.py
Labels: V3

#1293 [V3] Data Converter
  .github/CODEOWNERS
  docs/cog_dataconverter.rst
  docs/framework_utils.rst
  docs/guide_data_conversion.rst
  docs/index.rst
  redbot/cogs/dataconverter/__init__.py
  redbot/cogs/dataconverter/core_specs.py
  redbot/cogs/dataconverter/dataconverter.py
  redbot/cogs/dataconverter/locales/messages.pot
  redbot/cogs/dataconverter/locales/regen_messages.py
  redbot/core/utils/data_converter.py
Labels: V3, awaiting review

#1479 [V3] Added --version flag
  redbot/__main__.py
  redbot/core/cli.py
Labels: V3

#1483 [V3] Bump version to 3.0.0b11
  docs/conf.py
  setup.py
Labels: V3

#1494 [V3 Core] fix some issues with [p]set and [p]set nickname
  redbot/core/core_commands.py
Labels: V3

#1520 Add .pytest_cache to .gitignore
  .gitignore
Labels: V3

#1498 [V3 Audio] Harden Lavalink boot sequence
  docs/conf.py
  redbot/cogs/audio/__init__.py
  redbot/cogs/audio/audio.py
  redbot/cogs/audio/manager.py
  redbot/core/__init__.py
  setup.py
Labels: V3

#1488 [V3 Economy] Add per-role payouts to Economy with [p]economyset rolepaydayamount
  redbot/cogs/economy/economy.py
Labels: V3

#1503 [V3/docs] New Audio, remove old reqs...
  docs/guide_data_conversion.rst
  docs/install_centos.rst
  docs/install_debian.rst
  docs/install_mac.rst
  docs/install_raspbian.rst
  docs/install_ubuntu.rst
  requirements.txt
Labels: V3

#1523 [V3 Core] unhide [p]embedset
  redbot/core/core_commands.py
Labels: V3

#1514 [V3 Instance setup] fix an issue getting credentials to convert Mongo to JSON
  redbot/setup.py
Labels: V3

#1522 [V3] Mod.py guild -> server
  redbot/cogs/mod/mod.py
Labels: V3

#1495 [V3 Mod] Denying add_reactions permission to muted users
  redbot/cogs/mod/mod.py
Labels: V3

#1505 [V3 Docs] Systemd guide + extras
  docs/autostart_systemd.rst
  docs/index.rst
  docs/install_centos.rst
  docs/install_debian.rst
  docs/install_raspbian.rst
  docs/install_ubuntu.rst
Labels: V3

#1504 [V3 Docs] Added Arch Installation guide
  docs/index.rst
  docs/install_arch.rst
Labels: V3

#1281 [V3] Report Tool
  .github/CODEOWNERS
  redbot/cogs/reports/__init__.py
  redbot/cogs/reports/reports.py
  redbot/core/utils/antispam.py
  redbot/core/utils/tunnel.py
Labels: V3, awaiting review

#1508 [V3] supress pynacl warning
  redbot/core/bot.py
Labels: V3

#1528 [V3 Audio] External lavalink server settings, playlist saving & recall, bugfixes
  redbot/cogs/audio/audio.py
Labels: V3

#1537 [V3 Admin] Fix typo in admin.py
  redbot/cogs/admin/admin.py
Labels: V3

#1518 Remove old usage of type tuples with config.
  redbot/cogs/dataconverter/core_specs.py
  redbot/core/bank.py
  redbot/core/modlog.py
Labels: V3

#1430 [V3 Audio] Add Lavalink Jar build to settings
  redbot/cogs/audio/audio.py
Labels: V3, awaiting review

#1538 Better handling of tunnel instances
  docs/framework_utils.rst
  redbot/cogs/reports/reports.py
  redbot/core/utils/tunnel.py
Labels: V3

#1553 [V3 Docs Arch] Upgrade dependencies
  docs/install_arch.rst
Labels: V3, documentation

#1568 [V3 Mod] fix issue with unmuting
  redbot/cogs/mod/mod.py
Labels: V3
