Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2018-02, with the labels that each got.

#1289 [General] Updated userinfo
  redbot/cogs/general/general.py
Labels: V3, enhancement

#1308 [V3 Config] Fix async context manager bug and add test
  redbot/core/config.py
  tests/core/test_config.py
Labels: V3

#1285 [V3 CogManager] Fixed typo
  redbot/core/cog_manager.py
Labels: V3

#1298 [V3] move 'distro' out of requirements.txt (blame Windows)
  requirements.txt
  setup.py
Labels: V3

#1277 [V3 instance setup] Fix some issues
  redbot/setup.py
Labels: V3

#1284 [V3] Adds listening and watching games.
  redbot/core/core_commands.py
Labels: V3, awaiting changes

#1312 [V3] Pin aiohttp-json-rpc due to conflicts
  requirements.txt
Labels: V3

#1314 [V3 Core] Add optional async setup function
  redbot/core/bot.py
  redbot/core/core_commands.py
  redbot/core/events.py
Labels: V3, enhancement

#1304 [V3] Add prompt if message deletion > 100
  redbot/cogs/cleanup/cleanup.py
Labels: V3

#1313 [V3 Downloader] Make shared libraries work and make repo handling smarter
  redbot/cogs/downloader/converters.py
  redbot/cogs/downloader/downloader.py
  redbot/cogs/downloader/installable.py
  redbot/cogs/downloader/repo_manager.py
  tests/cogs/downloader/test_installable.py
Labels: V3

#1317 pin all dependencies except youtube-dl, and Red-Trivia.
  requirements.txt
Labels: V3

#1279 [V3 Events] Make the vague error message a fallback
  redbot/core/events.py
Labels: V3, enhancement

#1299 move [p]cogs to embeds
  redbot/core/cog_manager.py
Labels: V3

#1307 Added `[p]load` and `[p]reload` command errors in the `[p]traceback` command log file
  redbot/core/core_commands.py
Labels: V3

#1315 [V3 Config] Driver code initial cleanup
  redbot/core/config.py
  redbot/core/drivers/red_base.py
  redbot/core/drivers/red_json.py
  redbot/core/drivers/red_mongo.py
  tests/conftest.py
Labels: V3

#1296 [V3] 3.0.0b8
  setup.py
Labels: V3

#1325 [V3 General] Fix error in [p]userinfo when game is not set
  redbot/cogs/general/general.py
Labels: V3, awaiting merge

#1327 [V3 Mod/Filter] Fix #1202
  redbot/cogs/filter/filter.py
  redbot/cogs/mod/mod.py
  redbot/core/utils/mod.py
Labels: V3, awaiting merge

#1334 [V3 Cleanup] Fix unreferenced variable in cleanup messages
  redbot/cogs/cleanup/cleanup.py
Labels: V3

#1331 [V3 Core Commands] Limit status modifying commands to be run in guild only
  redbot/core/core_commands.py
Labels: V3

#1343 [V3 Config] Add more information to the docs
  docs/framework_config.rst
Labels: Documentation, V3

#1330 [V3 Downloader] Fix missing repos folder
  redbot/cogs/downloader/repo_manager.py
Labels: V3

#1320 [CI] Added support for conditional builds and env vars
  .travis.yml
  setup.py
Labels: V3, awaiting review, enhancement

#1173 [V3] Warning system
  redbot/cogs/warnings/__init__.py
  redbot/cogs/warnings/helpers.py
  redbot/cogs/warnings/locales/messages.pot
  redbot/cogs/warnings/locales/regen_messages.py
  redbot/cogs/warnings/warnings.py
Labels: V3

#1344 [V3 Config] Implement a true clear method
  redbot/core/config.py
  redbot/core/drivers/red_base.py
  redbot/core/drivers/red_json.py
  redbot/core/drivers/red_mongo.py
  tests/core/test_config.py
Labels: V3

#1345 MAke presence modifications work across multiple shards
  redbot/core/core_commands.py
Labels: V3

#1351 [V3] Add listlocales command
  redbot/cogs/downloader/locales/de.po
  redbot/core/core_commands.py
Labels: V3

#1342 [V3 Config] Adjust functionality of get_attr
  redbot/cogs/customcom/customcom.py
  redbot/cogs/streams/streams.py
  redbot/core/config.py
  redbot/core/modlog.py
  tests/core/test_config.py
Labels: V3, breaking change

#1353 [V3 Sentry] Only log errors that come from core code
  redbot/core/cog_manager.py
  redbot/core/events.py
Labels: V3

#1354 [V3 Downloader] Add pip install command
  redbot/cogs/downloader/downloader.py
Labels: V3

#1355 [V3 Config] Make Mongo work with any DB
  redbot/core/drivers/red_mongo.py
Labels: V3

#1356 [V3 Config] Limit connections to Mongo DB
  redbot/core/drivers/red_mongo.py
Labels: V3

#1348 [V3] Bump version to 3.0.0b9
  setup.py
Labels: V3

#1357 [V3] Potentially fix auto deploy issues
  .travis.yml
  setup.py
Labels: V3
