Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2018-07, with the labels that each got.

#1917 [V3] typo fix in set color
  redbot/core/core_commands.py
Labels: V3

#1918 [V3] use configured color in all places
  redbot/core/core_commands.py
  redbot/core/help_formatter.py
Labels: V3

#1836 [V3] b17 autohelp changes
  redbot/cogs/admin/admin.py
  redbot/cogs/alias/alias.py
  redbot/cogs/audio/audio.py
  redbot/cogs/bank/bank.py
  redbot/cogs/cleanup/cleanup.py
  redbot/cogs/customcom/customcom.py
  redbot/cogs/downloader/downloader.py
  redbot/cogs/economy/economy.py
  redbot/cogs/filter/filter.py
  redbot/cogs/image/image.py
  redbot/cogs/mod/mod.py
  redbot/cogs/modlog/modlog.py
  redbot/cogs/permissions/permissions.py
  redbot/cogs/reports/reports.py
  redbot/cogs/streams/streams.py
  redbot/cogs/trivia/trivia.py
  redbot/cogs/warnings/warnings.py
  redbot/core/commands/commands.py
  redbot/core/core_commands.py
Labels: V3, breaking change

#1860 [V3 Reports] Rewording Responses/Docstrings
  redbot/cogs/reports/reports.py
Labels: V3

#1895 [V3] Stop `tmp` dir showing up
  setup.py
Labels: V3

#1896 [V3] Remove all mentions of Python 3.5
  .github/CONTRIBUTING.md
  docs/guide_cog_creation.rst
  redbot/__init__.py
  redbot/launcher.py
Labels: V3

#1861 [V3] Use our own checks instead of discord.py's
  redbot/cogs/admin/admin.py
  redbot/cogs/cleanup/cleanup.py
  redbot/cogs/mod/mod.py
  redbot/cogs/permissions/permissions.py
Labels: V3, enhancement, needs testing

#1919 [V3] DM usage fixes
  redbot/cogs/admin/admin.py
  redbot/cogs/bank/bank.py
  redbot/cogs/cleanup/cleanup.py
  redbot/cogs/economy/economy.py
  redbot/core/core_commands.py
Labels: V3

#1916 [V3 Context] Aliasing Colour to color
  redbot/core/commands/context.py
Labels: V3

#1885 [V3/permissions] Performance improvements
  .github/CODEOWNERS
  redbot/cogs/permissions/mass_resolution.py
  redbot/cogs/permissions/permissions.py
  redbot/cogs/permissions/resolvers.py
  redbot/core/utils/caching.py
Labels: V3, enhancement, needs testing

#1837 [V3 Streams] Rewording Responses/Docstrings
  redbot/cogs/streams/streams.py
Labels: V3

#1878 [V3 Audio] Respect voice channel permissions
  redbot/cogs/audio/audio.py
Labels: V3

#1914 [V3] Mod/admin role logic corrections
  redbot/core/utils/mod.py
Labels: V3

#1898 [V3/Economy] Leaderboard Facelift
  redbot/cogs/economy/economy.py
Labels: V3

#1867 [V3 Warnings] changes to the warnings cog
  .github/CODEOWNERS
  redbot/cogs/warnings/helpers.py
  redbot/cogs/warnings/warnings.py
Labels: V3, enhancement, needs testing

#1913 [V3 reports] Display user discrim
  redbot/cogs/reports/reports.py
Labels: V3

#1906 [V3 Admin] Clean up help strings
  redbot/cogs/admin/admin.py
Labels: V3

#1842 [V3 Mod] Fix wrong reason used for modlog
  redbot/cogs/mod/mod.py
Labels: V3

#1890 [V3 Audio] Fix for playlist queue duplicates
  redbot/cogs/audio/audio.py
Labels: V3

#1905 [V3 permissions] command usage consistency
  docs/cog_permissions.rst
  redbot/cogs/permissions/converters.py
  redbot/cogs/permissions/permissions.py
Labels: V3

#1925 [V3 Audio] More aggressive empty disconnect
  redbot/cogs/audio/audio.py
Labels: V3

#1954 Removed warnings as errors argument
  tox.ini
Labels: V3

#1953 Fixed Json driver not being to save ints
  redbot/core/json_io.py
Labels: V3

#1944 [V3 dev commands] doc string correction
  redbot/core/dev_commands.py
Labels: V3

#1937 [V3/Bank] Change withdraw to accept 0.
  redbot/core/bank.py
Labels: V3

#1958 [CI] Commented out the link checking
  tox.ini
Labels: V3

#1945 [V3 permissions] fix invalidation
  redbot/cogs/permissions/permissions.py
Labels: V3

#1935 [V3] use uvloop if available
  redbot/__main__.py
Labels: V3
