Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2018-03, with the labels that each got.

#1362 [V3 Config] Correct Mongo connection URI without credentials
  redbot/core/drivers/red_mongo.py
Labels: V3

#1365 [V3]Encoding issue fix
  redbot/cogs/downloader/downloader.py
  redbot/cogs/mod/mod.py
  redbot/cogs/trivia/trivia.py
  redbot/core/events.py
  redbot/core/i18n.py
Labels: V3, awaiting changes

#1375 [V3] Fix help_formatter to obey embed length limits
  redbot/core/help_formatter.py
Labels: V3

#1388 [V3 Core] add update check
  redbot/core/core_commands.py
  redbot/core/events.py
Labels: V3, enhancement

#1374 [V3 Config] Fix clear throwing errors
  redbot/core/drivers/red_json.py
Labels: V3

#1403 [V3 Mod] Make the days param part of the reason if it's not a number
  redbot/cogs/mod/mod.py
Labels: V3

#1389 [V3 Docs] add java install to install docs
  docs/install_centos.rst
  docs/install_debian.rst
  docs/install_mac.rst
  docs/install_raspbian.rst
  docs/install_ubuntu.rst
  docs/install_windows.rst
Labels: V3, documentation

#1394 [V3 Admin] Make [p]announce consume all args into the message
  redbot/cogs/admin/admin.py
Labels: V3, awaiting review

#1420 [Audio] V3/auto autostart only
  redbot/cogs/audio/__init__.py
  redbot/cogs/audio/audio.py
  redbot/cogs/audio/manager.py
  setup.py
Labels: V3

#1397 [V3] discord.Game -> discord.Activity
  redbot/cogs/general/general.py
  redbot/core/core_commands.py
Labels: V3

#1424 [Bugfix] Issue 1363
  redbot/cogs/downloader/downloader.py
  redbot/core/cog_manager.py
Labels: V3

#1419 [V3 Instance setup] Change separator for time in backups
  redbot/setup.py
Labels: V3

#1402 [V3 Bank] add confirmation prompt on [p]bankset toggleglobal
  redbot/cogs/bank/bank.py
Labels: V3

#1407 [V3 Bank/Economy] fix #1404 and an issue with [p]bank reset
  redbot/cogs/bank/bank.py
  redbot/cogs/economy/economy.py
Labels: V3

#1347 [V3 Cleanup] code consolidation
  redbot/cogs/cleanup/cleanup.py
Labels: V3, needs testing

#1385 [V3 Streams] add support for Youtube streams
  redbot/cogs/streams/errors.py
  redbot/cogs/streams/streams.py
  redbot/cogs/streams/streamtypes.py
Labels: V3, enhancement

#1408 [V3 Warnings] action list isn't a dict (fix #1382)
  redbot/cogs/warnings/helpers.py
  redbot/cogs/warnings/warnings.py
Labels: V3

#1283 [Trivia] Updated and 1 new trivia
  data/trivia/anime.txt
  data/trivia/entertainment.txt
  data/trivia/general.txt
  data/trivia/pokemon.txt
  data/trivia/usstateabbreviations.txt
Labels: trivia lists

#1421 [V3 Instance Setup] start work on storage swapping
  redbot/setup.py
Labels: V3

#1232 [Audio] Song notifs / autodc, queue list improvements
  cogs/audio.py
Labels: awaiting review, needs testing

#1386 [V3 Economy] Expand payday output
  redbot/cogs/economy/economy.py
  redbot/core/bank.py
Labels: V3

#1440 [V3 Audio] Update audio to use Red-Lavalink
  redbot/cogs/audio/audio.py
  requirements.txt
  setup.py
Labels: V3

#1412 [V3] set access before deleting
  redbot/cogs/downloader/repo_manager.py
  redbot/core/utils/__init__.py
  redbot/setup.py
Labels: V3, needs testing

#1426 [V3 Streams] fix community alerts
  redbot/cogs/streams/streams.py
  redbot/cogs/streams/streamtypes.py
Labels: V3

#1438 [V3] Change presence (continued fixes)
  redbot/core/checks.py
  redbot/core/core_commands.py
Labels: V3

#1437 [V3 Core] implement commands and settings for embeds
  redbot/core/bot.py
  redbot/core/context.py
  redbot/core/core_commands.py
Labels: V3, enhancement

#1441 [V3] Allow load, unload and reload to deal with multiple packages
  redbot/core/core_commands.py
Labels: V3

#1418 [V3] Beta 10 release
  setup.py
Labels: V3

#1448 [V3 Instance setup] cog identifiers are strings, not ints
  redbot/setup.py
Labels: V3

#1451 [V3 Docs] do some updates on the docs
  docs/conf.py
  docs/framework_bot.rst
  docs/framework_rpc.rst
  docs/framework_utils.rst
  docs/index.rst
  redbot/core/bank.py
  redbot/core/rpc.py
Labels: V3, documentation

#1468 [V3] drop an unnecessary if in embed_requested
  redbot/core/bot.py
Labels: V3

#1469 [V3 instance setup] warn if instance name in use
  redbot/setup.py
Labels: V3

#1470 [V3 Instance setup] implement backup support for instances using Mongo
  redbot/setup.py
Labels: V3

#1467 [V3 Core] embed toggling support
  redbot/cogs/filter/filter.py
  redbot/cogs/mod/mod.py
  redbot/cogs/modlog/modlog.py
  redbot/core/cog_manager.py
  redbot/core/core_commands.py
  redbot/core/help_formatter.py
  redbot/core/modlog.py
  tests/cogs/test_mod.py
Labels: V3
