Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2018-11, with the labels that each got.

#2288 Fixes typos in permissions
  redbot/cogs/mod/mod.py
  redbot/core/core_commands.py
Labels: QA: Bypassed, Type: Fix, V3

#2289 Reject bad perm kwargs in check decorators
  redbot/cogs/reports/reports.py
  redbot/core/commands/requires.py
Labels: High Priority, QA: Bypassed, Type: Fix, V3

#2256 [V3 Docs] Update to RC1 breaking change
  docs/guide_cog_creation.rst
Labels: Category: Docs, QA: Bypassed, Type: Fix, V3

#2263 [V3 Economy] fix TypeError in [p]payouts
  redbot/cogs/economy/economy.py
Labels: QA: Bypassed, Type: Fix, V3

#2269 Fix text formatting issue in session.py
  redbot/cogs/trivia/session.py
Labels: QA: Bypassed, Type: Fix, V3

#2271 [V3 Audio] Local track verify on playlist start
  redbot/cogs/audio/audio.py
Labels: QA: Passed, Type: Fix, V3

#2275 [V3 - Trivia] Change Swaziland to its new name, eSwatini (whilst keeping Swaziland as an option)
  redbot/cogs/trivia/data/lists/worldcapitals.yaml
  redbot/cogs/trivia/data/lists/worldflags.yaml
Labels: Category: Trivia Lists, QA: Passed, Type: Fix, V3

#2257 [V3 permissions] Prevent locking out owner
  redbot/core/commands/requires.py
Labels: QA: Needed, Type: Fix, V3

#2284 [V3 General] Clarify options on rps
  redbot/cogs/general/general.py
Labels: QA: Unassigned, Type: Fix, V3

#2285 [V3 General] Urban no embed fix, capitals standardization
  redbot/cogs/general/general.py
Labels: QA: Needed, Type: Fix, V3

#2279 [V3 Mod] [p]modset: Fix KeyError
  redbot/cogs/mod/mod.py
Labels: QA: Unassigned, Type: Fix, V3

#2310 [V3 cleanup] Correct handling of context message
  redbot/cogs/cleanup/cleanup.py
Labels: QA: Bypassed, Type: Fix, V3

#2309 [V3 Docs] CentOS correct git version
  docs/install_linux_mac.rst
Labels: Category: Docs, QA: Bypassed, Type: Fix, V3

#2308 [V3 json] race condition fix
  redbot/core/json_io.py
Labels: QA: Passed, Type: Fix, V3

#2305 [V3 Streams] Fix stream alerts with no configured mentions
  redbot/cogs/streams/streams.py
Labels: QA: Passed, Type: Fix, V3

#2304 [V3 Downloader] Findcog fix with no repo installed
  redbot/cogs/downloader/downloader.py
Labels: QA: Unassigned, Type: Fix, V3

#2302 [Core] [p]leave: Fix incorrect response handling
  redbot/core/core_commands.py
Labels: QA: Passed, Type: Fix, V3

#2290 [V3 Audio] Disallow seek during active vote
  redbot/cogs/audio/audio.py
Labels: QA: Passed, Type: Fix, V3

#2270 [V3 Audio] Match openJDK 11 on Ubuntu
  redbot/cogs/audio/manager.py
Labels: QA: Passed, Type: Fix, V3

#2252 [V3 Streams] toggle mentions on for roles being alerted
  redbot/cogs/streams/streams.py
Labels: QA: Passed, Type: Fix, V3
