Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2018-05, with the labels that each got.

#1585 Add multiple Issue and PR templates
  .github/ISSUE_TEMPLATE/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/command_bug.md
  .github/ISSUE_TEMPLATE/feature_req.md
  .github/ISSUE_TEMPLATE/other_bug.md
  .github/PULL_REQUEST_TEMPLATE/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/bugfix.md
  .github/PULL_REQUEST_TEMPLATE/enhancement.md
  .github/PULL_REQUEST_TEMPLATE/new_feature.md
  .github/PULL_REQUEST_TEMPLATE/release.md
  .github/PULL_REQUEST_TEMPLATE/translations.md
Labels: V3

#1567 [V3 Docs] Fixed broken link
  docs/guide_cog_creation.rst
Labels: V3

#1577 [V3 Warnings] fix several bugs
  redbot/cogs/warnings/helpers.py
  redbot/cogs/warnings/warnings.py
Labels: V3

#1566 [V3 Utils] Menu system
  docs/framework_utils.rst
  redbot/core/utils/menus.py
Labels: V3, enhancement

#1580 [V3 Core] fix a couple issues with [p]servers
  redbot/core/core_commands.py
Labels: V3

#1561 allow deletion based on user ID (actually this time)
  redbot/cogs/cleanup/cleanup.py
Labels: V3

#1588 [V3 Core] fix 3.5-specific issue with [p]backup
  redbot/core/core_commands.py
Labels: V3

#1541 Report fixes + improvements
  redbot/cogs/reports/reports.py
  redbot/core/utils/tunnel.py
Labels: V3

#1555 [V3] simple_embed doesn't take author
  redbot/core/help_formatter.py
Labels: V3

#1536 [V3 Launcher] Reinstall Red option
  redbot/launcher.py
  redbot/setup.py
Labels: V3, awaiting changes

#1578 [V3 Utils] fix files not being chmodded
  redbot/core/utils/__init__.py
Labels: V3

#1558 provide an extra method for helping work with embed_requested
  redbot/core/context.py
Labels: V3

#1565 [V3 Help] fix issue with non-existent subcommands
  redbot/core/help_formatter.py
Labels: V3

#1583 [V3] bump version to 3.0.0b13
  redbot/core/__init__.py
Labels: V3

#1601 [V3 Parser] Added --load-cogs flag
  redbot/core/cli.py
  redbot/core/events.py
Labels: V3, enhancement

#1603 [V3 Mod] Fix issue with unmuting, again
  redbot/cogs/mod/mod.py
Labels: V3

#1623 [V3] Mark 3.7 as unsupported in setup.py
  setup.py
Labels: V3

#1617 Fixed servers bug
  redbot/core/core_commands.py
Labels: V3

#1606 [V3] Fix help's help
  redbot/core/help_formatter.py
Labels: V3

#1619 [V3] Embed request respects bot's permissions in location too.
  redbot/core/context.py
Labels: V3

#1143 [V3 i18n] Internationalise help for commands and cogs
  docs/framework_commands.rst
  docs/framework_context.rst
  docs/framework_i18n.rst
  docs/index.rst
  redbot/cogs/alias/alias.py
  redbot/cogs/alias/alias_entry.py
  redbot/cogs/audio/audio.py
  redbot/cogs/bank/bank.py
  redbot/cogs/cleanup/cleanup.py
  redbot/cogs/customcom/customcom.py
  redbot/cogs/dataconverter/dataconverter.py
  redbot/cogs/downloader/downloader.py
  redbot/cogs/economy/economy.py
  redbot/cogs/filter/filter.py
  redbot/cogs/general/general.py
  redbot/cogs/image/image.py
  redbot/cogs/mod/mod.py
  redbot/cogs/modlog/modlog.py
  redbot/cogs/reports/reports.py
  redbot/cogs/streams/streams.py
  redbot/cogs/warnings/helpers.py
  redbot/cogs/warnings/warnings.py
  redbot/core/__init__.py
  redbot/core/bot.py
  redbot/core/cog_manager.py
  redbot/core/commands/__init__.py
  redbot/core/commands/commands.py
  redbot/core/commands/context.py
  redbot/core/core_commands.py
  redbot/core/dev_commands.py
  redbot/core/global_checks.py
  redbot/core/help_formatter.py
  redbot/core/i18n.py
  redbot/core/locales/debugging.po
  redbot/core/utils/menus.py
Labels: V3, breaking change, enhancement, needs testing

#1635 [V3] Update trivia version and allow installing in develop mode
  redbot/cogs/trivia/trivia.py
  requirements.txt
Labels: V3

#1618 [V3] Ping changes
  redbot/cogs/general/general.py
  redbot/core/core_commands.py
Labels: V3

#1632 [V3 I18n] add a NoneType check on trying to normalize a string
  redbot/core/i18n.py
Labels: V3

#1622 [V3 Docs] Removed py 3.6 warning for Windows
  docs/install_windows.rst
Labels: V3

#1630 [V3 Streams] cache stream alert messages across restarts
  redbot/cogs/streams/streams.py
  redbot/cogs/streams/streamtypes.py
Labels: V3, enhancement

#1596 [V3 cleanup] Respect pinned messages by default
  redbot/cogs/cleanup/cleanup.py
Labels: V3

#1602 [V3 Cleanup] Cleanup commands clean up after themselves
  redbot/cogs/cleanup/cleanup.py
Labels: V3

#1633 [V3 Audio] Update queue and search to use menus
  redbot/cogs/audio/audio.py
Labels: V3

#1547 Make checks.py manageable from a permissions cog
  redbot/core/checks.py
Labels: V3, breaking change

#1629 [V3] Bump version to 3.0.0b14
  redbot/core/__init__.py
Labels: V3

#1645 [V3] fix help on missing cog docstrings
  redbot/core/commands/commands.py
  redbot/core/help_formatter.py
Labels: V3

#1658 Black formatting for generate_strings.py
  docs/conf.py
  generate_strings.py
Labels: V3

#1641 [V3] Add tox
  .travis.yml
  Pipfile
  Pipfile.lock
  setup.py
  tox.ini
Labels: V3

#1655 [V3 Downloader] Handle errors when importing modules
  redbot/cogs/downloader/repo_manager.py
Labels: V3

#1673 [V3] test downloader
  tests/cogs/downloader/test_downloader.py
Labels: V3

#1684 [V3] Add deprecation warning for Python 3.5
  redbot/__init__.py
Labels: V3

#1656 [V3 Audio] [p]llsetup fixes
  redbot/cogs/audio/audio.py
Labels: V3

#1634 [V3 RPC] Initial RPC library switch
  Pipfile.lock
  docs/framework_rpc.rst
  redbot/__main__.py
  redbot/core/bot.py
  redbot/core/core_commands.py
  redbot/core/events.py
  redbot/core/rpc.py
  requirements.txt
Labels: V3

#1665 Add a makefile for helping with style checking and reformatting
  Makefile
  make.bat
  tox.ini
Labels: V3

#1694 [V3 Core] Add [p]helpset
  redbot/core/bot.py
  redbot/core/core_commands.py
  redbot/core/help_formatter.py
Labels: V3

#1659 [V3] Update CONTRIBUTING.md with details on new dev workflow
  .github/CONTRIBUTING.md
  README.rst
Labels: V3, documentation

#1698 [V3/Economy]
  redbot/cogs/economy/economy.py
Labels: V3

#1711 [V3] respect admin and guildowner (implicitly) in checks for permissions
  redbot/cogs/mod/checks.py
  redbot/core/checks.py
Labels: V3

#1699 [V3 Docs] expand info.json docs
  docs/framework_downloader.rst
Labels: V3, documentation

#1715 [V3 Docs] Reference 3.6 docs
  docs/conf.py
Labels: V3

#1672 [V3 Warnings] Fix warn command when no valid reason is passed
  redbot/cogs/warnings/warnings.py
Labels: V3

#1548 [V3] Permissions
  .github/CODEOWNERS
  docs/cog_permissions.rst
  docs/index.rst
  redbot/cogs/permissions/__init__.py
  redbot/cogs/permissions/converters.py
  redbot/cogs/permissions/permissions.py
  redbot/cogs/permissions/resolvers.py
  redbot/cogs/permissions/template.yaml
  redbot/cogs/permissions/yaml_handler.py
Labels: V3, breaking change

#1710 [V3 Launcher] Fix error when removing Mongo instance
  redbot/setup.py
Labels: V3

#1713 [V3] Remove 3.5 from Travis builds
  .travis.yml
Labels: V3

#1722 [V3 Help] pagification
  redbot/core/help_formatter.py
Labels: V3

#1648 [V3] Implement --dry-run flag
  redbot/__main__.py
Labels: V3

#1662 [V3 Downloader] Pagify cog list and typing fix
  redbot/cogs/downloader/downloader.py
Labels: V3

#1600 [V3] Start work on fuzzy command search
  redbot/core/bot.py
  redbot/core/events.py
  redbot/core/help_formatter.py
  redbot/core/utils/__init__.py
  requirements.txt
Labels: V3

#1649 [V3 Launcher] Fixed issue with update choice
  redbot/launcher.py
Labels: V3

#1695 [V3 Mod] Unmute server does not need channel
  redbot/cogs/mod/mod.py
Labels: V3

#1696 [V3 Launcher] update cli flag getter
  redbot/launcher.py
Labels: V3, enhancement

#1712 [V3 ping] fixes reaction on message deletedelay of zero
  redbot/core/core_commands.py
Labels: V3

#1707 [V3 Core] add support for setting a color for embeds
  Pipfile.lock
  redbot/core/bot.py
  redbot/core/commands/context.py
  redbot/core/core_commands.py
  redbot/core/events.py
  redbot/core/help_formatter.py
Labels: V3, enhancement

#1723 [V3 Context] make send_help respect embed setting
  redbot/core/commands/context.py
Labels: V3

#1668 [V3 Docs] Add to the example systemd service
  docs/autostart_systemd.rst
Labels: V3, documentation

#1666 [V3] Optimize the backup command
  redbot/cogs/downloader/downloader.py
  redbot/cogs/downloader/repo_manager.py
  redbot/core/core_commands.py
  redbot/setup.py
  tests/cogs/downloader/test_downloader.py
Labels: V3, enhancement, needs testing

#1701 [V3 Downloader] repo info command + short descriptions in repo list
  redbot/cogs/downloader/downloader.py
Labels: V3, enhancement

#1726 [V3] rpc close removed
  redbot/__main__.py
Labels: V3

#1703 [V3/Readme] Update V3 Readme
  README.rst
Labels: V3

#1717 [V3 Modlog] add events for modlog cases
  redbot/cogs/mod/mod.py
  redbot/cogs/modlog/modlog.py
  redbot/core/modlog.py
Labels: V3, enhancement

#1725 [V3 Errorhandling] less verbose
  redbot/core/events.py
Labels: V3

#1720 [V3] Bump version to 3.0.0b15
  redbot/core/__init__.py
Labels: V3

#1740 [V3] Remove 3.5 from tox environments
  tox.ini
Labels: V3

#1745 [V3] Update black version and reformat
  Pipfile
  Pipfile.lock
  redbot/cogs/admin/admin.py
  redbot/cogs/admin/announcer.py
  redbot/cogs/admin/converters.py
  redbot/cogs/alias/alias_entry.py
  redbot/cogs/audio/audio.py
  redbot/cogs/customcom/customcom.py
  redbot/cogs/downloader/checks.py
  redbot/cogs/downloader/converters.py
  redbot/cogs/downloader/downloader.py
  redbot/cogs/downloader/errors.py
  redbot/cogs/downloader/repo_manager.py
  redbot/cogs/economy/economy.py
  redbot/cogs/general/general.py
  redbot/cogs/image/image.py
  redbot/cogs/mod/checks.py
  redbot/cogs/permissions/converters.py
  redbot/cogs/streams/streamtypes.py
  redbot/cogs/trivia/trivia.py
  redbot/core/__init__.py
  redbot/core/checks.py
  redbot/core/commands/commands.py
  redbot/core/config.py
  redbot/core/drivers/red_base.py
  redbot/core/events.py
  redbot/core/global_checks.py
  redbot/core/rpc.py
  redbot/core/utils/antispam.py
  setup.py
  tests/cogs/downloader/test_downloader.py
  tests/conftest.py
Labels: V3

#1744 [V3 Docs] Pin RTD yarl version
  docs/requirements.txt
Labels: V3, documentation
