Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2018-10, with the labels that each got.

#2161 [V3 Mod] Remove tempban from data after unbanning
  redbot/cogs/mod/mod.py
Labels: QA: Passed, Type: Fix, V3

#2155 [V3 Audio] Playlist list and notify msg changes
  redbot/cogs/audio/audio.py
Labels: QA: Passed, Type: Enhancement, Type: Fix, V3

#2159 [V3 Config] Support MongoDB URIs
  Pipfile.lock
  redbot/core/drivers/red_mongo.py
  setup.py
Labels: QA: Passed, Type: Enhancement, V3

#2170 [Trivia] Fixed typo
  data/trivia/cars.txt
Labels: Category: Trivia Lists, Type: Fix, V2

#2167 [V3] Unawaited command
  redbot/core/core_commands.py
Labels: QA: Bypassed, Type: Fix, V3

#2166 [V3 Mod] Use list.copy for tempban expirations
  redbot/cogs/mod/mod.py
Labels: QA: Bypassed, Type: Fix, V3

#2175 Dependency Update
  Makefile
  Pipfile.lock
  dependency_links.txt
  redbot/cogs/trivia/trivia.py
  redbot/core/commands/__init__.py
  redbot/core/commands/context.py
  setup.py
  tests/cogs/test_permissions.py
Labels: QA: Bypassed, Type: Dependency Update, V3

#2174 [Black] Don't normalize underscores in numeric literals
  .github/CONTRIBUTING.md
  make.bat
Labels: Blocked by: Dependency, QA: Bypassed, Type: Enhancement, V3

#2171 [V3 Cleanup] Cleanup Before command
  redbot/cogs/cleanup/cleanup.py
Labels: QA: Passed, Type: Feature, V3

#2064 [V3 Filter] implement exempting other users/roles from the filter
  redbot/cogs/filter/filter.py
Labels: QA: Passed, Type: Enhancement, V3

#2178 [V3 Config] Add Group.clear_raw method
  docs/framework_config.rst
  redbot/core/config.py
  tests/core/test_config.py
Labels: QA: Passed, Type: Feature, V3

#2169 Finish and Refactor Predicate Utility
  docs/framework_utils.rst
  redbot/cogs/audio/audio.py
  redbot/cogs/cleanup/cleanup.py
  redbot/cogs/customcom/customcom.py
  redbot/cogs/dataconverter/dataconverter.py
  redbot/cogs/downloader/checks.py
  redbot/cogs/permissions/permissions.py
  redbot/cogs/reports/reports.py
  redbot/cogs/warnings/helpers.py
  redbot/cogs/warnings/warnings.py
  redbot/core/commands/context.py
  redbot/core/core_commands.py
  redbot/core/dev_commands.py
  redbot/core/utils/menus.py
  redbot/core/utils/predicates.py
Labels: QA: Needed, Type: Feature, V3

#1986 [V3 Utils] Predicate Utility
  docs/framework_utils.rst
  redbot/cogs/audio/audio.py
  redbot/cogs/cleanup/cleanup.py
  redbot/cogs/customcom/customcom.py
  redbot/cogs/dataconverter/dataconverter.py
  redbot/cogs/downloader/checks.py
  redbot/cogs/permissions/permissions.py
  redbot/cogs/reports/reports.py
  redbot/cogs/warnings/helpers.py
  redbot/cogs/warnings/warnings.py
  redbot/core/commands/context.py
  redbot/core/core_commands.py
  redbot/core/dev_commands.py
  redbot/core/utils/menus.py
  redbot/core/utils/predicates.py
Labels: QA: Unassigned, Type: Feature, V3

#2162 [V3 Trivia] Handle smart quotes
  redbot/cogs/trivia/session.py
  redbot/core/utils/common_filters.py
  tests/core/test_utils.py
Labels: QA: Needed, Type: Enhancement, Type: Feature, V3

#2024 [i18n] Update and extract all user-facing strings
  redbot/cogs/admin/admin.py
  redbot/cogs/admin/announcer.py
  redbot/cogs/admin/converters.py
  redbot/cogs/alias/alias.py
  redbot/cogs/audio/audio.py
  redbot/cogs/bank/bank.py
  redbot/cogs/cleanup/cleanup.py
  redbot/cogs/customcom/customcom.py
  redbot/cogs/dataconverter/dataconverter.py
  redbot/cogs/downloader/checks.py
  redbot/cogs/downloader/converters.py
  redbot/cogs/downloader/downloader.py
  redbot/cogs/downloader/repo_manager.py
  redbot/cogs/economy/economy.py
  redbot/cogs/filter/filter.py
  redbot/cogs/general/general.py
  redbot/cogs/image/image.py
  redbot/cogs/mod/checks.py
  redbot/cogs/mod/mod.py
  redbot/cogs/modlog/modlog.py
  redbot/cogs/permissions/converters.py
  redbot/cogs/permissions/permissions.py
  redbot/cogs/reports/reports.py
  redbot/cogs/streams/streams.py
  redbot/cogs/trivia/session.py
  redbot/cogs/trivia/trivia.py
  redbot/cogs/warnings/warnings.py
  redbot/core/bank.py
  redbot/core/config.py
  redbot/core/i18n.py
  redbot/core/utils/tunnel.py
Labels: QA: Bypassed, Type: Enhancement, V3

#2183 [V3 Menus] ctx.me so this will work in DM's
  redbot/core/utils/menus.py
Labels: QA: Passed, Type: Fix, V3

#2182 [V3 Utils] Markdown helpers escape special chars
  redbot/core/utils/chat_formatting.py
Labels: QA: Passed, Type: Enhancement, V3

#2188 Use our own redbot.core.VersionInfo over distutils.StrictVersion
  redbot/cogs/audio/__init__.py
  redbot/core/__init__.py
  redbot/core/core_commands.py
  redbot/core/events.py
  redbot/launcher.py
  tests/core/test_version.py
Labels: QA: Bypassed, Type: Fix, V3

#2191 [V3 Audio] Playlist list, local queue, DJ Role fix
  redbot/cogs/audio/audio.py
Labels: QA: Needed, Type: Fix, V3

#2193 [V3 Admin] Selfrole list formatting
  redbot/cogs/admin/admin.py
Labels: QA: Bypassed, Type: Fix, V3

#2197 Quality of Life Trivia fixes. And new elements questions.
  data/trivia/2015.txt
  data/trivia/2016.txt
  data/trivia/anime.txt
  data/trivia/computers.txt
  data/trivia/elements.txt
  data/trivia/leagueoflegends.txt
Labels: Category: Trivia Lists, QA: Bypassed, V2

#2181 [Trivia] Missing answer in LoL list
  data/trivia/leagueoflegends.txt
Labels: Category: Trivia Lists, Type: Fix, V2

#2198 Merge changes for RC1 into V3/develop
  .travis.yml
  redbot/cogs/admin/admin.py
  redbot/cogs/audio/__init__.py
  redbot/cogs/audio/audio.py
  redbot/cogs/cleanup/cleanup.py
  redbot/cogs/economy/economy.py
  redbot/cogs/mod/mod.py
  redbot/core/__init__.py
  redbot/core/cli.py
  redbot/core/core_commands.py
  redbot/core/drivers/red_mongo.py
  redbot/core/events.py
  redbot/launcher.py
  tests/core/test_version.py
Labels: QA: Bypassed, Type: Merge, V3

#2199 [CustomCommands] Find default converters properly
  redbot/cogs/customcom/customcom.py
Labels: QA: Bypassed, Type: Fix, V3

#2201 [Audio] Fix type mismatch between config defaults and set value
  redbot/cogs/audio/audio.py
Labels: QA: Bypassed, Type: Fix, V3

#2202 [Dev] Use isawaitable over iscoroutine for [p]debug output
  redbot/core/dev_commands.py
Labels: QA: Bypassed, Type: Enhancement, V3

#2203 change payday message back to +(amount) (currency name)
  redbot/cogs/economy/economy.py
Labels: QA: Passed, Type: Fix, V3

#2116 [V3 Core] Support already loaded packages
  redbot/core/bot.py
  redbot/core/core_commands.py
  redbot/core/errors.py
  redbot/core/i18n.py
Labels: QA: Needed, Type: Fix, V3

#2208 [V3 mod] Fix KeyError in modset
  redbot/cogs/mod/mod.py
Labels: QA: Bypassed, Type: Fix, V3

#2209 Merge V3/release/3.0.0 into V3/develop
  redbot/cogs/alias/alias.py
  redbot/cogs/audio/audio.py
  redbot/cogs/customcom/customcom.py
  redbot/cogs/economy/economy.py
  redbot/cogs/mod/mod.py
  redbot/core/bot.py
  redbot/core/core_commands.py
  redbot/core/errors.py
  redbot/core/i18n.py
Labels: QA: Bypassed, Type: Merge, V3

#2200 [Permissions] Fix ValueError for "default" rule in config/ACL
  redbot/cogs/permissions/permissions.py
  tests/cogs/test_permissions.py
Labels: QA: Passed, Type: Fix, V3

#2210 [Core] Fix errors with [p]backup on MongoDB
  redbot/core/core_commands.py
Labels: QA: Bypassed, Type: Fix, V3

#2177 [V3 Trivia] On / Off also resolve to bool with YAML
  redbot/cogs/trivia/session.py
Labels: QA: Passed, Type: Enhancement, V3

#2217 [Config] Cast keys to str on get/set/clear
  docs/framework_config.rst
  redbot/core/config.py
  tests/core/test_config.py
Labels: QA: Passed, Type: Fix, V3

#2218 [Warnings] Fix actions not being taken
  redbot/cogs/warnings/helpers.py
  redbot/cogs/warnings/warnings.py
Labels: QA: Passed, Type: Fix, V3

#2207 [V3 Core] Specify an error message on package loading
  redbot/core/core_commands.py
  redbot/core/errors.py
Labels: QA: Needed, Type: Feature, V3

#2219 [Audio] Rename current_build to current_version in Config
  redbot/cogs/audio/__init__.py
  redbot/cogs/audio/audio.py
  redbot/core/config.py
Labels: QA: Passed, Type: Fix, V3

#2225 [V3 Cleanup] fix error in cleanup user
  redbot/cogs/cleanup/cleanup.py
Labels: QA: Passed, Type: Fix, V3

#2229 Merge V3/release/3.0.0 into V3/develop
  docs/framework_config.rst
  redbot/cogs/audio/__init__.py
  redbot/cogs/audio/audio.py
  redbot/cogs/cleanup/cleanup.py
  redbot/cogs/permissions/permissions.py
  redbot/cogs/trivia/session.py
  redbot/cogs/warnings/helpers.py
  redbot/cogs/warnings/warnings.py
  redbot/core/config.py
  redbot/core/core_commands.py
  redbot/core/drivers/red_mongo.py
  tests/cogs/test_permissions.py
  tests/core/test_config.py
Labels: QA: Bypassed, Type: Merge, V3

#2230 [V3 Mod] Mute/Unmute bugfixes
  redbot/cogs/mod/mod.py
Labels: QA: Passed, Type: Fix, V3

#2234 Fix permissions hook removal
  redbot/core/bot.py
Labels: QA: Passed, Type: Fix, V3

#2239 [Converters] Add Translator
  redbot/cogs/downloader/converters.py
Labels: QA: Passed, Type: Fix, V3

#2238 [Downloader] Add Prefix in Format
  redbot/cogs/downloader/downloader.py
Labels: QA: Passed, Type: Fix, V3

#2213 [Cleanup] [p]cleanup bot includes aliases and custom commands
  redbot/cogs/cleanup/cleanup.py
  redbot/cogs/customcom/customcom.py
Labels: QA: Passed, Type: Fix, V3

#2228 [Streams] Suppress HTTPExceptions on load
  redbot/cogs/streams/streams.py
Labels: QA: Bypassed, Type: Fix, V3

#2233 Only trigger reload of updated cogs which are loaded
  redbot/cogs/downloader/downloader.py
Labels: QA: Passed, Type: Fix, V3

#2215 [CustomCom] Better display for [p]cc list
  redbot/cogs/customcom/customcom.py
  redbot/cogs/mod/mod.py
Labels: QA: Passed, Type: Enhancement, Type: Fix, V3

#2243 [Downloader] Unload extensions on uninstall
  redbot/cogs/downloader/downloader.py
Labels: QA: Needed, Type: Fix, V3

#2211 [Economy] Detect max balance and prevent OverflowError
  redbot/cogs/economy/economy.py
  redbot/core/bank.py
  redbot/core/errors.py
Labels: QA: Bypassed, Type: Fix, V3

#2268 Drop unneeded .format in [p]triviaset override
  redbot/cogs/trivia/trivia.py
Labels: QA: Bypassed, Type: Fix, V3
