Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2019-01, with the labels that each got.

#2345 [CogManager] Removal of implicit paths and general cleanup
  redbot/core/bot.py
  redbot/core/cog_manager.py
Labels: QA: Passed, Type: Fix, V3

#2344 [Utils] Exit menu silently when message is deleted
  redbot/core/utils/menus.py
Labels: QA: Passed, Type: Fix, V3

#2351 [Mod] Context-based voice checks
  redbot/cogs/mod/checks.py
  redbot/cogs/mod/mod.py
  redbot/core/events.py
  redbot/core/utils/chat_formatting.py
Labels: QA: Passed, Type: Fix, V3

#2366 [V3] Tunnel minor fixes
  redbot/core/utils/tunnel.py
Labels: QA: Passed, Type: Fix, V3

#2363 Catch exceptions in [p]backup
  redbot/core/core_commands.py
Labels: QA: Passed, Type: Fix, V3

#2367 Bump version to 3.0.0rc3
  .travis.yml
  Pipfile.lock
  dependency_links.txt
  redbot/core/__init__.py
  redbot/core/commands/commands.py
  setup.py
Labels: QA: Bypassed, Type: Dependency Update, V3

#2375 Reconcile permission hooks with ctx.permission_state
  redbot/core/bot.py
  redbot/core/commands/requires.py
Labels: QA: Passed, Type: Fix, V3

#2379 [V3 maintaining] quick extra comment of importance
  redbot/core/commands/requires.py
Labels: QA: Bypassed, Type: Informational, V3

#2364 [V3 Docs] Add easier to use windows install instructions using chocolately + PS
  docs/conf.py
  docs/install_windows.rst
Labels: Category: Docs, QA: Unassigned, V3

#2319 [V3] Correct return typing
  redbot/core/core_commands.py
Labels: QA: Bypassed, Type: Fix, V3

#2383 Missing word and more clear print.
  redbot/core/cli.py
Labels: QA: Bypassed, Type: Fix, V3

#2272 [Audio] Lavalink 3.0/3.1 compatibility updates
  redbot/cogs/audio/manager.py
  setup.py
Labels: QA: Passed, Type: Enhancement, V3

#2395 Update Travis badge in README to travis-ci.com
  README.md
Labels: QA: Bypassed, Type: Fix, V3

#2394 Bump minimum python version to 3.7.0
  .github/CONTRIBUTING.md
  .readthedocs.yml
  .travis.yml
  README.md
  docs/conf.py
  docs/guide_cog_creation.rst
  docs/install_linux_mac.rst
  docs/install_windows.rst
  docs/venv_guide.rst
  redbot/__init__.py
  redbot/launcher.py
  setup.py
  tox.ini
Labels: QA: Passed, Type: Dependency Update, V3

#2393 Use python-Levenshtein-wheels
  Pipfile
  Pipfile.lock
  redbot/core/events.py
  setup.py
Labels: QA: Bypassed, Type: Dependency Update, Type: Enhancement, V3

#2398 Fixed our missing templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/command_bug.md
  .github/ISSUE_TEMPLATE/feature_req.md
  .github/ISSUE_TEMPLATE/other_bug.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/bugfix.md
  .github/PULL_REQUEST_TEMPLATE/enhancement.md
  .github/PULL_REQUEST_TEMPLATE/new_feature.md
  .github/PULL_REQUEST_TEMPLATE/release.md
  .github/PULL_REQUEST_TEMPLATE/translations.md
Labels: QA: Bypassed, Type: Fix, V3
