Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2019-07, with the labels that each got.

#2819 Add uvloop as Posix+CPython dependency and tweak new Make recipes
  .github/CONTRIBUTING.md
  Makefile
  make.bat
  setup.cfg
  tools/dev-requirements.txt
  tools/primary_deps.ini
Labels: Type: Enhancement

#2829 [Downloader/Core] RepoManager: don't load repos in `__init__`
  redbot/cogs/downloader/repo_manager.py
  redbot/setup.py
Labels: Type: Fix

#2825 [Trivia] Changes from v2 trivia PRs for v3 (part 2)
  redbot/cogs/trivia/data/lists/cars.yaml
Labels: Category: Trivia Lists, Type: Fix

#2822 [Audio] _enqueue_tracks clarification/fix
  redbot/cogs/audio/audio.py
Labels: Type: Fix

#2824 [Audio] Catch unhandled internal folder types
  redbot/cogs/audio/audio.py
Labels: Type: Fix

#2761 [Bank API] Add cost decorator
  docs/framework_bank.rst
  redbot/core/bank.py
  redbot/core/commands/errors.py
  redbot/core/events.py
Labels: QA: Passed, Type: Enhancement, Type: Feature

#2834 [Context] Adds react_quietly method to context
  redbot/core/commands/context.py
Labels: Type: Feature

#2832 [Mongo] Escape identifiers before extracting value
  redbot/core/drivers/red_mongo.py
Labels: High Priority, Type: Fix

#2842 [Audio] Check for player when not connected
  redbot/cogs/audio/audio.py
Labels: Type: Fix

#2852 Added some periods to some strings
  redbot/cogs/modlog/modlog.py
Labels: Type: Fix

#2848 [ModLog] Prevent duplicate kwarg error
  redbot/core/modlog.py
Labels: Type: Fix

#2854 [Core] Cog load fixes
  redbot/core/bot.py
Labels: High Priority, Type: Fix

#2858 [Modlog] Fix get_case for missing cases
  redbot/core/modlog.py
Labels: Type: Fix

#2857 Make Requires.verify() wait until rules are loaded
  redbot/__main__.py
  redbot/cogs/permissions/__init__.py
  redbot/cogs/permissions/permissions.py
  redbot/core/bot.py
  redbot/core/commands/requires.py
Labels: High Priority, Type: Fix

#2813 [Audio] Update equalizer permissions
  redbot/cogs/audio/audio.py
Labels: Type: Enhancement

#2860 [Docs] Add awaits and missing imports in usage examples
  docs/framework_bank.rst
  docs/framework_modlog.rst
Labels: Category: Docs

#2865 [Permissions] Send help on missing argument
  redbot/cogs/permissions/permissions.py
Labels: Type: Fix

#2868 [Permissions] Fix Requires.ready_event.set() on subcommands
  redbot/core/bot.py
Labels: Type: Fix

#2870 command translator quick fix
  redbot/core/commands/commands.py
Labels: Type: Fix

#2876 [CustomCom] Fix broken custom commands
  redbot/cogs/customcom/customcom.py
Labels: High Priority, Type: Fix

#2877 [ModLog] Fix get_case() and get_casetype()
  redbot/core/modlog.py
Labels: High Priority, Type: Fix

#2878 Revert "Update Crowdin configuration file"
  crowdin.yml
Labels: QA: Bypassed, Type: Fix

#2873 Add towncrier
  .github/CONTRIBUTING.md
  Makefile
  changelog.d/.gitignore
  changelog.d/2872.feature.rst
  changelog.d/admin/.gitignore
  changelog.d/alias/.gitignore
  changelog.d/audio/.gitignore
  changelog.d/bank/.gitignore
  changelog.d/cleanup/.gitignore
  changelog.d/customcom/.gitignore
  changelog.d/downloader/.gitignore
  changelog.d/economy/.gitignore
  changelog.d/filter/.gitignore
  changelog.d/general/.gitignore
  changelog.d/image/.gitignore
  changelog.d/mod/.gitignore
  changelog.d/modlog/.gitignore
  changelog.d/mutes/.gitignore
  changelog.d/permissions/.gitignore
  changelog.d/reports/.gitignore
  changelog.d/streams/.gitignore
  changelog.d/trivia/.gitignore
  changelog.d/warnings/.gitignore
  make.bat
  pyproject.toml
  setup.cfg
  tools/check_changelog_entries.sh
  tools/primary_deps.ini
  tox.ini
Labels: Category: Docs

#2882 add version guarantees to docs
  changelog.d/2882.docs.rst
  docs/guide_cog_creation.rst
  docs/index.rst
  docs/version_guarantees.rst
Labels: Category: Docs

#2654 Config locks
  changelog.d/2654.feature.rst
  redbot/core/config.py
  redbot/core/drivers/red_base.py
  tests/core/test_config.py
Labels: Type: Feature

#2892 disabled help hideaways
  changelog.d/2863.fix.rst
  changelog.d/2892.enhance.rst
  changelog.d/2892.fix.1.rst
  redbot/core/commands/commands.py
  redbot/core/commands/help.py
Labels: QA: Passed, Type: Fix

#2901 [ModLog API] Add default casetypes, remove need for a specific auditlog action
  changelog.d/2897.breaking.1.rst
  changelog.d/2897.bugfix.1.rst
  changelog.d/2897.enhance.2.rst
  changelog.d/2897.enhance.3.rst
  changelog.d/mod/2897.misc.rst
  docs/framework_modlog.rst
  redbot/__main__.py
  redbot/cogs/filter/filter.py
  redbot/cogs/mod/abc.py
  redbot/cogs/mod/events.py
  redbot/cogs/mod/kickban.py
  redbot/cogs/mod/mod.py
  redbot/core/generic_casetypes.py
  redbot/core/modlog.py
  redbot/pytest/mod.py
  tests/cogs/test_mod.py
Labels: Breaking Change, QA: Needed, Type: Enhancement

#2907 Merge V3/release/3.1.5 into V3/develop
  redbot/__init__.py
  redbot/cogs/audio/manager.py
Labels: QA: Bypassed, Type: Fix
