Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2019-09, with the labels that each got.

#2967 Rename `bot.db` as `bot._config`
  changelog.d/2967.breaking.rst
  docs/framework_apikeys.rst
  redbot/__main__.py
  redbot/cogs/audio/audio.py
  redbot/cogs/bank/bank.py
  redbot/cogs/image/image.py
  redbot/cogs/streams/streams.py
  redbot/core/bot.py
  redbot/core/commands/context.py
  redbot/core/commands/help.py
  redbot/core/commands/requires.py
  redbot/core/core_commands.py
  redbot/core/dev_commands.py
  redbot/core/events.py
  redbot/core/global_checks.py
  redbot/core/utils/__init__.py
  redbot/core/utils/mod.py
Labels: Breaking Change, QA: Passed, Type: Enhancement

#2971 [Modlog] userinfo stops breaking with high numbers of roles on a user
  changelog.d/mod/2910.bugfix.rst
  redbot/cogs/mod/names.py
Labels: QA: Changes Requested, Type: Fix

#2974 Fixes the strings of `[p]set usebotcolor`
  changelog.d/2974.bugfix.rst
  redbot/core/core_commands.py
Labels: Type: Fix

#2992 [Permissions] Possible solution for clearing out usage of commands with <who_or_what>
  changelog.d/permissions/2991.enhance.rst
  redbot/cogs/permissions/permissions.py
Labels: Type: Fix

#2993 Tempban logging improvement
  changelog.d/mod/2993.misc.rst
  redbot/cogs/mod/kickban.py
Labels: Type: Enhancement

#2996 [Trivia] Overwatch - Remove a blank answer
  changelog.d/trivia/2996.bugfix.rst
  redbot/cogs/trivia/data/lists/overwatch.yaml
Labels: Category: Trivia Lists, Type: Fix

#3000 Clarify usage of humanize_timedelta
  changelog.d/2986.docs.rst
  changelog.d/2986.misc.rst
  redbot/core/utils/chat_formatting.py
Labels: Category: Docs, Type: Enhancement

#3004 Fixes the logic of MessagePredicate.greater and MessagePredicate.less
  changelog.d/3004.bugfix.rst
  redbot/core/utils/predicates.py
Labels: Type: Fix

#2997 Fixed crash originated in `bank.set_balance`
  changelog.d/2997.misc.rst
  redbot/core/bank.py
Labels: QA: Passed, Type: Fix

#3002 Remove a specific f-string usage in the launcher.
  changelog.d/3002.bugfix.rst
  redbot/launcher.py
Labels: Type: Fix

#3015 Fix an issue with clearing permission rules
  changelog.d/3014.bugfix.rst
  redbot/core/commands/commands.py
Labels: Type: Fix

#2970 [Downloader] findcog no longer attempts to find cogs for commands without them
  changelog.d/downloader/2902.bugfix.rst
  redbot/cogs/downloader/downloader.py
Labels: Type: Fix

#2976 More privatization, and some error helpers
  changelog.d/2976.breaking.rst
  redbot/cogs/downloader/downloader.py
  redbot/core/2976.feature.rst
  redbot/core/bot.py
  redbot/core/cli.py
  redbot/core/cog_manager.py
  redbot/core/commands/help.py
  redbot/core/core_commands.py
  redbot/core/dev_commands.py
  redbot/core/events.py
  redbot/core/global_checks.py
  redbot/pytest/cog_manager.py
Labels: Breaking Change, QA: Passed, Type: Enhancement

#3016 Change the hierarchy issue messages
  changelog.d/admin/3016.enhance.rst
  redbot/cogs/admin/admin.py
Labels: Needs Changelog Entry, Type: Enhancement

#3017 Fixes an issue with allowed_by_whitelist_blacklist
  changelog.d/3017.misc.rst
  redbot/core/bot.py
Labels: Type: Fix

#3013 [CustomCom] Use simple by default
  changelog.d/customcom/1767.enhance.rst
  redbot/cogs/customcom/customcom.py
Labels: Type: Enhancement

#3009 fix uptime for uptime of less than a second
  changelog.d/3008.bugfix.rst
  redbot/core/core_commands.py
  redbot/core/global_checks.py
Labels: QA: Passed, Type: Fix

#2977 Reserves command names
  changelog.d/2973.breaking.rst
  redbot/cogs/alias/alias.py
  redbot/cogs/customcom/customcom.py
  redbot/core/commands/commands.py
Labels: Breaking Change

#2983 Fixes `[p]trivia leaderboard` not running.
  changelog.d/trivia/2911.bugfix.rst
  redbot/cogs/trivia/trivia.py
Labels: QA: Passed, Type: Fix

#2995 [Docs] Link directly to installing Red from installing requirements using chocolatey section
  changelog.d/2995.docs.rst
  docs/install_windows.rst
Labels: Category: Docs, Type: Enhancement

#2994 [Trivia] Greek Myth: Caduceus Typo
  changelog.d/trivia/2994.bugfix.rst
  redbot/cogs/trivia/data/lists/greekmyth.yaml
Labels: Category: Trivia Lists, Type: Fix

#2969 [Core] Give friendly error when provided instance name doesn't exist.
  changelog.d/2968.bugfix.rst
  redbot/core/data_manager.py
Labels: Type: Fix

#2881 [Commands] `cls` parameter can now be passed to group like in d.py
  changelog.d/2881.enhance.rst
  redbot/core/commands/commands.py
Labels: Type: Fix

#2887 [Tunnel] Add `use_cached` and `images_only` kwargs to `files_from_attach`
  changelog.d/2885.misc.rst
  redbot/core/utils/tunnel.py
Labels: Status: Needs Discussion, Type: Enhancement

#3012 Quotes in helpset tagline for clarity
  changelog.d/3010.bugfix.rst
  redbot/core/core_commands.py
Labels: Type: Fix

#2998 [Docs] Git Install Updates, note about launcher deprecation, capitalise some words
  changelog.d/2998.docs.rst
  docs/install_linux_mac.rst
  docs/install_windows.rst
Labels: Category: Docs, Type: Fix
