Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2019-11, with the labels that each got.

#2105 Added documentation for PM2
  changelog.d/2105.docs.rst
  docs/autostart_pm2.rst
  docs/index.rst
Labels: Category: Docs, QA: Needed, Type: Feature

#3041 [Permissions] Ensure defaults are cleared when clearing all rules
  changelog.d/permissions/3037.bugfix.rst
  redbot/cogs/permissions/permissions.py
  redbot/core/bot.py
  redbot/core/commands/requires.py
Labels: Type: Fix

#3098 Merge 3.1.7
  redbot/__init__.py
  redbot/cogs/audio/manager.py
  setup.cfg
Labels: QA: Bypassed

#2965 Allow keeping data in `redbot-setup delete`
  changelog.d/2962.enhance.rst
  redbot/setup.py
Labels: Type: Enhancement

#3028 Add autostart documentation for venv users
  changelog.d/3005.docs.rst
  docs/autostart_systemd.rst
Labels: Category: Docs, Type: Enhancement

#3085 [Audio] Expose FriendlyException on play command
  changelog.d/audio/3085.enhance.1.rst
  redbot/cogs/audio/audio.py
Labels: Type: Enhancement

#2571 [V3 Downloader] Revision tracking
  .github/CODEOWNERS
  changelog.d/2571.misc.rst
  changelog.d/downloader/1866.enhance.rst
  changelog.d/downloader/2527.docs.rst
  changelog.d/downloader/2527.enhance.1.rst
  changelog.d/downloader/2527.enhance.2.rst
  changelog.d/downloader/2527.feature.1.rst
  changelog.d/downloader/2527.feature.2.rst
  changelog.d/downloader/2527.feature.3.rst
  changelog.d/downloader/2527.feature.4.rst
  changelog.d/downloader/2527.feature.5.rst
  changelog.d/downloader/2527.feature.6.rst
  changelog.d/downloader/2527.misc.1.rst
  changelog.d/downloader/2571.bugfix.1.rst
  changelog.d/downloader/2571.bugfix.2.rst
  changelog.d/downloader/2571.dep.rst
  changelog.d/downloader/2571.enhance.rst
  changelog.d/downloader/2571.misc.rst
  changelog.d/downloader/2927.bugfix.rst
  docs/framework_downloader.rst
  redbot/__init__.py
  redbot/__main__.py
  redbot/cogs/downloader/checks.py
  redbot/cogs/downloader/converters.py
  redbot/cogs/downloader/downloader.py
  redbot/cogs/downloader/errors.py
  redbot/cogs/downloader/installable.py
  redbot/cogs/downloader/json_mixins.py
  redbot/cogs/downloader/repo_manager.py
  redbot/pytest/.gitattributes
  redbot/pytest/downloader.py
  redbot/pytest/downloader_testrepo.export
  redbot/pytest/downloader_testrepo.md
  setup.cfg
  tests/cogs/downloader/test_downloader.py
  tests/cogs/downloader/test_git.py
  tests/cogs/downloader/test_installable.py
  tests/conftest.py
  tools/edit_testrepo.py
  tools/primary_deps.ini
Labels: Big fella, Breaking Change, Type: Feature

#3060 [Core] Add `redbot --edit` cli flag (replacement for `[p]set owner&token`)
  changelog.d/3060.enhance.rst
  changelog.d/3060.feature.rst
  changelog.d/3060.fix.rst
  redbot/__main__.py
  redbot/core/cli.py
  redbot/launcher.py
  redbot/setup.py
Labels: Type: Feature

#3099 Remove the mongo driver
  .readthedocs.yml
  .travis.yml
  changelog.d/3099.breaking.rst
  docs/framework_config.rst
  docs/install_linux_mac.rst
  docs/install_windows.rst
  redbot/core/drivers/__init__.py
  redbot/core/drivers/json.py
  redbot/core/drivers/mongo.py
  redbot/core/events.py
  redbot/launcher.py
  redbot/setup.py
  setup.cfg
  tests/conftest.py
  tools/dev-requirements.txt
  tools/primary_deps.ini
  tox.ini
Labels: Type: Removal

#3090 License info command
  changelog.d/3090.feature.rst
  redbot/__main__.py
  redbot/cogs/permissions/permissions.py
  redbot/core/commands/commands.py
  redbot/core/core_commands.py
Labels: Type: Feature

#3073 reorder some startup to prevent heartbeat issues
  changelog.d/3045.enhance.rst
  changelog.d/3073.breaking.rst
  redbot/__main__.py
  redbot/cogs/audio/__init__.py
  redbot/cogs/audio/apis.py
  redbot/cogs/audio/audio.py
  redbot/cogs/audio/audio_dataclasses.py
  redbot/cogs/audio/utils.py
  redbot/core/bot.py
  redbot/core/events.py
Labels: Breaking Change, Type: Enhancement

#3110 [Docs] get_shared_api_keys -> get_shared_api_tokens
  changelog.d/3110.docs.rst
  docs/framework_apikeys.rst
Labels: Needs Changelog Entry

#3104 [Audio-3.2] Fix an issue with mixplaylist being recognised as single tracks
  changelog.d/audio/3104.misc.1.rst
  redbot/cogs/audio/audio_dataclasses.py
Labels: Type: Fix

#3119 [Audio] Stop player before destroying on emptydisconnect
  changelog.d/audio/3050.bugfix.rst
  redbot/cogs/audio/audio.py
Labels: Type: Fix

#3125 [Docs] Add information about ``info.json``'s ``min_python_version`` key in Downloader Framework page.
  changelog.d/3124.docs.rst
  docs/framework_downloader.rst
Labels: Category: Docs

#3131 Add .codeclimate.yml
  .codeclimate.yml
Labels: QA: Bypassed

#3139 Changes from 3.1.8
  redbot/__init__.py
  setup.cfg
Labels: QA: Bypassed

#3142 [Downloader] Make `Repo.clean_url` work with relative urls.
  changelog.d/downloader/3141.bugfix.rst
  redbot/cogs/downloader/repo_manager.py
Labels: Type: Fix

#3058 [audio] adds typing indicator to playlist dedupe
  changelog.d/audio/3058.enhancement.rst
  redbot/cogs/audio/audio.py
Labels: Type: Enhancement

#3118 [Core] Add [p]listdisabled command
  changelog.d/3118.feature.rst
  redbot/core/core_commands.py
Labels: QA: Passed, Type: Feature

#3048 Audio playlist capitalisation changes
  changelog.d/audio/3048.bugfix.rst
  redbot/cogs/audio/audio.py
Labels: Type: Fix

#3051 [Audio] Improve help string for `[p]audioset emptydisconnect`
  changelog.d/audio/3051.enhance.rst
  redbot/cogs/audio/audio.py
Labels: Type: Enhancement

#3146 [Core] Dispatch `on_red_api_tokens_update` event on api keys update
  changelog.d/3134.docs.rst
  changelog.d/3134.feature.rst
  docs/framework_apikeys.rst
  redbot/core/bot.py
Labels: Type: Enhancement, Type: Feature
