Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2019-04, with the labels that each got.

#2501 [V3 Mod] Use a composite class for mod
  redbot/cogs/mod/abc.py
  redbot/cogs/mod/casetypes.py
  redbot/cogs/mod/converters.py
  redbot/cogs/mod/events.py
  redbot/cogs/mod/kickban.py
  redbot/cogs/mod/mod.py
  redbot/cogs/mod/movetocore.py
  redbot/cogs/mod/mutes.py
  redbot/cogs/mod/names.py
  redbot/cogs/mod/settings.py
Labels: QA: Unassigned, V3

#2476 [V3 Audio] Queue clean and queue clear addition
  redbot/cogs/audio/audio.py
Labels: QA: Needed, Type: Feature, V3

#2274 [V3 Audio] Playlist info improvements
  redbot/cogs/audio/audio.py
Labels: QA: Needed, Type: Enhancement, V3

#2521 [Audio] Match v2 behavior for channel change
  redbot/cogs/audio/audio.py
Labels: QA: Unassigned, V3

#2539 [Docs] Adds `self` recommendation to `cog_data_path`
  redbot/core/data_manager.py
Labels: QA: Unassigned, V3

#2526 [V3 Trivia] Update "World" trivias to reflect legislative changes
  redbot/cogs/trivia/data/lists/worldcapitals.yaml
  redbot/cogs/trivia/data/lists/worldflags.yaml
  redbot/cogs/trivia/data/lists/worldmap.yaml
Labels: QA: Unassigned, V3

#2523 [V3 Downloader] Tell user how to load the cog after [p]cog install
  redbot/cogs/downloader/downloader.py
Labels: QA: Unassigned, V3

#2509 [Filter] Performance increases.
  redbot/cogs/filter/filter.py
Labels: QA: Unassigned, Type: Optimisation, V3

#2531 Fix localwhitelist/localblacklist add/remove
  redbot/core/core_commands.py
Labels: QA: Unassigned, V3

#2507 Tunnel fix - When tunnel closes, message should be sent to other end
  redbot/core/utils/tunnel.py
Labels: QA: Unassigned, Type: Fix, V3

#2448 [Permissions] Allow multiple IDs when setting rules
  redbot/cogs/permissions/permissions.py
Labels: QA: Needed, Type: Enhancement, V3

#2502 Logging enhancements and cleanup
  redbot/__main__.py
  redbot/core/cli.py
  redbot/core/config.py
  redbot/core/json_io.py
  redbot/logging.py
Labels: QA: Needed, Type: Enhancement, V3

#2469 Delete cooldown messages when expired
  redbot/core/events.py
Labels: QA: Unassigned, Type: Enhancement, V3

#2455 [V3 Alias] Customize Parameters
  redbot/cogs/alias/alias.py
Labels: QA: Passed, Type: Feature, V3

#2536 [V3 Config] Update Mongo document organization to bypass doc size restriction
  redbot/core/config.py
  redbot/core/drivers/__init__.py
  redbot/core/drivers/red_base.py
  redbot/core/drivers/red_json.py
  redbot/core/drivers/red_mongo.py
  redbot/setup.py
Labels: QA: Unassigned, Type: Enhancement, Type: Fix, V3

#2540 [Trivia] Fix of dead image link (world flags)
  redbot/cogs/trivia/data/lists/worldflags.yaml
Labels: QA: Unassigned, V3

#2551 [V3 ModLog] Change register_casetypes behavior
  redbot/core/modlog.py
Labels: QA: Unassigned, V3

#2545 [V3 Config] Require custom group initialization before usage
  redbot/cogs/permissions/permissions.py
  redbot/cogs/reports/reports.py
  redbot/core/config.py
  redbot/core/drivers/red_base.py
  redbot/pytest/core.py
  tests/core/test_config.py
Labels: Breaking Change, QA: Unassigned, V3

#2554 Kill DataConverter
  README.md
  docs/cog_dataconverter.rst
  docs/framework_utils.rst
  docs/guide_data_conversion.rst
  docs/index.rst
  redbot/cogs/dataconverter/__init__.py
  redbot/cogs/dataconverter/core_specs.py
  redbot/cogs/dataconverter/dataconverter.py
  redbot/cogs/dataconverter/locales/ar-SA.po
  redbot/cogs/dataconverter/locales/bg-BG.po
  redbot/cogs/dataconverter/locales/da-DK.po
  redbot/cogs/dataconverter/locales/de-DE.po
  redbot/cogs/dataconverter/locales/el-GR.po
  redbot/cogs/dataconverter/locales/en-PT.po
  redbot/cogs/dataconverter/locales/es-ES.po
  redbot/cogs/dataconverter/locales/fi-FI.po
  redbot/cogs/dataconverter/locales/fr-FR.po
  redbot/cogs/dataconverter/locales/hu-HU.po
  redbot/cogs/dataconverter/locales/id-ID.po
  redbot/cogs/dataconverter/locales/it-IT.po
  redbot/cogs/dataconverter/locales/ja-JP.po
  redbot/cogs/dataconverter/locales/ko-KR.po
  redbot/cogs/dataconverter/locales/lol-US.po
  redbot/cogs/dataconverter/locales/nl-NL.po
  redbot/cogs/dataconverter/locales/no-NO.po
  redbot/cogs/dataconverter/locales/pl-PL.po
  redbot/cogs/dataconverter/locales/pt-BR.po
  redbot/cogs/dataconverter/locales/pt-PT.po
  redbot/cogs/dataconverter/locales/ru-RU.po
  redbot/cogs/dataconverter/locales/sk-SK.po
  redbot/cogs/dataconverter/locales/sv-SE.po
  redbot/cogs/dataconverter/locales/tr-TR.po
  redbot/cogs/dataconverter/locales/zh-CN.po
  redbot/core/utils/data_converter.py
  redbot/pytest/dataconverter.py
  tests/cogs/dataconverter/__init__.py
  tests/cogs/dataconverter/data/mod/past_nicknames.json
  tests/cogs/dataconverter/test_dataconverter.py
Labels: QA: Unassigned, V3

#2565 [V3 Test] Make sure that trivia test will use utf-8 encoding
  tests/cogs/test_trivia.py
Labels: QA: Unassigned, V3

#2556 [Audio] Fix for prev command display
  redbot/cogs/audio/audio.py
Labels: QA: Unassigned, V3

#2557 [Audio] Fix for localtrack playing
  redbot/cogs/audio/audio.py
Labels: QA: Unassigned, V3

#2563 Fix message when user hits max credits
  redbot/cogs/economy/economy.py
Labels: QA: Unassigned, V3

#2525 [V3 Audio] If bot has move members perm, it can join to user-limited channels
  redbot/cogs/audio/audio.py
Labels: V3

#2550 [V3 Config] Record custom group information using cog_add event
  redbot/core/bot.py
  redbot/core/config.py
  redbot/core/events.py
Labels: QA: Unassigned, V3

#2567 [V3 Core] Print actual version, when `--version` flag is used
  redbot/__main__.py
Labels: QA: Unassigned, V3

#2570 Add some errors for conversions and only allow MongoV2 creation
  redbot/core/drivers/__init__.py
  redbot/setup.py
Labels: QA: Unassigned, V3

#2580 [V3 Mongo] Fix all behavior
  redbot/core/drivers/red_mongo.py
Labels: QA: Bypassed, V3

#2581 [V3 Mongo] Correct dictionary rebuilding process for global all case
  redbot/core/drivers/red_mongo.py
Labels: QA: Bypassed, V3

#2533 [Audio] Fix issue on audiostats command when more than 20 servers to display
  redbot/cogs/audio/audio.py
Labels: QA: Unassigned, V3

#2579 [V3 Setup] Overhaul backend conversion process through setup scripts
  Pipfile.lock
  redbot/core/drivers/__init__.py
  redbot/core/drivers/red_base.py
  redbot/core/drivers/red_json.py
  redbot/core/drivers/red_mongo.py
  redbot/launcher.py
  redbot/setup.py
  setup.cfg
Labels: QA: Unassigned, V3

#2593 [mongo setup] Utilize getpass
  redbot/core/drivers/red_mongo.py
Labels: QA: Unassigned, V3

#2594 [Setup] Fix the mongo name to create instances using new driver
  redbot/setup.py
Labels: QA: Unassigned, V3

#2585 Sanitize API tokens in debug and eval
  redbot/core/dev_commands.py
Labels: QA: Unassigned, V3

#2588 [V3] Fix extras in the launcher
  redbot/launcher.py
Labels: QA: Bypassed, Type: Fix, V3

#2591 [Audio] Track search and append fixes
  redbot/cogs/audio/audio.py
Labels: QA: Unassigned, V3

#2586 [Audio] Fix for playlist queue when not playing
  redbot/cogs/audio/audio.py
Labels: QA: Unassigned, V3

#2498 [V3 Admin] Fix errors when hierarchy issues are raised
  redbot/cogs/admin/admin.py
Labels: QA: Unassigned, V3

#2471 [V3 Warnings] Utilize modlog cases
  redbot/cogs/warnings/warnings.py
Labels: QA: Needed, Type: Enhancement, V3

#2561 [V3 Cog] Add default cooldown to slots
  redbot/cogs/economy/economy.py
Labels: QA: Unassigned, V3

#2519 [V3 Audio] Cancel emptydisconnect when no longer alone
  redbot/cogs/audio/audio.py
Labels: QA: Unassigned, V3

#2479 [V3 Streams] Change twitch and youtube top level commands
  redbot/cogs/streams/streams.py
Labels: QA: Unassigned, Type: Enhancement, V3

#2590 [V3 Downloader] Stop including subpackages in cog list
  redbot/cogs/downloader/repo_manager.py
Labels: QA: Unassigned, V3

#2576 Pretties up the output when libraries fail to install
  redbot/cogs/downloader/downloader.py
Labels: QA: Unassigned, V3

#2592 [V3 Downloader] Uninstall multiple cogs
  redbot/cogs/downloader/downloader.py
Labels: QA: Unassigned, V3

#2597 [Utils] Better error handling for humanize_list
  redbot/core/utils/chat_formatting.py
Labels: QA: Unassigned, V3

#2600 [Streams] Add support for custom stream alert messages per guild
  redbot/cogs/streams/streams.py
Labels: QA: Passed, V3

#2602 [Mod] make [p]ban days parameter optional as per the doc
  redbot/cogs/mod/kickban.py
Labels: QA: Unassigned, V3

#2437 [Mod] Allow admin to choose amount of repeats for "deleterepeats"
  redbot/cogs/mod/__init__.py
  redbot/cogs/mod/events.py
  redbot/cogs/mod/mod.py
  redbot/cogs/mod/settings.py
Labels: QA: Unassigned, Type: Enhancement, V3

#2598 [Docs] Update docs for `redbot.core.humanize_list`
  redbot/core/utils/chat_formatting.py
Labels: QA: Unassigned, V3

#2595 [V3 Downloader] Always remove cog from installed in `[p]cog uninstall`
  redbot/cogs/downloader/downloader.py
Labels: QA: Unassigned, V3

#2553 Adds a check to [p]set locale
  redbot/core/core_commands.py
Labels: QA: Unassigned, V3

#2574 [V3 Docs] Add Central API Key Documentation
  docs/framework_apikeys.rst
  docs/index.rst
Labels: QA: Unassigned, V3

#2606 [Audio] DJ role should ask for a role
  redbot/cogs/audio/audio.py
Labels: QA: Unassigned, V3

#2610 [Alias] cleanup issues missed with #2587
  redbot/cogs/alias/alias.py
  redbot/cogs/alias/alias_entry.py
Labels: QA: Unassigned, V3

#2603 [Drivers] Fix the check to raise detailed message about old mongo installs
  redbot/core/drivers/__init__.py
Labels: QA: Bypassed, V3

#2604 [Config] Migrate UUID for JSON backend
  redbot/core/config.py
  redbot/core/drivers/red_json.py
Labels: QA: Unassigned, V3

#2611 [Docs] Add initial changelog document
  docs/changelog_3_1_0.rst
  docs/index.rst
Labels: QA: Unassigned, V3

#2612 [Docs] Changelog entries for contributions by jack1142
  docs/changelog_3_1_0.rst
Labels: QA: Unassigned, V3

#2613 [V3 Dev] Fix repl command sanitize api keys
  redbot/core/dev_commands.py
Labels: QA: Unassigned, V3

#2614 Changelog entries for contributions by aikaterna
  docs/changelog_3_1_0.rst
Labels: QA: Unassigned, V3

#2615 Changelog entries for contributions by Preda
  docs/changelog_3_1_0.rst
Labels: QA: Passed, V3

#2621 [Commands] Fix built in check decorator order affecting permissions
  redbot/core/commands/commands.py
Labels: QA: Unassigned, V3

#2619 Remove error when unbanning an unknown user
  redbot/cogs/mod/kickban.py
Labels: QA: Unassigned, V3

#2620 [Streams] Add ability to exclude rerun streams from alerts
  docs/changelog_3_1_0.rst
  redbot/cogs/streams/streams.py
  redbot/cogs/streams/streamtypes.py
Labels: QA: Unassigned, V3

#2616 [CustomCom] Update command generator to work with dpy update
  redbot/cogs/customcom/customcom.py
Labels: QA: Unassigned, V3

#2627 [Docs] Changelog entries for contributions by Flame
  docs/changelog_3_1_0.rst
Labels: QA: Unassigned, V3

#2605 [V3 Downloader] Allow to specify minimum and maximum bot version in info.json
  docs/changelog_3_1_0.rst
  docs/framework_downloader.rst
  redbot/__init__.py
  redbot/cogs/downloader/downloader.py
  redbot/cogs/downloader/installable.py
  redbot/pytest/downloader.py
  tests/cogs/downloader/test_installable.py
Labels: QA: Unassigned, V3

#2625 [V3 Downloader] suppress `ExtensionNotLoaded` in `[p]cog uninstall` when unloading cog
  redbot/cogs/downloader/downloader.py
Labels: QA: Unassigned, V3

#2631 [Core_commands] Fix some missing i18n strings
  redbot/core/core_commands.py
Labels: QA: Unassigned, V3

#2617 Add `[p]cleanup between`
  redbot/cogs/cleanup/cleanup.py
  redbot/cogs/cleanup/converters.py
Labels: QA: Unassigned, V3

#2534 [Audio] Set cwd for localtracks on playlist start
  redbot/cogs/audio/audio.py
Labels: QA: Unassigned, V3

#2480 [V3 Audio] Add settable path for external Lavalink
  redbot/cogs/audio/audio.py
Labels: QA: Needed, Type: Enhancement, V3

#2626 Add patch for invalid path with `[p]backup`
  redbot/core/core_commands.py
Labels: QA: Unassigned, V3

#2495 Refactor internal Lavalink server management
  redbot/cogs/audio/__init__.py
  redbot/cogs/audio/audio.py
  redbot/cogs/audio/data/application.yml
  redbot/cogs/audio/manager.py
Labels: QA: Needed, Type: Enhancement, Type: Fix, V3

#2634 [Audio] Fix architecture blacklisting
  redbot/cogs/audio/audio.py
Labels: QA: Unassigned, V3
