Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2019-10, with the labels that each got.

#3024 Prevent error on empty install message.
  changelog.d/3024.bugfix.rst
  redbot/cogs/downloader/downloader.py
Labels: Type: Fix

#2659 [Docs] Getting started guide
  changelog.d/1734.docs.1.rst
  docs/.resources/code-grant.png
  docs/.resources/instances-ssh-button.png
  docs/.resources/red-console.png
  docs/.resources/ssh-output.png
  docs/Makefile
  docs/autostart_systemd.rst
  docs/conf.py
  docs/getting_started.rst
  docs/host-list.rst
  docs/index.rst
  docs/prolog.txt
Labels: Category: Docs, QA: Changes Requested, Type: Feature

#3029 [Downloader] Catch OSErrors from invalid repo names
  changelog.d/downloader/2827.bugfix.rst
  redbot/cogs/downloader/downloader.py
Labels: Type: Fix

#2904 [Audio] One PR to rule them all, One PR to find them, One PR to bring them all, and in the darkness bind them (all-in-one pr)
  changelog.d/audio/270.feature.rst
  changelog.d/audio/2861.bugfix.1.rst
  changelog.d/audio/2861.bugfix.2.rst
  changelog.d/audio/2861.enhance.1.rst
  changelog.d/audio/2861.enhance.2.rst
  changelog.d/audio/2861.feature.1.rst
  changelog.d/audio/2861.feature.2.rst
  changelog.d/audio/2861.feature.3.rst
  changelog.d/audio/2861.feature.4.rst
  changelog.d/audio/2861.feature.5.rst
  changelog.d/audio/2861.misc.1.rst
  changelog.d/audio/2861.misc.2.rst
  changelog.d/audio/2861.misc.3.rst
  changelog.d/audio/2861.misc.4.rst
  changelog.d/audio/2861.misc.5.rst
  changelog.d/audio/2861.misc.6.rst
  changelog.d/audio/2890.enhance.1.rst
  changelog.d/audio/2890.enhance.2.rst
  changelog.d/audio/2890.misc.1.rst
  changelog.d/audio/2890.misc.2.rst
  changelog.d/audio/2890.misc.3.rst
  changelog.d/audio/2904.bugfix.1.rst
  changelog.d/audio/2904.bugfix.2.rst
  changelog.d/audio/2904.bugfix.3.rst
  changelog.d/audio/2904.dep.1.rst
  changelog.d/audio/2904.dep.2.rst
  changelog.d/audio/2904.enhance.1.rst
  changelog.d/audio/2904.enhance.2.rst
  changelog.d/audio/2904.enhance.3.rst
  changelog.d/audio/2904.enhance.4.rst
  changelog.d/audio/2904.enhance.5.rst
  changelog.d/audio/2904.enhance.6.rst
  changelog.d/audio/2904.enhance.7.rst
  changelog.d/audio/2904.enhance.8.rst
  changelog.d/audio/2904.feature.1.rst
  changelog.d/audio/2904.feature.10.rst
  changelog.d/audio/2904.feature.2.rst
  changelog.d/audio/2904.feature.3.rst
  changelog.d/audio/2904.feature.4.rst
  changelog.d/audio/2904.feature.5.rst
  changelog.d/audio/2904.feature.6.rst
  changelog.d/audio/2904.feature.7.rst
  changelog.d/audio/2904.feature.8.rst
  changelog.d/audio/2904.feature.9.rst
  changelog.d/audio/2904.misc.1.rst
  changelog.d/audio/721.feature.rst
  redbot/cogs/audio/apis.py
  redbot/cogs/audio/audio.py
  redbot/cogs/audio/checks.py
  redbot/cogs/audio/converters.py
  redbot/cogs/audio/dataclasses.py
  redbot/cogs/audio/equalizer.py
  redbot/cogs/audio/errors.py
  redbot/cogs/audio/manager.py
  redbot/cogs/audio/playlists.py
  redbot/cogs/audio/utils.py
  redbot/core/commands/errors.py
  redbot/core/events.py
  setup.cfg
  tools/primary_deps.ini
Labels: Big fella, QA: Needed, Type: Enhancement, Type: Fix

#3052 Makes bot.send_filtered return the message that is sent
  changelog.d/3052.enhance.rst
  redbot/core/bot.py
Labels: Type: Enhancement

#3057 [Core] Fix error message about guild-only command and add dm-only error message
  changelog.d/3057.bugfix.rst
  changelog.d/3057.enhance.rst
  redbot/core/events.py
Labels: Type: Fix

#3053 [Docs] Change links to d.py docs to use pinned version instead of v1.0.1.
  changelog.d/3053.docs.1.rst
  changelog.d/3053.docs.2.rst
  docs/conf.py
  docs/guide_migration.rst
  docs/install_linux_mac.rst
  docs/install_windows.rst
Labels: Type: Enhancement

#3069 Merge 3.1.6
  changelog.d/3069.fix.rst
  redbot/__init__.py
  setup.cfg
Labels: QA: Bypassed

#3066 [Audio] Handle Missing SQL deps more gracefully
  changelog.d/audio/3065.bugfix.rst
  redbot/cogs/audio/apis.py
  redbot/cogs/audio/audio.py
Labels: Type: Fix

#3034 [Audio] Restart Lavalink after unexpected shutdown
  changelog.d/3033.bugfix.rst
  redbot/cogs/audio/manager.py
Labels: Type: Fix

#3032 [Docs] Link to Getting started guide at the end of installation guides
  changelog.d/3025.enhance.rst
  docs/install_linux_mac.rst
  docs/install_windows.rst
Labels: Category: Docs, Type: Enhancement

#3054 [Docs] Add missing descriptions for function returns
  changelog.d/3054.docs.rst
  redbot/cogs/downloader/repo_manager.py
  redbot/core/bot.py
  redbot/core/config.py
  redbot/core/data_manager.py
  redbot/core/drivers/mongo.py
  redbot/core/modlog.py
Labels: Category: Docs, Type: Enhancement

#3062 [Core/Downloader] Add 3rd-party lib folder to `sys.path` before loading cogs
  changelog.d/3036.bugfix.rst
  changelog.d/3062.bugfix.rst
  redbot/__main__.py
  redbot/cogs/downloader/downloader.py
Labels: Type: Fix

#2429 [RPC] Set custom port with flags
  changelog.d/2429.enhance.rst
  redbot/core/bot.py
  redbot/core/cli.py
  redbot/core/events.py
  redbot/core/rpc.py
Labels: QA: Needed, Type: Enhancement

#3022 Add support for accessing config by ids
  changelog.d/2804.feature.1.rst
  redbot/core/config.py
Labels: Breaking Change, Type: Enhancement

#3021 [Docs] Update Cog Creation guide install
  changelog.d/3021.docs.rst
  docs/guide_cog_creation.rst
Labels: Category: Docs, Type: Enhancement
