Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2019-05, with the labels that each got.

#2638 String format failure when `set` invoked without subcommand
  redbot/core/core_commands.py
Labels: QA: Unassigned, V3

#2338 [V3 core] on_message_without_command dispatch
  redbot/core/bot.py
Labels: QA: Needed, Type: Enhancement, Type: Feature, V3

#2639 Added voice kicking.
  redbot/cogs/mod/abc.py
  redbot/cogs/mod/casetypes.py
  redbot/cogs/mod/kickban.py
Labels: QA: Needed, QA: Unassigned, Type: Enhancement, V3

#2643 Fixed missing imports.
  docs/changelog_3_1_0.rst
  redbot/cogs/mod/abc.py
Labels: QA: Unassigned, V3

#2646 Fix grammar mistake by changing "to large" to "too large"
  redbot/core/core_commands.py
Labels: QA: Unassigned, V3

#2642 Changes default locale value to `en-US`
  docs/changelog_3_1_0.rst
  redbot/core/bot.py
Labels: QA: Unassigned, V3

#2650 Fix two typos
  redbot/core/commands/converter.py
Labels: QA: Unassigned, V3

#2547 [Audio] Update for Red-Lavalink 0.3.x
  redbot/cogs/audio/audio.py
  setup.cfg
Labels: QA: Unassigned, V3

#2584 [Audio] Add ability to skip to a specified track by number
  redbot/cogs/audio/audio.py
Labels: QA: Unassigned, V3

#2660 Update intershpinx refs
  docs/conf.py
  docs/guide_migration.rst
  docs/install_linux_mac.rst
  docs/install_windows.rst
Labels: Category: Docs, QA: Passed, Type: Fix, V3

#2661 Fix for 3.1
  redbot/cogs/cleanup/cleanup.py
Labels: QA: Unassigned, V3

#2664 [Core] Added co-owners to outdated message warnings
  redbot/__main__.py
  redbot/core/events.py
Labels: QA: Unassigned, Type: Enhancement, V3

#2658 [Docs] Typo fix
  docs/framework_apikeys.rst
Labels: QA: Unassigned, V3

#2663 [Docs] Update Mac install instructions for Java
  docs/install_linux_mac.rst
Labels: QA: Bypassed, V3

#2637 [V3 Economy] lookup users from the guild instead of using stored names
  redbot/cogs/economy/economy.py
Labels: QA: Unassigned, V3

#2652 Adds `[p]datapath` to print the bot's data path
  docs/changelog_3_1_0.rst
  redbot/core/core_commands.py
Labels: QA: Unassigned, V3

#2666 Add contributions to changelog
  docs/changelog_3_1_0.rst
Labels: QA: Unassigned, V3

#2668 [Docs] Add release notes for major functionality changes and instructions
  docs/changelog_3_1_0.rst
Labels: QA: Unassigned, V3

#2669 Lavalink bump
  redbot/cogs/audio/manager.py
Labels: QA: Unassigned, V3

#2670 Add contributions to changelog
  docs/changelog_3_1_0.rst
Labels: QA: Unassigned, V3

#2628 [Core] Help Redesign
  docs/changelog_3_1_0.rst
  redbot/core/bot.py
  redbot/core/commands/commands.py
  redbot/core/commands/context.py
  redbot/core/commands/help.py
  redbot/core/utils/__init__.py
Labels: QA: Unassigned, V3

#2671 [Mongo] Unescape dict keys when rebuild
  Pipfile
  Pipfile.lock
  redbot/core/drivers/red_mongo.py
Labels: QA: Unassigned, V3

#2326 Tools for marking things unsafe for general use
  docs/changelog_3_1_0.rst
  redbot/core/__init__.py
  redbot/core/utils/safety.py
Labels: QA: Unassigned, Type: Enhancement, V3

#2673 Update version number.
  redbot/__init__.py
Labels: QA: Unassigned, V3

#2674 [Help] Fixes some issues with fuzzy help
  redbot/__init__.py
  redbot/core/commands/help.py
Labels: QA: Unassigned, V3

#2677 [Core] Fix update notification
  redbot/core/events.py
Labels: QA: Unassigned, V3

#2675 [Mod] [p]names: make user keyword-only argument
  redbot/cogs/mod/names.py
Labels: QA: Unassigned, V3

#2678 Fixed command doc formatting in code blocks
  redbot/core/commands/help.py
Labels: QA: Unassigned, V3

#2684 [General] Shorten descriptions properly with disabled embeds
  redbot/cogs/general/general.py
Labels: QA: Unassigned, V3

#2680 Mention voice channel in `[p]userinfo`
  redbot/cogs/mod/names.py
Labels: QA: Passed, V3

#2691 [Changelog] Fix typo
  docs/changelog_3_1_0.rst
Labels: QA: Unassigned, V3

#2679 [V3 Streams] fix an issue with stream commands
  redbot/cogs/streams/streams.py
Labels: QA: Unassigned, Type: Fix, V3

#2693 [Core] Strip commas
  redbot/core/core_commands.py
Labels: QA: Unassigned, Status: Needs Discussion, V3

#2700 Adds ctx.typing() to `[p]pipinstall`
  redbot/cogs/downloader/downloader.py
Labels: QA: Unassigned, V3

#2699 [Streams] Fix NameError
  redbot/cogs/streams/streams.py
Labels: QA: Unassigned, V3

#2676 [Help] Continuing work and bug-fixes
  redbot/core/bot.py
  redbot/core/commands/help.py
  redbot/core/core_commands.py
Labels: QA: Unassigned, Type: Enhancement, Type: Fix, V3

#2707 [events] send help on BadUnionArgument exception
  redbot/core/events.py
Labels: QA: Unassigned, V3

#2709 [Setup] Fix wrong var used for instance data in `remove_instance`
  redbot/setup.py
Labels: QA: Unassigned, V3

#2713 Fix minor typo
  redbot/launcher.py
Labels: QA: Unassigned, V3

#2720 Allow partial use with menu
  redbot/core/utils/menus.py
Labels: QA: Unassigned, Type: Fix, V3

#2717 [Docs] Remove information about voice extra in install guide
  docs/install_linux_mac.rst
  docs/install_windows.rst
Labels: QA: Unassigned, V3

#2716 [Trivia] Remove bold on a box
  redbot/cogs/trivia/trivia.py
Labels: QA: Unassigned, V3

#2722 [Help] Special case fixing for empty docstring
  redbot/core/commands/help.py
Labels: QA: Passed, Type: Fix, V3

#2690 [Downloader] Fix problem with copying directory tree.
  redbot/cogs/downloader/installable.py
Labels: QA: Unassigned, Type: Fix, V3

#2732 Adding support for GitHub Funding
  .github/FUNDING.yml
Labels: QA: Bypassed, V3

#2729 Fixes some issues with API help commands
  redbot/cogs/image/image.py
  redbot/cogs/streams/streams.py
Labels: QA: Unassigned, V3

#2728 Add debug info command.
  redbot/core/core_commands.py
Labels: QA: Unassigned, V3

#2731 Add respectable aliases for consistency
  redbot/cogs/alias/alias.py
  redbot/cogs/customcom/customcom.py
  redbot/cogs/downloader/downloader.py
  redbot/cogs/filter/filter.py
  redbot/cogs/warnings/warnings.py
Labels: QA: Unassigned, V3

#2692 [Core] Improve API token converter
  redbot/core/commands/converter.py
  redbot/core/core_commands.py
Labels: QA: Passed, Type: Enhancement, V3

#2733 [Audio] Clarity changes for the API info commands
  redbot/cogs/audio/audio.py
Labels: QA: Unassigned, V3

#2735 [core_commands] Using humanize_timedelta for [p]uptime command
  redbot/core/core_commands.py
Labels: QA: Unassigned, V3

#2653 Fix giphy api
  redbot/cogs/image/image.py
Labels: QA: Unassigned, Type: Enhancement, V3

#2737 Fixes some language in image
  redbot/cogs/image/image.py
Labels: QA: Unassigned, V3

#2738 Send to owners
  redbot/core/bot.py
  redbot/core/events.py
Labels: QA: Unassigned, V3

#2736 Add a timedelta converter
  redbot/core/commands/converter.py
Labels: QA: Unassigned, V3

#2734 [p]slowmode
  redbot/cogs/mod/mod.py
  redbot/cogs/mod/slowmode.py
Labels: QA: Unassigned, V3

#2739 Fixed KeyError on specific message edge-case
  redbot/cogs/customcom/customcom.py
Labels: QA: Unassigned, V3

#2745 Add commands to manage owner notification destinations.
  redbot/core/core_commands.py
Labels: QA: Unassigned, V3

#2743 [Core] Make contact use configured destinations
  redbot/core/core_commands.py
Labels: QA: Unassigned, V3

#2747 Small typo fix: Anilist → AniList
  README.md
Labels: QA: Unassigned, V3

#2746 Adds support for non interactive use
  redbot/cogs/cleanup/cleanup.py
  redbot/cogs/downloader/downloader.py
  redbot/core/commands/context.py
Labels: QA: Unassigned, V3

#2730 [Help] Fix long cog helps
  redbot/core/commands/help.py
Labels: QA: Unassigned, Type: Fix, V3

#2688 [Core] Fix error handling in loading extensions.
  redbot/core/bot.py
Labels: QA: Needed, Type: Fix, V3

#2725 [Help] Detatch menu usage into a task
  redbot/core/commands/help.py
Labels: QA: Unassigned, Type: Fix, V3

#2750 [Audio] Lavalink jar bump
  redbot/cogs/audio/manager.py
Labels: QA: Unassigned, V3

#2748 [StreamAlerts] Fetch rerun status for Twitch only
  redbot/cogs/streams/streams.py
Labels: QA: Unassigned, V3

#2751 Update version number to 3.1.2 🎉
  redbot/__init__.py
Labels: QA: Unassigned, V3
