Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2019-03, with the labels that each got.

#2482 [V3 Audio] Playlist download addition
  redbot/cogs/audio/audio.py
Labels: QA: Passed, Type: Feature, V3

#2504 Fix translations of multiline strings
  redbot/core/i18n.py
Labels: QA: Needed, Type: Fix, V3

#2496 Spelling correction of method name in Tunnel
  redbot/cogs/reports/reports.py
  redbot/core/utils/tunnel.py
Labels: QA: Passed, Type: Fix, V3

#2472 [V3 Audio] Add option for dc at queue end
  redbot/cogs/audio/audio.py
Labels: QA: Passed, Type: Enhancement, V3

#2508 Fix typo
  redbot/cogs/trivia/data/lists/warcraft.yaml
Labels: Category: Trivia Lists, QA: Unassigned, Type: Fix, V3

#2511 Proper capitalization of `[p]blacklist` help text
  redbot/core/core_commands.py
Labels: QA: Bypassed, Type: Fix, V3

#2513 [Audio] Add songs when search-queuing
  redbot/cogs/audio/audio.py
Labels: QA: Bypassed, Type: Fix, V3

#2481 [V3 Audio] Fix for audioset status
  redbot/cogs/audio/audio.py
Labels: QA: Passed, Type: Fix, V3

#2515 Specify d.py branch in requirements.txt
  requirements.txt
  requirements_no_audio.txt
Labels: High Priority, Type: Fix, V2

#2470 [V3 Audio] Seek command can now seek to position
  redbot/cogs/audio/audio.py
Labels: QA: Passed, Type: Enhancement, V3

#2328 [V3 Audio] Add Spotify support
  LICENSE
  redbot/cogs/audio/audio.py
Labels: QA: Passed, Type: Enhancement, Type: Feature, V3
