Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2019-02, with the labels that each got.

#2406 prevent traceback
  redbot/cogs/mod/mod.py
Labels: QA: Passed, Type: Fix, V3

#2404 [V3] Improve usability of warnings/unwarn
  redbot/cogs/warnings/warnings.py
Labels: QA: Unassigned, V3

#2400 [V3 core_commands] Catch exception when message is deleted
  redbot/core/core_commands.py
Labels: QA: Unassigned, V3

#2410 [V3 Core] Send help on cog commands when no cogs specified
  redbot/core/core_commands.py
Labels: Backport to: 3.0, QA: Bypassed, Type: Fix, V3

#2413 Always tick Voice requirements on startup screen
  redbot/core/events.py
Labels: Backport to: 3.0, QA: Bypassed, Type: Fix, V3

#2281 [V3 Help] Group Fields respect page_char_limit
  redbot/core/help_formatter.py
Labels: QA: Passed, Type: Enhancement, V3

#2357 [Mod] Improved filter's help
  cogs/mod.py
Labels: Type: Enhancement, V2

#2418 Use V2 of RTD's configuration file
  .readthedocs.yml
  docs/requirements.txt
Labels: QA: Unassigned, V3

#2427 Minor changes to install docs
  docs/install_linux_mac.rst
  docs/venv_guide.rst
Labels: Category: Docs, QA: Bypassed, Type: Fix, V3

#2428 [Docs] Add note about pyenv optimisation flag
  docs/install_linux_mac.rst
Labels: Category: Docs, QA: Bypassed, Type: Enhancement, V3

#2426 [p]userinfo: Handle target w/ 'None' Member.joined_at
  redbot/cogs/mod/mod.py
Labels: QA: Unassigned, V3

#2431 [help_formatter] Remove unused characters
  redbot/core/help_formatter.py
Labels: QA: Passed, Type: Fix, V3

#2417 Allow [p]info customization
  redbot/core/bot.py
  redbot/core/core_commands.py
Labels: QA: Passed, Type: Feature, V3

#2432 Guard parsing of CLI args in launcher, setup scripts
  redbot/launcher.py
  redbot/setup.py
Labels: QA: Bypassed, Type: Fix, V3

#2425 [General] [p]userinfo: Handle 'None' Member.joined_at
  cogs/general.py
Labels: QA: Passed, Type: Fix, V2

#1924 [V2 Audio] Fixes channel full error while bot is in channel
  cogs/audio.py
Labels: QA: Passed, Type: Fix, V2

#1923 [V2] Audio cog checks for higher permission than needed
  cogs/audio.py
Labels: QA: Needed, Type: Fix, V2

#2411 Utilise setup.cfg, move version info to redbot package
  .travis.yml
  redbot/__init__.py
  redbot/core/__init__.py
  setup.cfg
  setup.py
Labels: QA: Unassigned, Type: Enhancement, Type: Optimisation, V3

#2438 [Audio] Include Lavalink V3 log settings in application.yml
  redbot/__init__.py
  redbot/cogs/audio/__init__.py
  redbot/cogs/audio/data/application.yml
  redbot/core/events.py
Labels: QA: Passed, Type: Fix, V3

#2439 Sentry removal
  .github/CODEOWNERS
  Pipfile.lock
  redbot/__main__.py
  redbot/core/bot.py
  redbot/core/cli.py
  redbot/core/core_commands.py
  redbot/core/events.py
  redbot/core/sentry.py
  tests/cogs/downloader/test_downloader.py
  tests/core/test_sentry.py
Labels: QA: Passed, Type: Enhancement, V3

#2422 Default rules for subcommands precede supercommands
  redbot/core/commands/commands.py
  redbot/core/commands/requires.py
Labels: Backport to: 3.0, Type: Fix, V3

#2440 [Docs] Link bot account guide
  docs/install_linux_mac.rst
  docs/install_windows.rst
Labels: Category: Docs, QA: Needed, V3

#2445 [V3 readme] Update support channel
  README.md
Labels: QA: Unassigned, V3

#2436 Update dependencies and copyright year
  LICENSE
  Makefile
  Pipfile.lock
  discord/__init__.py
  discord/__main__.py
  discord/abc.py
  discord/activity.py
  discord/audit_logs.py
  discord/backoff.py
  discord/calls.py
  discord/channel.py
  discord/client.py
  discord/colour.py
  discord/context_managers.py
  discord/embeds.py
  discord/emoji.py
  discord/enums.py
  discord/errors.py
  discord/ext/commands/__init__.py
  discord/ext/commands/bot.py
  discord/ext/commands/context.py
  discord/ext/commands/converter.py
  discord/ext/commands/cooldowns.py
  discord/ext/commands/core.py
  discord/ext/commands/errors.py
  discord/ext/commands/formatter.py
  discord/ext/commands/view.py
  discord/file.py
  discord/gateway.py
  discord/guild.py
  discord/http.py
  discord/invite.py
  discord/iterators.py
  discord/member.py
  discord/message.py
  discord/mixins.py
  discord/object.py
  discord/opus.py
  discord/permissions.py
  discord/player.py
  discord/raw_models.py
  discord/reaction.py
  discord/relationship.py
  discord/role.py
  discord/shard.py
  discord/state.py
  discord/utils.py
  discord/voice_client.py
  discord/webhook.py
  make.bat
  redbot/__init__.py
  redbot/__main__.py
  redbot/core/rpc.py
  setup.cfg
Labels: QA: Bypassed, Type: Dependency Update, V3

#2407 [V3 Core] Utilize consume rest, Union
  redbot/core/core_commands.py
Labels: Backport to: 3.0, QA: Passed, Type: Enhancement, Type: Fix, V3

#2262 [V3 Filter] Filter based on words for non-phrases
  redbot/cogs/filter/filter.py
Labels: QA: Passed, Type: Enhancement, V3

#2449 Guard module-level creation of Config objects
  redbot/__main__.py
  redbot/core/bank.py
  redbot/core/modlog.py
  redbot/pytest/economy.py
  redbot/pytest/mod.py
  tests/cogs/test_mod.py
Labels: QA: Bypassed, Type: Fix, V3

#2421 [V3 Downloader] Use shlex for subprocesses
  redbot/cogs/downloader/repo_manager.py
Labels: High Priority, QA: Unassigned, V3

#2454 Remove asyncio.Event creation from module level in Audio
  redbot/cogs/audio/manager.py
Labels: QA: Bypassed, Type: Fix, V3

#2456 [trivia] Fix typo in cars.yaml
  redbot/cogs/trivia/data/lists/cars.yaml
Labels: Backport to: 3.0, QA: Bypassed, V3

#2447 Prevent error when prompt is deleted.
  redbot/core/commands/context.py
Labels: Backport to: 3.0, QA: Passed, Type: Fix, V3

#2414 [Audio] Remove players which no longer have a guild.
  redbot/cogs/audio/audio.py
  setup.cfg
Labels: Backport to: 3.0, QA: Passed, Type: Fix, V3

#2401 [V3 common filters/context/modlog] Update for spoilers
  redbot/cogs/mod/mod.py
  redbot/core/modlog.py
  redbot/core/utils/common_filters.py
Labels: Backport to: 3.0, QA: Passed, Type: Enhancement, Type: Fix, V3

#2335 [v3 audio] connect to lavalink in the background
  redbot/cogs/audio/__init__.py
  redbot/cogs/audio/audio.py
  redbot/cogs/audio/manager.py
Labels: QA: Passed, Type: Fix, V3

#2459 Revert "[v3 audio] connect to lavalink in the background"
  redbot/cogs/audio/__init__.py
  redbot/cogs/audio/audio.py
  redbot/cogs/audio/manager.py
Labels: QA: Bypassed, Type: Fix, V3

#2460 V3/fix/2306 unable to set external lavalink
  Pipfile.lock
  redbot/cogs/audio/__init__.py
  redbot/cogs/audio/audio.py
  redbot/cogs/audio/manager.py
  setup.cfg
Labels: QA: Passed, Type: Enhancement, Type: Fix, V3

#2464 Remove unnecessary "or" from Config doc
  redbot/core/config.py
Labels: Category: Docs, QA: Bypassed, Type: Fix, V3

#2462 [V3 Audio] Remove aliases
  redbot/cogs/audio/audio.py
Labels: QA: Passed, Type: Enhancement, V3

#2461 [V3 Audio] Change pause to a toggle
  redbot/cogs/audio/audio.py
Labels: QA: Passed, Type: Enhancement, Type: Fix, V3

#2457 [V3 Audio] Play local folders via text command
  redbot/cogs/audio/audio.py
Labels: QA: Passed, Type: Enhancement, V3

#2412 improve cooldown UX
  redbot/core/events.py
  redbot/core/utils/chat_formatting.py
Labels: QA: Passed, Type: Enhancement, V3

#2389 [V3 Core] Allow central storage of API keys
  redbot/cogs/image/__init__.py
  redbot/cogs/image/image.py
  redbot/cogs/streams/streams.py
  redbot/cogs/streams/streamtypes.py
  redbot/core/bot.py
  redbot/core/commands/converter.py
  redbot/core/core_commands.py
Labels: QA: Changes Requested, Type: Feature, V3

#2205 [V3 Audio] Add playlist copy
  redbot/cogs/audio/audio.py
Labels: QA: Passed, Type: Feature, V3

#2467 Remove permissions's `p` alias
  redbot/cogs/permissions/permissions.py
Labels: QA: Bypassed, Type: Fix, V3

#2475 [trivia] Fix typo in cars.yaml
  redbot/cogs/trivia/data/lists/cars.yaml
Labels: Category: Trivia Lists, QA: Bypassed, Type: Fix, V3

#2223 [V3 Streams] remove communities support
  redbot/cogs/streams/errors.py
  redbot/cogs/streams/streams.py
  redbot/cogs/streams/streamtypes.py
Labels: QA: Passed, Type: Removal, V3

#2453 [Modlog] Add function to modlog API to get cases by member
  redbot/cogs/modlog/modlog.py
  redbot/core/modlog.py
Labels: QA: Needed, Type: Feature, V3

#2477 [Modlog] Fix case generation for cases which were not logged to modlog channel
  redbot/core/modlog.py
Labels: QA: Passed, Type: Fix, V3

#2442 Resolve network issue due to certificate failure
  docs/install_linux_mac.rst
Labels: Category: Docs, QA: Unassigned, Type: Fix, V3

#2458 Cooperate with custom error handlers
  redbot/core/commands/commands.py
  redbot/core/events.py
Labels: QA: Passed, Type: Fix, V3

#2478 Fix Command.error decorator
  redbot/core/commands/commands.py
Labels: QA: Bypassed, Type: Fix, V3

#2473 [V3 Audio] Emptydisconnect and status refactor
  redbot/cogs/audio/audio.py
Labels: QA: Passed, Type: Fix, V3

#2465 [V3 Audio] Add track length restriction
  redbot/cogs/audio/audio.py
Labels: QA: Passed, Type: Feature, V3

#2484 [Permissions] Exclude `@everyone` role when retrieving rules
  redbot/core/commands/requires.py
Labels: QA: Bypassed, Type: Fix, V3

#2489 Set aiohttp-json-rpc to version 0.12.1
  Pipfile.lock
  setup.cfg
Labels: QA: Needed, Type: Dependency Update, V3

#2384 Install SHARED_LIBRARY requirements during library installation
  redbot/cogs/downloader/downloader.py
  redbot/cogs/downloader/repo_manager.py
  redbot/pytest/downloader.py
  tests/cogs/downloader/test_downloader.py
  tests/cogs/downloader/test_installable.py
Labels: QA: Passed, Type: Enhancement, V3

#2358 [V3 Audio] Sort local files
  redbot/cogs/audio/audio.py
Labels: QA: Passed, Type: Enhancement, V3

#2483 [V3 Filter] Throw a filter Event on_filter_message_delete
  redbot/cogs/filter/filter.py
Labels: QA: Passed, Type: Feature, V3
