Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2020-10, with the labels that each got.

#4455 [Trivia] MLB Trivia
  redbot/cogs/trivia/data/lists/mlb.yaml
Labels: Category: Trivia Lists, QA: Changes Requested, Type: Feature

#4457 Update pyenv instructions to install Python 3.8.6
  docs/install_linux_mac.rst
Labels: Category: Docs, Changelog Entry: Skipped, Type: Enhancement

#4370 [Core] add `[p]set api list` and `[p]set api remove`
  docs/framework_apikeys.rst
  redbot/core/bot.py
  redbot/core/core_commands.py
Labels: Category: Bot Core, QA: Passed, Type: Feature

#4443 Add bundled install extras.
  redbot/core/events.py
  setup.cfg
  tools/dev-requirements.txt
Labels: Category: CI, Type: Enhancement

#4482 Update the link to 3rd-party cogs in README to use Red-Index
  README.md
Labels: Category: Docs, Changelog Entry: Skipped, Type: Enhancement, hacktoberfest-accepted

#4475 Add `wheel` to pre-requirements installed by make files
  Makefile
  make.bat
Labels: Category: Meta, Changelog Entry: Skipped, Type: Enhancement, hacktoberfest-accepted

#4474 [General] Fix error on long titles in `[p]urban`
  redbot/cogs/general/general.py
Labels: Category: General Cog, Type: Fix, hacktoberfest-accepted

#4472 Use `bot.get_user()` instead of `get_all_members()` in `[p]dm`
  redbot/core/core_commands.py
Labels: Category: Bot Core, Type: Enhancement, hacktoberfest-accepted

#4470 Use bot name instead of "Red" in `[p]info` and `[p]restart`
  redbot/core/core_commands.py
Labels: Category: Bot Core, Type: Enhancement, hacktoberfest-accepted

#4469 [Core] Pagify cog unload output properly
  redbot/core/core_commands.py
Labels: Category: Bot Core, Type: Fix, hacktoberfest-accepted

#4468 [Core] Strip commas on cog command when pagified
  redbot/core/cog_manager.py
Labels: Category: Bot Core, Type: Fix, hacktoberfest-accepted

#4446 Audio Cog - v2.3.0
  redbot/cogs/audio/apis/api_utils.py
  redbot/cogs/audio/apis/global_db.py
  redbot/cogs/audio/apis/interface.py
  redbot/cogs/audio/apis/local_db.py
  redbot/cogs/audio/apis/persist_queue_wrapper.py
  redbot/cogs/audio/apis/playlist_interface.py
  redbot/cogs/audio/apis/playlist_wrapper.py
  redbot/cogs/audio/apis/spotify.py
  redbot/cogs/audio/apis/youtube.py
  redbot/cogs/audio/audio_dataclasses.py
  redbot/cogs/audio/audio_logging.py
  redbot/cogs/audio/converters.py
  redbot/cogs/audio/core/__init__.py
  redbot/cogs/audio/core/abc.py
  redbot/cogs/audio/core/cog_utils.py
  redbot/cogs/audio/core/commands/audioset.py
  redbot/cogs/audio/core/commands/controller.py
  redbot/cogs/audio/core/commands/llset.py
  redbot/cogs/audio/core/commands/miscellaneous.py
  redbot/cogs/audio/core/commands/player.py
  redbot/cogs/audio/core/commands/playlists.py
  redbot/cogs/audio/core/commands/queue.py
  redbot/cogs/audio/core/events/cog.py
  redbot/cogs/audio/core/events/dpy.py
  redbot/cogs/audio/core/events/lavalink.py
  redbot/cogs/audio/core/tasks/lavalink.py
  redbot/cogs/audio/core/tasks/player.py
  redbot/cogs/audio/core/tasks/startup.py
  redbot/cogs/audio/core/utilities/__init__.py
  redbot/cogs/audio/core/utilities/equalizer.py
  redbot/cogs/audio/core/utilities/formatting.py
  redbot/cogs/audio/core/utilities/local_tracks.py
  redbot/cogs/audio/core/utilities/miscellaneous.py
  redbot/cogs/audio/core/utilities/parsers.py
  redbot/cogs/audio/core/utilities/player.py
  redbot/cogs/audio/core/utilities/playlists.py
  redbot/cogs/audio/core/utilities/queue.py
  redbot/cogs/audio/core/utilities/validation.py
  redbot/cogs/audio/manager.py
  redbot/cogs/audio/sql_statements.py
  redbot/cogs/audio/utils.py
Labels: Category: Audio Cog

#4434 [Trivia] Who's That Pokémon - Gen. IV
  redbot/cogs/trivia/data/lists/whosthatpokemon4.yaml
Labels: Category: Trivia Lists, Type: Feature

#4020 [Core] Add two missing full stops to `licenseinfo`
  redbot/core/core_commands.py
Labels: Category: Bot Core, Type: Enhancement

#4449 Remove protecting commands and cogs being removed with bot_remove_func
  redbot/core/bot.py
Labels: Category: Bot Core, Release Blocker, Type: Enhancement

#4480 Update Windows instructions to not install Python 3.9
  docs/install_linux_mac.rst
  docs/install_windows.rst
Labels: Category: Docs, Release Blocker, Type: Fix

#4422 Allow `[p]ban` to hackban and rename `[p]hackban` to `[p]massban`
  redbot/cogs/mod/kickban.py
Labels: Category: Mod Cog, QA: Passed, Type: Enhancement

#4473 [Mod] Add default tempban duration setting
  redbot/cogs/mod/kickban.py
  redbot/cogs/mod/mod.py
  redbot/cogs/mod/settings.py
Labels: Category: Mod Cog, Type: Feature, hacktoberfest-accepted

#4463 Handle verified bots, improve errors in `[p]set username`
  redbot/core/core_commands.py
Labels: Category: Bot Core, Type: Enhancement, Type: Fix, hacktoberfest-accepted

#4502 Creating bot account and enabling intents guide
  docs/.resources/bot-guide/discord_bot_tab.png
  docs/.resources/bot-guide/discord_bot_user_options.png
  docs/.resources/bot-guide/discord_create_app_button.png
  docs/.resources/bot-guide/discord_create_app_form.png
  docs/.resources/bot-guide/discord_create_bot_user.png
  docs/.resources/bot-guide/discord_privileged_intents.png
  docs/bot_application_guide.rst
  docs/index.rst
  docs/install_linux_mac.rst
  docs/install_windows.rst
  redbot/core/cli.py
Labels: Category: Docs, Release Blocker, Type: Feature, hacktoberfest-accepted

#4481 Fix `[p]cleanup self` not working in DMs for non-owners
  redbot/cogs/cleanup/checks.py
  redbot/cogs/cleanup/cleanup.py
Labels: Category: Cleanup Cog, Type: Fix, hacktoberfest-accepted

#4058 [Docs] More detailed info about args in Getting Started
  docs/getting_started.rst
Labels: Category: Docs, Type: Enhancement, Type: Fix

#4493 [Core] added some missing dots.
  redbot/core/core_commands.py
Labels: Category: Bot Core, Type: Fix, hacktoberfest-accepted

#4499 fix exception for empty strings in [p]choose
  redbot/cogs/general/general.py
Labels: Category: General Cog, Type: Fix, hacktoberfest-accepted

#4504 [Audio] Update Lavalink.jar build
  redbot/cogs/audio/manager.py
Labels: Category: Audio Cog, Type: Dependency Update, hacktoberfest-accepted

#4500 Grammar fixes
  docs/changelog_3_3_0.rst
  redbot/__main__.py
  redbot/cogs/alias/alias_entry.py
  redbot/cogs/cleanup/cleanup.py
  redbot/cogs/customcom/customcom.py
  redbot/cogs/mod/names.py
  redbot/cogs/reports/reports.py
  redbot/cogs/streams/streams.py
  redbot/cogs/streams/streamtypes.py
  redbot/cogs/trivia/trivia.py
  redbot/core/bot.py
  redbot/core/commands/_dpy_reimplements.py
  redbot/core/commands/commands.py
  redbot/core/commands/converter.py
  redbot/core/commands/help.py
  redbot/core/commands/requires.py
  redbot/core/config.py
  redbot/core/core_commands.py
  redbot/core/dev_commands.py
  redbot/core/utils/caching.py
  redbot/core/utils/dbtools.py
  redbot/core/utils/mod.py
  redbot/core/utils/predicates.py
  redbot/core/utils/safety.py
  redbot/setup.py
Labels: Category: Command Module, Category: Dev Cog, Type: Fix, hacktoberfest-accepted

#4467 Add a setting for adding a tick reaction when help is DMed
  redbot/core/bot.py
  redbot/core/commands/help.py
  redbot/core/core_commands.py
Labels: Category: Help, QA: Needed, Type: Enhancement, hacktoberfest-accepted

#4507 [General] change `boosters` to `boosts` in serverinfo
  redbot/cogs/general/general.py
Labels: hacktoberfest-accepted

#4498 [Core] Add default embed colour to `[p]set showsettings`
  redbot/core/core_commands.py
Labels: Category: Bot Core, Type: Enhancement, hacktoberfest-accepted

#4506 Bump aiohttp-json-rpc dependency
  setup.cfg
Labels: Category: Bot Core, Changelog Entry: Skipped, Type: Dependency Update

#4492 Audio Fixes
  redbot/cogs/audio/apis/api_utils.py
  redbot/cogs/audio/apis/global_db.py
  redbot/cogs/audio/apis/interface.py
  redbot/cogs/audio/apis/local_db.py
  redbot/cogs/audio/apis/persist_queue_wrapper.py
  redbot/cogs/audio/apis/playlist_interface.py
  redbot/cogs/audio/apis/playlist_wrapper.py
  redbot/cogs/audio/apis/spotify.py
  redbot/cogs/audio/apis/youtube.py
  redbot/cogs/audio/audio_dataclasses.py
  redbot/cogs/audio/converters.py
  redbot/cogs/audio/core/__init__.py
  redbot/cogs/audio/core/cog_utils.py
  redbot/cogs/audio/core/commands/audioset.py
  redbot/cogs/audio/core/commands/controller.py
  redbot/cogs/audio/core/commands/equalizer.py
  redbot/cogs/audio/core/commands/llset.py
  redbot/cogs/audio/core/commands/localtracks.py
  redbot/cogs/audio/core/commands/miscellaneous.py
  redbot/cogs/audio/core/commands/player.py
  redbot/cogs/audio/core/commands/playlists.py
  redbot/cogs/audio/core/commands/queue.py
  redbot/cogs/audio/core/events/cog.py
  redbot/cogs/audio/core/events/dpy.py
  redbot/cogs/audio/core/events/lavalink.py
  redbot/cogs/audio/core/events/red.py
  redbot/cogs/audio/core/tasks/lavalink.py
  redbot/cogs/audio/core/tasks/player.py
  redbot/cogs/audio/core/tasks/startup.py
  redbot/cogs/audio/core/utilities/formatting.py
  redbot/cogs/audio/core/utilities/local_tracks.py
  redbot/cogs/audio/core/utilities/miscellaneous.py
  redbot/cogs/audio/core/utilities/player.py
  redbot/cogs/audio/core/utilities/playlists.py
  redbot/cogs/audio/core/utilities/queue.py
  redbot/cogs/audio/equalizer.py
  redbot/cogs/audio/errors.py
  redbot/cogs/audio/manager.py
  redbot/cogs/audio/utils.py
Labels: Category: Audio Cog, Release Blocker, Type: Fix, hacktoberfest-accepted

#4513 exclude streams from queue duration
  redbot/cogs/audio/core/utilities/miscellaneous.py
Labels: hacktoberfest-accepted

#3902 [Menus] Handle ctx.me that can be None when clearing reactions
  redbot/core/utils/menus.py
Labels: Category: Utility Functions, QA: Needed, Type: Fix

#4423 Update to d.py 1.5.1, explicitly request privileged intents
  redbot/__main__.py
  redbot/core/bank.py
  redbot/core/bot.py
  redbot/core/cli.py
  redbot/core/commands/__init__.py
  redbot/core/core_commands.py
  setup.cfg
  tests/core/test_commands.py
Labels: Category: Bot Core, Changelog Entry: Pending, Release Blocker, Type: Feature

#4515 Move `bot_in_a_guild` from `redbot.core.checks` to `redbot.core.commands`
  redbot/core/checks.py
  redbot/core/commands/__init__.py
  redbot/core/commands/requires.py
Labels: Category: Bot Core, hacktoberfest-accepted

#4518 Fix a crash when calling `[p]modset showsettings`
  redbot/cogs/mod/settings.py
Labels: Category: Mod Cog, Release Blocker, Type: Fix, hacktoberfest-accepted

#4523 Fixed possible exception thrown when balance field is missing during schema conversion
  redbot/core/bank.py
Labels: Category: Bank API, Release Blocker, Type: Fix, hacktoberfest-accepted

#4524 Add data path and metadata file to `[p]debuginfo`, add missing info to non-embed version
  redbot/core/core_commands.py
Labels: Category: Bot Core, Type: Enhancement

#4525 [Mod] Fix + more info for modset defaultduration
  redbot/cogs/mod/settings.py
Labels: Category: Mod Cog, Changelog Entry: Skipped, Type: Fix, hacktoberfest-accepted

#4527 small PR adding `[p]llset info` and `[p]audioset logs`
  redbot/cogs/audio/core/commands/audioset.py
  redbot/cogs/audio/core/commands/llset.py
  redbot/cogs/audio/utils.py
Labels: Category: Audio Cog, Type: Feature, hacktoberfest-accepted

#3634 Move mutes to new cog, add role-based and temporary mutes
  .github/CODEOWNERS
  redbot/cogs/mod/kickban.py
  redbot/cogs/mod/mod.py
  redbot/cogs/mod/mutes.py
  redbot/cogs/mutes/__init__.py
  redbot/cogs/mutes/abc.py
  redbot/cogs/mutes/converters.py
  redbot/cogs/mutes/mutes.py
  redbot/cogs/mutes/voicemutes.py
Labels: Category: Mod Cog, Category: Mutes Cog, Changelog Entry: Pending, Type: Enhancement, Type: Feature

#3896 [Core] Guild scoped I18n
  redbot/cogs/alias/alias.py
  redbot/cogs/audio/core/events/lavalink.py
  redbot/cogs/filter/filter.py
  redbot/cogs/mod/events.py
  redbot/cogs/mutes/mutes.py
  redbot/cogs/reports/reports.py
  redbot/cogs/streams/streams.py
  redbot/core/bot.py
  redbot/core/core_commands.py
  redbot/core/events.py
  redbot/core/i18n.py
  redbot/core/modlog.py
  redbot/core/settings_caches.py
Labels: Category: i18n, Changelog Entry: Pending, Type: Enhancement, Type: Feature

#4531 Fix `KeyError` in `[p]muteset role`
  redbot/cogs/mutes/mutes.py
Labels: Category: Mutes Cog, Release Blocker, Type: Fix, hacktoberfest-accepted

#4533 Fix `TypeError` in automatic multi channel unmutes
  redbot/cogs/mutes/mutes.py
Labels: Category: Mutes Cog, Changelog Entry: Skipped, Release Blocker, Type: Fix, hacktoberfest-accepted

#4534 Properly iterate through dict's items in automatic multi channel unmute
  redbot/cogs/mutes/mutes.py
Labels: Category: Mutes Cog, Changelog Entry: Skipped, Release Blocker, Type: Fix, hacktoberfest-accepted

#4536 Fix auto channel unmute still applying after bot restart
  redbot/cogs/mutes/mutes.py
Labels: Category: Mutes Cog, Release Blocker, Type: Fix

#4384 [Trivia] Add Hockey Trivia
  redbot/cogs/trivia/data/lists/hockey.yaml
Labels: Category: Trivia Lists, QA: Passed, Type: Feature

#4540 Fix unmute type for manually removed voice channel overwrites
  redbot/cogs/mutes/mutes.py
Labels: Category: Mutes Cog, Changelog Entry: Skipped, Type: Fix

#4539 [Mutes] Prevent modlog updates on unmute due to category channel sync
  redbot/cogs/mutes/mutes.py
Labels: Category: Mutes Cog, Changelog Entry: Skipped, Release Blocker, Type: Fix

#4537 Replace use of asyncio.gather with bounded_gather
  redbot/cogs/mutes/mutes.py
Labels: Category: Mutes Cog, Changelog Entry: Skipped, Release Blocker, Type: Fix

#4538 Add Python <3.9 guard until we start supporting Python 3.9
  setup.cfg
Labels: Category: Bot Core, Type: Dependency Update

#4542 Plurality matters (use correct variable name)
  redbot/cogs/mutes/mutes.py
Labels: Category: Mutes Cog, Changelog Entry: Skipped, Type: Fix

#4541 Modlog account for very long case reasons
  redbot/core/modlog.py
Labels: Category: Modlog API, Type: Fix

#4546 Update check docs to use checks from commands package
  docs/framework_checks.rst
Labels: Category: Docs, Type: Enhancement, hacktoberfest-accepted

#4529 [Audio] New stuff from RLL 0.7.0
  redbot/cogs/audio/core/__init__.py
  redbot/cogs/audio/core/abc.py
  redbot/cogs/audio/core/commands/audioset.py
  redbot/cogs/audio/core/commands/controller.py
  redbot/cogs/audio/core/commands/llset.py
  redbot/cogs/audio/core/commands/player.py
  redbot/cogs/audio/core/events/dpy.py
  redbot/cogs/audio/core/events/lavalink.py
  redbot/cogs/audio/core/tasks/lavalink.py
  redbot/cogs/audio/core/tasks/startup.py
  redbot/cogs/audio/data/application.yml
  setup.cfg
Labels: Category: Audio Cog, Type: Dependency Update, Type: Enhancement, hacktoberfest-accepted

#4403 Add `bot.get_or_fetch_user/member` methods
  redbot/core/bot.py
Labels: Category: Bot Core, Changelog Entry: Added, Type: Feature

#4193 Red 3.4.1 - Changelog
  docs/bot_application_guide.rst
  docs/changelog_3_4_0.rst
  docs/guide_cog_creation.rst
  docs/update_red.rst
Labels: Category: Docs, Changelog Entry: Skipped

#4548 3.4.1 bump
  redbot/__init__.py
Labels: Changelog Entry: Skipped

#4549 3.4.2.dev bump
  redbot/__init__.py
Labels: Changelog Entry: Skipped

#4556 I mean... Technically we fixed the security issue, right?
  redbot/cogs/mod/kickban.py
Labels: Category: Mod Cog, Release Blocker, Type: Fix

#4488 [Docs] Cleanup Cog Guide
  docs/cog_guides/cleanup.rst
  docs/index.rst
  redbot/cogs/cleanup/cleanup.py
Labels: Category: Cleanup Cog, Category: Docs, QA: Passed, Type: Enhancement, hacktoberfest-accepted

#4557 Add metadata file to `redbot --debuginfo`
  redbot/__main__.py
Labels: Category: Bot Core, Type: Enhancement, hacktoberfest-accepted

#4550 Remove multi-line commands from Unix install docs
  docs/install_linux_mac.rst
Labels: Category: Docs, Changelog Entry: Skipped, Type: Enhancement, hacktoberfest-accepted

#4512 [Streams] Remove the `__del__`
  redbot/cogs/streams/streams.py
Labels: Category: Streams, Changelog Entry: Skipped, Type: Fix, hacktoberfest-accepted

#4558 Never trust Slime
  redbot/core/events.py
Labels: Category: Bot Core, Changelog Entry: Skipped, Release Blocker, Type: Fix

#4552 Add better error logging for unexpected errors, add error messages for exceeded YouTube quota
  redbot/cogs/streams/errors.py
  redbot/cogs/streams/streams.py
  redbot/cogs/streams/streamtypes.py
Labels: Category: Streams, Type: Enhancement, hacktoberfest-accepted

#4553 Soo much for hoping audio has no issues ......
  redbot/cogs/audio/core/commands/player.py
Labels: Category: Audio Cog, Release Blocker, Type: Fix, hacktoberfest-accepted

#4562 [Audio] Allow LLSET in DMs
  redbot/cogs/audio/core/commands/llset.py
Labels: Category: Audio Cog, Type: Fix, hacktoberfest-accepted

#4560 Red 3.4.2 - Changelog
  docs/changelog_3_4_0.rst
Labels: Category: Docs, Changelog Entry: Skipped

#4561 Version bump to 3.4.2
  redbot/__init__.py
Labels: Changelog Entry: Skipped

#4564 Version bump to 3.4.3.dev1
  redbot/__init__.py
Labels: Changelog Entry: Skipped

#4490 [Docs] CustomCommands Cog Guide
  docs/cog_customcom.rst
  docs/cog_guides/customcommands.rst
  docs/index.rst
  redbot/cogs/customcom/customcom.py
Labels: Category: CustomCom, Category: Docs, QA: Passed, Type: Enhancement, hacktoberfest-accepted

#4568 Handle `None` case for `until` in `on_member_join`
  redbot/cogs/mutes/mutes.py
Labels: Category: Mutes Cog, Type: Fix

#4569 Fix leaderboard error in DMs for global banks
  redbot/cogs/economy/economy.py
Labels: Category: Economy Cog, Type: Fix
