Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2020-09, with the labels that each got.

#4386 Add float -> int migration to Bank (float was a bug)
  redbot/core/bank.py
  redbot/core/bot.py
  redbot/pytest/economy.py
Labels: Category: Bank API, Changelog Entry: Skipped, Release Blocker, Type: Fix

#4389 Clarify documentation of `modlog.create_case()`
  redbot/core/modlog.py
Labels: Category: Docs, Category: Modlog API, Type: Enhancement

#4024 [General] URL encode user input for [p]urban and [p]lmgtfy
  redbot/cogs/general/general.py
Labels: Type: Fix

#4100 Add hierarchy checks to `[p]warn`
  redbot/cogs/warnings/warnings.py
Labels: Category: Warnings, QA: Changes Requested, Type: Enhancement

#4396 Delete no-NO in favor of nb-NO
  redbot/cogs/admin/locales/no-NO.po
  redbot/cogs/alias/locales/no-NO.po
  redbot/cogs/audio/apis/locales/no-NO.po
  redbot/cogs/audio/core/commands/locales/no-NO.po
  redbot/cogs/audio/core/events/locales/no-NO.po
  redbot/cogs/audio/core/locales/no-NO.po
  redbot/cogs/audio/core/tasks/locales/no-NO.po
  redbot/cogs/audio/core/utilities/locales/no-NO.po
  redbot/cogs/audio/core/utilities/menus/locales/no-NO.po
  redbot/cogs/audio/locales/no-NO.po
  redbot/cogs/bank/locales/no-NO.po
  redbot/cogs/cleanup/locales/no-NO.po
  redbot/cogs/customcom/locales/no-NO.po
  redbot/cogs/downloader/locales/no-NO.po
  redbot/cogs/economy/locales/no-NO.po
  redbot/cogs/filter/locales/no-NO.po
  redbot/cogs/general/locales/no-NO.po
  redbot/cogs/image/locales/no-NO.po
  redbot/cogs/locales/no-NO.po
  redbot/cogs/mod/locales/no-NO.po
  redbot/cogs/modlog/locales/no-NO.po
  redbot/cogs/permissions/locales/no-NO.po
  redbot/cogs/reports/locales/no-NO.po
  redbot/cogs/streams/locales/no-NO.po
  redbot/cogs/trivia/locales/no-NO.po
  redbot/cogs/warnings/locales/no-NO.po
  redbot/core/commands/locales/no-NO.po
  redbot/core/drivers/locales/no-NO.po
  redbot/core/drivers/postgres/locales/no-NO.po
  redbot/core/locales/no-NO.po
  redbot/core/utils/locales/no-NO.po
Labels: Category: i18n, Changelog Entry: Skipped, QA: Bypassed, Type: Fix

#4413 Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: Category: CI, Changelog Entry: Skipped, Type: Feature

#4414 Escape regex on spotify URL
  redbot/cogs/audio/audio_dataclasses.py
Labels: Category: Audio Cog, Type: Fix

#4418 Exclude `locales` folders from code ownership (again)
  .github/CODEOWNERS
Labels: Category: Meta, Changelog Entry: Skipped, Type: Fix

#4326 Accept `discord.Object`s for cases, add `last_known_username` param in `create_case()`
  redbot/core/modlog.py
Labels: Category: Modlog API, Type: Enhancement, Type: Fix

#4415 [Modlog API] Handle deleted channels in `Case.message_content()`
  redbot/core/modlog.py
Labels: Category: Modlog API, Type: Fix

#4437 Handle aiohttp errors in `[p]set avatar`
  redbot/core/core_commands.py
Labels: Category: Bot Core, Type: Fix

#4409 [Warnings] Improve consistency in `[p]warningset`'s commands
  redbot/cogs/warnings/warnings.py
Labels: Category: Warnings, Type: Enhancement

#4425 Add `quote()` function to chat formatting utilities
  redbot/core/utils/chat_formatting.py
Labels: Category: Utility Functions, Type: Feature

#4131 [Mod] Correctly log and store the previous (nick)name
  redbot/cogs/mod/events.py
Labels: Category: Mod Cog, Type: Fix

#4416 Add custom groups tutorial to Config's docs
  docs/framework_config.rst
Labels: Category: Docs, Type: Enhancement

#4329 [Core] Catch errors about blocked DMs in `[p]traceback`
  redbot/core/core_commands.py
Labels: Category: Bot Core, Type: Fix

#4397 [Mod] Pluralize properly in userinfo
  redbot/cogs/mod/names.py
Labels: Category: Mod Cog, Type: Enhancement

#4439 Update Getting started guide with the link to Index
  docs/getting_started.rst
Labels: Category: Docs, QA: Passed, Type: Enhancement

#4435 Deprecate `is_allowed_by_hierarchy()` core util
  redbot/cogs/mod/kickban.py
  redbot/cogs/mod/mutes.py
  redbot/cogs/mod/utils.py
  redbot/core/utils/mod.py
Labels: Category: Mod Cog, Category: Utility Functions, QA: Passed, Type: Deprecation

#4431 Fix error message for exceeding max concurrency for default bucket
  redbot/core/events.py
Labels: Category: Bot Core, QA: Passed, Type: Fix

#4359 [Mod] Account for duplicated mentions
  redbot/cogs/mod/events.py
  redbot/cogs/mod/mod.py
  redbot/cogs/mod/settings.py
Labels: Category: Mod Cog, QA: Passed, Type: Enhancement

#4186 Fix typo at function's "end_game" docstring
  redbot/cogs/trivia/session.py
Labels: Category: Trivia Cog, Changelog Entry: Skipped, QA: Passed, Type: Fix

#4374 Fix deprecation mention for shared libs in docs
  docs/guide_publish_cogs.rst
Labels: Category: Docs, Changelog Entry: Skipped, QA: Passed, Type: Fix

#4453 Stop backing up lavalink logs
  redbot/core/utils/_internal_utils.py
Labels: Category: Bot Core, Type: Enhancement

#4404 Add util functions extracting `end_user_data_statement` directly from cog's `info.json`
  docs/framework_utils.rst
  redbot/core/utils/__init__.py
Labels: Category: Utility Functions, Type: Feature
