Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2020-07, with the labels that each got.

#4030 [Utils] Fix regex for role mentions in `MessagePredicate`
  redbot/core/utils/predicates.py
Labels: Category: Utility Functions, Type: Fix

#4026 Trivia Update
  redbot/cogs/trivia/data/lists/games.yaml
  redbot/cogs/trivia/data/lists/leagueults.yaml
  redbot/cogs/trivia/data/lists/r6siege.yaml
  redbot/cogs/trivia/data/lists/sports.yaml
Labels: Category: Trivia Lists, QA: Needed, Type: Feature, Type: Fix

#4040 Stop using `git ls-files *.py` for style check
  Makefile
  make.bat
Labels: Category: CI, Category: Tests, Type: Fix

#4039 Vendor `discord.ext.menus`
  LICENSE
  README.md
  docs/version_guarantees.rst
  pyproject.toml
  redbot/vendored/discord-ext-menus.LICENSE
  redbot/vendored/discord/ext/menus/__init__.py
Labels: Category: Bot Core, QA: Passed

#4037 Add .gitattributes to ensure project consistent line endings
  .gitattributes
  redbot/cogs/mod/slowmode.py
  redbot/core/utils/predicates.py
Labels: Category: Meta, Changelog Entry: Skipped, QA: Needed, Type: Enhancement

#3994 [Image] Update instructions for setting the GIPHY API
  redbot/cogs/image/image.py
Labels: Category: Image, QA: Needed, Type: Fix

#3991 Stop putting text about invite when invite isn't sent in tempban message
  redbot/cogs/mod/kickban.py
Labels: Category: Mod Cog, QA: Needed, Type: Fix

#4023 [Core] Docstring full stops and a few other grammar fixes
  redbot/core/core_commands.py
Labels: Category: Bot Core, QA: Passed, Type: Fix

#4041 Add settings view commands
  redbot/cogs/bank/bank.py
  redbot/cogs/economy/economy.py
  redbot/cogs/mod/settings.py
  redbot/cogs/permissions/permissions.py
  redbot/cogs/trivia/trivia.py
  redbot/core/core_commands.py
Labels: Category: Bank Cog, Category: Bot Core, Category: Economy Cog, Category: Mod Cog, Category: Permissions, Category: Trivia Cog, QA: Changes Requested, Type: Enhancement

#3903 Make `localwhitelist` check if caller will still be able to use bot after changes
  redbot/core/core_commands.py
Labels: Category: Bot Core, QA: Passed, Type: Enhancement

#4018 [Docs] Update framework_i18n.rst
  docs/framework_i18n.rst
Labels: Category: Docs, QA: Passed

#4025 [Mod] Make tempbans permanent when using `[p]hackban`
  redbot/cogs/mod/kickban.py
Labels: Category: Mod Cog, QA: Passed, Type: Fix

#4044 Make strings in help command *truly* translatable
  redbot/core/commands/help.py
Labels: Category: Help, Category: i18n, QA: Passed, Type: Fix

#3910 Reduce config calls when changing white/blacklist and use sets for their cache
  redbot/core/core_commands.py
  redbot/core/settings_caches.py
Labels: Category: Bot Core, QA: Passed, Type: Enhancement

#4053 Bump d.py dependency
  setup.cfg
Labels: Changelog Entry: Added, QA: Bypassed, Type: Dependency Update, Type: Fix

#3967 Red 3.3.10 - Changelog
  docs/changelog_3_3_0.rst
Labels: Category: Docs, Changelog Entry: Skipped

#4050 Change wording in VPS providers document
  docs/host-list.rst
Labels: Category: Docs, QA: Passed, Type: Fix

#4042 Fix the error for empty author list in `[p]findcog`
  redbot/cogs/downloader/downloader.py
Labels: Category: Downloader, QA: Needed, Type: Fix

#3993 Make `[p]tempban` respect `default_days` setting
  redbot/cogs/mod/kickban.py
Labels: Category: Mod Cog, QA: Needed, Type: Fix

#4036 Ignore that the rule for model doesn't exist when trying to remove it
  redbot/cogs/permissions/permissions.py
Labels: Category: Permissions, QA: Needed, Type: Fix

#4064 [Mod] `[p]mute|unmute voice` now take action instantly
  redbot/cogs/mod/mutes.py
Labels: Category: Mod Cog, QA: Passed, Type: Fix

#3840 Fix no message when unregistered reason is used in `[p]warn`
  redbot/cogs/warnings/warnings.py
Labels: Category: Warnings, QA: Passed, Type: Fix

#4071 Exclude `locales` folders from code ownership
  .github/CODEOWNERS
Labels: Category: Meta, Changelog Entry: Skipped, Type: Fix

#4077 [Core] Add `Red.message_eligible_as_command`
  redbot/core/bot.py
  redbot/core/global_checks.py
Labels: Category: Bot Core, QA: Passed, Type: Feature

#3956 Fix state transition for subcommands modified by permission hooks
  redbot/core/commands/requires.py
Labels: Category: Command Module, Category: Permissions, QA: Passed, Type: Fix

#4079 Give friendlier error when package can't be found during bot startup
  redbot/core/bot.py
Labels: Category: Bot Core, Type: Fix

#4089 [Announcer] Don't die with a lack of channels
  redbot/cogs/admin/admin.py
  redbot/cogs/admin/announcer.py
Labels: Category: Admin, Type: Enhancement, Type: Fix

#4099 Remove operating systems that reached EOL
  docs/install_linux_mac.rst
Labels: Category: Docs, Type: Removal

#3879 [Audio] Ensure TrackEnqueueError is always handled
  redbot/cogs/audio/core/commands/player.py
  redbot/cogs/audio/core/commands/playlists.py
  redbot/cogs/audio/core/events/lavalink.py
Labels: Category: Audio Cog, QA: Passed, Type: Fix

#4097 Make `bordered()` use `+` for corners if `ascii_border=True`
  redbot/core/utils/chat_formatting.py
  tests/core/test_utils.py
Labels: Category: Utility Functions, Type: Enhancement

#4094 Update pyenv instructions to install Python 3.8.5
  docs/install_linux_mac.rst
  docs/install_windows.rst
Labels: Category: Docs, Type: Enhancement

#4098 Update chocolatey install commands per `chocolatey.org`
  docs/install_windows.rst
Labels: Category: Docs, Type: Fix

#4105 [chat formatting] Add Variation Selector-16 as appropriate
  redbot/core/utils/chat_formatting.py
Labels: Category: Utility Functions, Type: Fix

#4107 [Admin] fix erroneous await in _ready.set()
  redbot/cogs/admin/admin.py
Labels: Category: Admin, Changelog Entry: Skipped, Type: Fix

#4108 [CustomCom] Add missing await
  redbot/cogs/customcom/customcom.py
Labels: Category: CustomCom, Type: Fix

#4116 [General] Change PUBLIC feature to COMMUNITY in serverinfo
  redbot/cogs/general/general.py
Labels: Category: General Cog, Type: Fix

#4113 Add `workflow_dispatch` trigger to Crowdin workflow
  .github/workflows/publish_crowdin.yml
Labels: Category: CI, Type: Enhancement

#4124 Fix the `cog_before_invoke` hook in Admin
  redbot/cogs/admin/admin.py
Labels: Category: Admin, Changelog Entry: Skipped, Release Blocker, Type: Fix

#4043 Create cog disabling API
  docs/guide_cog_creation.rst
  redbot/cogs/admin/announcer.py
  redbot/cogs/alias/alias.py
  redbot/cogs/audio/core/events/cog.py
  redbot/cogs/audio/core/events/dpy.py
  redbot/cogs/audio/core/events/lavalink.py
  redbot/cogs/audio/core/tasks/player.py
  redbot/cogs/customcom/customcom.py
  redbot/cogs/filter/filter.py
  redbot/cogs/mod/events.py
  redbot/cogs/mod/kickban.py
  redbot/cogs/reports/reports.py
  redbot/cogs/streams/streams.py
  redbot/core/bot.py
  redbot/core/commands/requires.py
  redbot/core/core_commands.py
  redbot/core/settings_caches.py
  redbot/core/utils/tunnel.py
Labels: Category: Bot Core, QA: Passed, Type: Feature

#3982 Bump dependencies (this switches to HTML 5 writer in Sphinx & changes config.json dir on Mac)
  docs/conf.py
  setup.cfg
Labels: Category: Bot Core, Category: Docs, QA: Needed, Type: Dependency Update

#3985 Fix the copyright in LICENSE file
  LICENSE
Labels: Category: Meta, Changelog Entry: Skipped, Type: Fix

#4072 [Streams] Mixer removal
  README.md
  redbot/cogs/streams/streams.py
  redbot/cogs/streams/streamtypes.py
Labels: Category: Streams, Type: Removal

#4120 [Economy] Prevent forbidden error when blocked by user
  redbot/cogs/economy/economy.py
Labels: Category: Economy Cog, Type: Fix

#4110 Prevent LicenseInfo command from being a source of user command spam
  redbot/core/core_commands.py
Labels: Category: Bot Core, Type: Enhancement

#4115 Only accept positive integers in `[p]cleanup` commands
  redbot/cogs/cleanup/cleanup.py
  redbot/cogs/cleanup/converters.py
Labels: Category: Cleanup Cog, Type: Fix

#4102 [Trivia] whosthatpokemon2 trivia - Generation 2 Pokémons
  redbot/cogs/trivia/data/lists/whosthatpokemon2.yaml
Labels: Category: Trivia Lists, Type: Feature

#4112 [CustomCom] [p]cc show - Handle missing cooldowns
  redbot/cogs/customcom/customcom.py
Labels: Category: CustomCom, Type: Fix

#4090 Make `docs` tox workflow not stop after first warning
  tox.ini
Labels: Category: CI, Category: Docs, Category: Tests, Changelog Entry: Skipped, Type: Enhancement

#4121 Propose more info on simple serverinfo
  redbot/cogs/general/general.py
Labels: Category: General Cog, Type: Enhancement

#4134 [RPC] Shutdown properly
  redbot/core/rpc.py
Labels: Category: RPC API, Type: Fix
