Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2020-08, with the labels that each got.

#4143 [RPC] Fix for non-rpc users
  redbot/core/bot.py
  redbot/core/rpc.py
Labels: Category: RPC API, Changelog Entry: Skipped, Type: Fix

#4126 Bump pytest to version 6.0.1 and yarl to 1.5.1
  pyproject.toml
  redbot/pytest/core.py
  redbot/pytest/downloader.py
  setup.cfg
Labels: Category: Tests, Type: Dependency Update

#4153 Bump to 3.4.0.dev1
  redbot/__init__.py
Labels: Changelog Entry: Skipped

#4045 Begin work on a data request API
  docs/framework_commands.rst
  docs/guide_cog_creation.rst
  docs/index.rst
  docs/red_core_data_statement.rst
  redbot/cogs/admin/admin.py
  redbot/cogs/alias/__init__.py
  redbot/cogs/alias/alias.py
  redbot/cogs/alias/alias_entry.py
  redbot/cogs/audio/apis/playlist_wrapper.py
  redbot/cogs/audio/core/events/red.py
  redbot/cogs/audio/sql_statements.py
  redbot/cogs/bank/bank.py
  redbot/cogs/cleanup/cleanup.py
  redbot/cogs/customcom/customcom.py
  redbot/cogs/downloader/downloader.py
  redbot/cogs/economy/economy.py
  redbot/cogs/filter/filter.py
  redbot/cogs/general/general.py
  redbot/cogs/image/image.py
  redbot/cogs/mod/mod.py
  redbot/cogs/modlog/modlog.py
  redbot/cogs/permissions/converters.py
  redbot/cogs/permissions/permissions.py
  redbot/cogs/reports/reports.py
  redbot/cogs/streams/streams.py
  redbot/cogs/trivia/trivia.py
  redbot/cogs/warnings/warnings.py
  redbot/core/bank.py
  redbot/core/bot.py
  redbot/core/cog_manager.py
  redbot/core/commands/__init__.py
  redbot/core/commands/commands.py
  redbot/core/core_commands.py
  redbot/core/dev_commands.py
  redbot/core/modlog.py
  redbot/core/settings_caches.py
  setup.cfg
  tools/primary_deps.ini
Labels: Blocked by: Other PR, Breaking Change, Category: Bot Core, Category: Command Module, Type: Feature

#4085 Document prefix preservation
  docs/version_guarantees.rst
  redbot/core/commands/commands.py
Labels: Blocked, Breaking Change, Category: Docs, QA: Passed, Release Blocker

#2982 Make `humanize_list()` use babel.
  redbot/core/utils/chat_formatting.py
Labels: Breaking Change, Category: Utility Functions, QA: Passed, Release Blocker, Type: Enhancement

#3679 Reject package (extension) names that can't be valid Python identifiers
  redbot/cogs/downloader/repo_manager.py
  redbot/core/cog_manager.py
  redbot/core/core_commands.py
Labels: Blocked, Breaking Change, Category: Bot Core, Category: Downloader, QA: Passed, Release Blocker, Type: Enhancement, Type: Fix

#4156 Fix amount of messages in log message of `[p]cleanup message`
  redbot/cogs/cleanup/cleanup.py
Labels: Category: Cleanup Cog, Type: Fix

#4154 Fix missing `self` argument in `[p]licenseinfo`
  redbot/core/core_commands.py
Labels: Category: Bot Core, Changelog Entry: Skipped, Type: Fix

#4086 Fix the errors related to installed module having invalid commit data
  redbot/cogs/downloader/downloader.py
  redbot/cogs/downloader/repo_manager.py
  tests/cogs/downloader/test_downloader.py
  tests/cogs/downloader/test_git.py
Labels: Category: Downloader, QA: Needed, Type: Fix

#4148 [Streams] Attempt to fix unclear error in youtubestream
  redbot/cogs/streams/streamtypes.py
Labels: Category: Streams, QA: Passed, Type: Fix

#4095 Remove unused try except blocks in `modlog.create_case()` usage
  redbot/cogs/mod/events.py
  redbot/cogs/mod/kickban.py
  redbot/cogs/mod/mutes.py
  redbot/cogs/warnings/warnings.py
Labels: Category: Mod Cog, Category: Warnings, QA: Passed, Type: Enhancement

#4011 Add a provisional API for replacing the help formatter
  docs/framework_commands.rst
  redbot/core/bot.py
  redbot/core/commands/help.py
  redbot/core/core_commands.py
Labels: Category: Help, QA: Needed, Type: Enhancement, Type: Feature

#4161 [Streams] Change hitbox to smashcast.
  redbot/cogs/streams/streams.py
  redbot/cogs/streams/streamtypes.py
Labels: Category: Streams, QA: Passed, Type: Enhancement

#4129 avoid issue with not having before_invoke called
  redbot/core/commands/commands.py
Labels: Category: Command Module, Type: Fix

#4022 [Core Commands] Add Help settings view
  redbot/core/commands/help.py
  redbot/core/core_commands.py
Labels: Category: Help, QA: Passed, Type: Feature

#4135 [Docs] Clarify documentation for Context.clean_prefix
  redbot/core/commands/context.py
Labels: Category: Command Module, Category: Docs, Type: Enhancement

#4167 Update `discord-ext-menus` vendor to commit 84caae8038d0d3adc860957ccef05baeec2e2dd8
  redbot/vendored/discord-ext-menus.LICENSE
  redbot/vendored/discord/ext/menus/__init__.py
Labels: Type: Dependency Update

#4035 [Core] Typo fix
  redbot/core/core_commands.py
Labels: Category: Bot Core, QA: Needed, Type: Fix

#4136 [Reports] Give friendly error if no report channel set
  redbot/cogs/reports/reports.py
Labels: Category: Reports Cog, Type: Enhancement

#4061 [Audio] Send an more user friendly message at "Track Stuck" errors
  redbot/cogs/audio/core/events/lavalink.py
Labels: Category: Audio Cog, Type: Enhancement

#4119 Docs improvements after watching two self-proclaimed incompetent people install it
  docs/install_windows.rst
Labels: Category: Docs, Type: Enhancement

#4168 Lavalink.jar bump for internal manager
  redbot/cogs/audio/manager.py
Labels: Category: Audio Cog, Type: Dependency Update

#4141 [Trivia] whosthatpokemon - Generation III
  redbot/cogs/trivia/data/lists/whosthatpokemon3.yaml
Labels: Category: Trivia Lists, Type: Feature

#4164 [Core] A few data API grammar improvements
  redbot/core/core_commands.py
Labels: Category: Bot Core, Changelog Entry: Skipped, Type: Fix

#4170 [Trivia] Fix unresolved reference to bank.BalanceTooHigh
  redbot/cogs/trivia/session.py
Labels: Category: Trivia Cog, Type: Fix

#4149 [Docs] Bank user guide
  docs/cog_guides/bank.rst
  docs/index.rst
Labels: Category: Bank Cog, Category: Docs, QA: Needed

#4175 [Trivia] Remove an unnecessary `.format`
  redbot/cogs/trivia/trivia.py
Labels: Category: Trivia Cog, Changelog Entry: Skipped, Type: Enhancement

#4173 3.3.11 changelog
  docs/changelog_3_3_0.rst
Labels: Category: Docs, Changelog Entry: Skipped

#4127 Add variation selector-16 as appropriate to emojis across Red
  redbot/cogs/audio/core/commands/controller.py
  redbot/cogs/audio/core/commands/equalizer.py
  redbot/cogs/audio/core/commands/localtracks.py
  redbot/cogs/audio/core/commands/player.py
  redbot/cogs/audio/core/commands/queue.py
  redbot/cogs/audio/core/utilities/equalizer.py
  redbot/cogs/audio/core/utilities/formatting.py
  redbot/cogs/economy/economy.py
  redbot/cogs/general/general.py
  redbot/cogs/mod/casetypes.py
  redbot/cogs/mod/mod.py
  redbot/cogs/mod/names.py
  redbot/cogs/warnings/warnings.py
  redbot/core/generic_casetypes.py
  redbot/core/utils/menus.py
Labels: Type: Fix

#4176 Removed Also And Installation
  README.md
Labels: Category: Docs, Type: Enhancement

#3845 Preparations for d.py 1.4 (includes breaking changes related to mass mentions)
  redbot/__init__.py
  redbot/core/bot.py
  redbot/core/commands/__init__.py
  redbot/core/commands/_dpy_reimplements.py
  redbot/core/commands/commands.py
  redbot/core/commands/context.py
  setup.cfg
  tools/primary_deps.ini
Labels: Breaking Change, Category: Bot Core, Category: Command Module, QA: Passed, Release Blocker, Type: Dependency Update, Type: Enhancement

#4142 Remove provisional note from `NoParseOptional`, fix and start using `UserInputOptional`
  docs/framework_commands.rst
  redbot/cogs/audio/core/commands/player.py
  redbot/cogs/audio/core/commands/playlists.py
  redbot/cogs/image/image.py
  redbot/cogs/mod/kickban.py
  redbot/cogs/warnings/warnings.py
  redbot/core/commands/converter.py
Labels: Category: Command Module, Type: Enhancement, Type: Fix

#4038 [Mod] Add kick and warn to mention spam
  redbot/cogs/mod/events.py
  redbot/cogs/mod/mod.py
  redbot/cogs/mod/settings.py
  redbot/core/generic_casetypes.py
Labels: Category: Mod Cog, QA: Changes Requested, Type: Feature

#4017 Use aware objects when storing and reading UTC timestamps
  redbot/cogs/filter/filter.py
  redbot/cogs/mod/events.py
  redbot/cogs/mod/kickban.py
  redbot/cogs/mod/mutes.py
  redbot/cogs/modlog/modlog.py
  redbot/cogs/warnings/warnings.py
  redbot/core/bank.py
  redbot/core/events.py
  redbot/core/modlog.py
  tests/cogs/test_mod.py
Labels: Category: Mod Cog, QA: Passed, Type: Fix

#3081 [Docs] Admin user guide
  docs/.resources/admin/public_bot.png
  docs/cog_guides/admin.rst
  docs/index.rst
  docs/prolog.txt
Labels: Category: Admin, Category: Docs, QA: Passed, Type: Feature

#4137 [Modlog] add timestamp to [p]casesfor and [p]case
  redbot/cogs/modlog/modlog.py
Labels: Category: Modlog Cog, Type: Enhancement

#4180 [Docs] Clarify EUD statement
  docs/red_core_data_statement.rst
Labels: Category: Docs, Type: Fix

#4163 Remove things past deprecation time (2020-08-05)
  docs/framework_commands.rst
  redbot/core/commands/__init__.py
  redbot/core/commands/converter.py
  redbot/core/utils/__init__.py
  redbot/core/utils/menus.py
Labels: Category: Command Module, Category: Utility Functions, Release Blocker, Type: Removal

#4183 [Streams] Allow for consume all on messages
  redbot/cogs/streams/streams.py
Labels: Category: Streams, Type: Enhancement

#4182 Add allowed_mentions and mention everyone check to stream alerts
  redbot/cogs/streams/streams.py
Labels: Category: Streams, Type: Fix

#4138 [Core] Make core_commands.py comply with #4048
  redbot/core/core_commands.py
Labels: Category: Bot Core, QA: Needed, Type: Enhancement

#4169 EUD things for Downloader
  docs/guide_publish_cogs.rst
  redbot/cogs/downloader/downloader.py
  redbot/cogs/downloader/info_schemas.py
  redbot/cogs/downloader/installable.py
Labels: Category: Downloader, Release Blocker, Type: Feature

#4188 Don't send message about DMing ACL when command's called from DM
  redbot/cogs/permissions/permissions.py
Labels: Category: Permissions, Changelog Entry: Skipped, Type: Fix

#4185 [Filter] Add missing parentheses
  redbot/cogs/filter/filter.py
Labels: Category: Filter, Changelog Entry: Skipped, Type: Fix

#3084 [Docs] Alias user guide
  docs/.resources/alias/example-1.png
  docs/.resources/alias/example-2.png
  docs/cog_guides/alias.rst
  docs/index.rst
Labels: Category: Alias, Category: Docs, Changelog Entry: Added, QA: Passed, Type: Feature

#4191 [Docs] Fix the horizontal bars in alias user guide
  docs/cog_guides/alias.rst
Labels: Category: Docs, Changelog Entry: Skipped, Type: Fix

#4059 Red 3.4.0 - Changelog
  docs/changelog_3_3_0.rst
  docs/changelog_3_4_0.rst
  docs/framework_commands.rst
  docs/guide_cog_creation.rst
  docs/index.rst
Labels: Category: Docs, Changelog Entry: Skipped

#4192 [ctx] Suppress all mentions in maybe_send_embed
  docs/changelog_3_4_0.rst
  redbot/core/commands/context.py
Labels: Breaking Change, Category: Bot Core, Type: Enhancement

#4194 Red 3.3.12 - Changelog
  docs/changelog_3_3_0.rst
  docs/changelog_3_4_0.rst
Labels: Category: Docs, Changelog Entry: Skipped

#4195 Actually change the version before release!
  redbot/__init__.py
Labels: Changelog Entry: Skipped

#4197 Dev bump (3.4.1.dev1)
  redbot/__init__.py
Labels: Changelog Entry: Skipped

#4184 [Economy] Add embed to leaderboard
  redbot/cogs/economy/economy.py
Labels: Category: Economy Cog, Type: Enhancement

#4364 Added length validation for [p]set name and [p]set nickname
  redbot/core/core_commands.py
Labels: Category: Bot Core, Type: Fix

#4325 [customcom] Gracefully handle timeouts in cc edit
  redbot/cogs/customcom/customcom.py
Labels: Category: CustomCom, Type: Fix

#4328 Stop the insanity that is this inconsistent command name!
  redbot/cogs/modlog/modlog.py
Labels: Category: Modlog Cog, Type: Enhancement

#4366 [Dev] Add repl pause
  redbot/core/dev_commands.py
Labels: Category: Dev Cog, Type: Feature

#4378 [Docs] Update shields in Readme
  README.md
Labels: Category: Meta, Changelog Entry: Skipped, Type: Enhancement

#4371 Bump black to 20.8b1 (and reformat)
  redbot/__main__.py
  redbot/cogs/admin/admin.py
  redbot/cogs/alias/alias_entry.py
  redbot/cogs/audio/apis/interface.py
  redbot/cogs/audio/apis/youtube.py
  redbot/cogs/audio/core/events/dpy.py
  redbot/cogs/audio/manager.py
  redbot/cogs/cleanup/cleanup.py
  redbot/cogs/downloader/downloader.py
  redbot/cogs/downloader/repo_manager.py
  redbot/cogs/economy/economy.py
  redbot/cogs/general/general.py
  redbot/cogs/mod/mod.py
  redbot/cogs/permissions/converters.py
  redbot/cogs/permissions/permissions.py
  redbot/cogs/reports/reports.py
  redbot/cogs/streams/streams.py
  redbot/cogs/warnings/warnings.py
  redbot/core/bot.py
  redbot/core/cli.py
  redbot/core/commands/commands.py
  redbot/core/commands/converter.py
  redbot/core/commands/help.py
  redbot/core/core_commands.py
  redbot/core/data_manager.py
  redbot/core/events.py
  redbot/core/settings_caches.py
  redbot/core/utils/__init__.py
  redbot/core/utils/menus.py
  setup.cfg
Labels: Category: Meta, Changelog Entry: Skipped, Type: Dependency Update

#4375 JSON schemas for cogs and repos
  .gitignore
  schema/red_cog.schema.json
  schema/red_cog_repo.schema.json
Labels: Category: Downloader, Category: Meta, Type: Feature

#4376 Ensure Bank API only works with Integers.
  redbot/core/bank.py
Labels: Category: Bank API, Type: Bug

#4377 [Mod] Dots and properly capitalise Discord
  redbot/cogs/mod/kickban.py
Labels: Category: Mod Cog, Type: Fix

#4367 Update CODEOWNERS
  .github/CODEOWNERS
Labels: Category: Meta, Type: Enhancement, Type: Fix

#4360 Fixes typos in doc strings
  redbot/core/bot.py
  redbot/core/settings_caches.py
Labels: Category: Bot Core, Type: Fix

#4387 Update `.gitignore` with `.vscode` folder
  .gitignore
Labels: Category: Meta, Type: Fix
