Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2020-03, with the labels that each got.

#3627 Handle users leaving the server while we're applying mutes
  redbot/cogs/mod/mutes.py
Labels: Category: Mod Cog, Type: Fix

#3632 Use correct prefixes when sending messages to owners
  redbot/cogs/mod/mod.py
  redbot/cogs/streams/streams.py
  redbot/core/bot.py
  redbot/core/utils/_internal_utils.py
Labels: Category: Mod Cog, Category: Streams, Type: Fix

#3646 [Core] Unify commands that set bot's activity status
  redbot/core/core_commands.py
Labels: Category: Bot Core, Type: Enhancement

#2382 [General] Add toggle to `[p]serverinfo` that shows more details
  changelog.d/general/2382.enhancement.rst
  redbot/cogs/general/general.py
Labels: Type: Enhancement

#3659 [General] Add shard ID to serverinfo if bot uses multiple shards
  redbot/cogs/general/general.py
Labels: Type: Enhancement

#3666 Fix `BalanceTooHigh` error in Trivia session
  redbot/cogs/trivia/session.py
Labels: Type: Fix

#3663 Prevent PyPI's unavailability from causing bot startup and `[p]info` failure
  redbot/core/core_commands.py
  redbot/core/events.py
Labels: Category: Bot Core, Type: Fix

#3668 [Trivia] Forbid use of non-finite numbers in `[p]triviaset` subcommands
  redbot/cogs/trivia/trivia.py
Labels: Type: Fix

#3653 [Warnings] Tell the command caller when bot was unable to send warn
  redbot/cogs/warnings/warnings.py
Labels: Type: Enhancement

#3656 Improve error message for `OSError` in `[p]repo add`
  redbot/cogs/downloader/downloader.py
Labels: Category: Downloader, Type: Enhancement

#3644 Remove usage of `loop` arg in calls to `start_adding_reactions`
  redbot/cogs/audio/audio.py
  redbot/cogs/downloader/downloader.py
  redbot/cogs/permissions/permissions.py
  redbot/core/checks.py
  redbot/core/utils/__init__.py
  redbot/core/utils/menus.py
Labels: Category: Audio, Category: Bot Core, Category: Downloader, Category: Permissions, Category: Utility Functions, Type: Enhancement, Type: Fix

#3420 [Trivia] Commands for managing custom trivia lists
  redbot/cogs/trivia/trivia.py
Labels: Changelog Entry: Pending, Type: Feature

#3643 Fix issues with the black/whitelist cache
  redbot/core/settings_caches.py
Labels: Category: Bot Core, Changelog Entry: Pending, Release Blocker, Type: Fix

#3638 [Mod] Move deletedelay to core
  redbot/cogs/mod/mod.py
  redbot/cogs/mod/movetocore.py
  redbot/cogs/mod/settings.py
  redbot/core/bot.py
  redbot/core/core_commands.py
  redbot/core/events.py
Labels: Category: Bot Core, Category: Mod Cog, Changelog Entry: Pending, Type: Enhancement

#3680 [General] Fix streaming count in serverinfo command.
  redbot/cogs/general/general.py
Labels: Changelog Entry: Pending, Type: Fix

#3665 Make command errors translatable
  redbot/core/events.py
Labels: Category: Bot Core, Category: i18n, Changelog Entry: Added, Type: Enhancement

#3667 [Image] Add `[count]` argument to `[p]imgur` commands
  redbot/cogs/image/image.py
Labels: Changelog Entry: Added, Type: Enhancement

#3689 [Streams] Make preview picture for stream alerts bigger
  redbot/cogs/streams/streamtypes.py
Labels: Category: Streams, Changelog Entry: Pending, Type: Enhancement

#3695 Fix misleading error appearing when repo name is already taken
  redbot/cogs/downloader/downloader.py
Labels: Category: Downloader, Changelog Entry: Skipped, Type: Fix

#3664 Add changelog label to merged PRs
  .github/workflows/add_changelog_label.yaml
Labels: Category: CI

#3696 Removal of Dispatch, since its not working.
  .github/workflows/publish_crowdin.yml
Labels: Category: CI

#3518 V3 feature audio 4
  redbot/cogs/audio/apis/interface.py
  redbot/cogs/audio/apis/playlist_interface.py
  redbot/cogs/audio/apis/spotify.py
  redbot/cogs/audio/core/__init__.py
  redbot/cogs/audio/core/abc.py
  redbot/cogs/audio/core/cog_utils.py
  redbot/cogs/audio/core/commands/audioset.py
  redbot/cogs/audio/core/commands/controller.py
  redbot/cogs/audio/core/commands/player.py
  redbot/cogs/audio/core/commands/playlists.py
  redbot/cogs/audio/core/commands/queue.py
  redbot/cogs/audio/core/events/cog.py
  redbot/cogs/audio/core/events/dpy.py
  redbot/cogs/audio/core/events/lavalink.py
  redbot/cogs/audio/core/tasks/player.py
  redbot/cogs/audio/core/utilities/formatting.py
  redbot/cogs/audio/core/utilities/player.py
  redbot/cogs/audio/core/utilities/playlists.py
Labels: Category: Audio, Feature Branch, Type: Enhancement, Type: Fix

#3688 [Cleanup] Add `[p]cleanup spam` command
  redbot/cogs/cleanup/cleanup.py
Labels: Changelog Entry: Pending, Type: Feature

#3675 [Docs] Fix Mac instructions in the install guide
  docs/install_linux_mac.rst
Labels: Category: Docs, Changelog Entry: Pending, Release Blocker, Type: Fix

#3027 Print quickstart guide at the end of `redbot-setup`
  redbot/setup.py
Labels: Category: Bot Core, Changelog Entry: Pending, Type: Enhancement

#3687 Bump Red-Lavalink
  setup.cfg
Labels: Category: Audio, Type: Dependency Update

#3683 Fix `AttributeError` in Mod's initialisation
  redbot/cogs/mod/mod.py
Labels: Category: Mod Cog, Changelog Entry: Skipped, Release Blocker, Type: Fix

#3639 Use `surrogateescape` when decoding subprocess's stream
  redbot/cogs/downloader/repo_manager.py
Labels: Category: Downloader, Release Blocker, Type: Fix

#3674 [ModLog] Keep last known username in case's data
  redbot/core/modlog.py
Labels: Category: Modlog API, Type: Fix

#3690 Stop treating YouTube streams without viewers as non-streams
  redbot/cogs/streams/streamtypes.py
Labels: Category: Streams, Type: Fix

#3673 Make fuzzy search results format help strings properly for given context
  redbot/core/utils/_internal_utils.py
Labels: Category: Bot Core, Changelog Entry: Pending, Type: Fix

#3652 Make whitelist/blacklist commands require passing at least one user/role
  redbot/core/core_commands.py
Labels: Category: Bot Core, Type: Fix

#2573 Add `[p]cc search` command
  redbot/cogs/customcom/customcom.py
Labels: Category: CustomCom, Changelog Entry: Pending, Type: Feature

#3661 Remove towncrier
  .gitignore
  CONTRIBUTING.md
  Makefile
  changelog.d/.gitignore
  changelog.d/3256.dep.rst
  changelog.d/3472.enhance.rst
  changelog.d/3526.enhance.rst
  changelog.d/admin/.gitignore
  changelog.d/alias/.gitignore
  changelog.d/audio/.gitignore
  changelog.d/audio/3201.feature.1.rst
  changelog.d/bank/.gitignore
  changelog.d/cleanup/.gitignore
  changelog.d/customcom/.gitignore
  changelog.d/downloader/.gitignore
  changelog.d/economy/.gitignore
  changelog.d/economy/3438.bugfix.rst
  changelog.d/filter/.gitignore
  changelog.d/general/.gitignore
  changelog.d/general/2382.enhancement.rst
  changelog.d/image/.gitignore
  changelog.d/mod/.gitignore
  changelog.d/mod/3472.enhance.rst
  changelog.d/mod/3523.bugfix.rst
  changelog.d/modlog/.gitignore
  changelog.d/mutes/.gitignore
  changelog.d/permissions/.gitignore
  changelog.d/permissions/3465.issue.rst
  changelog.d/reports/.gitignore
  changelog.d/streams/.gitignore
  changelog.d/streams/3237.enhance.rst
  changelog.d/streams/3237.misc.rst
  changelog.d/streams/3487.enhancement.rst
  changelog.d/trivia/.gitignore
  changelog.d/warnings/.gitignore
  changelog.d/warnings/2929.feature.rst
  changelog.d/warnings/3515.misc.rst
  make.bat
  pyproject.toml
  setup.cfg
  tools/check_changelog_entries.sh
  tools/primary_deps.ini
Labels: Changelog Entry: Skipped, Type: Removal

#3657 Log failures when requesting Twitch bearer token
  redbot/cogs/streams/streams.py
Labels: Category: Streams, Type: Enhancement

#3678 Make `[p]cog checkforupdates` indicate when cog can't be updated on current Red/Python version
  redbot/cogs/downloader/downloader.py
Labels: Category: Downloader, Type: Enhancement

#3684 Use `choco upgrade`, not `choco install`
  docs/install_windows.rst
Labels: Category: Docs, Type: Enhancement

#3700 Suppress `DeprecationWarning` caused by uvloop
  redbot/__init__.py
Labels: Category: Bot Core, Release Blocker, Type: Enhancement

#3669 Show member's activities in `[p]userinfo` command
  redbot/cogs/mod/names.py
Labels: Category: Mod Cog, Changelog Entry: Pending, Type: Enhancement

#3701 Fix count of streaming members and a typo in `[p]serverinfo`
  redbot/cogs/general/general.py
Labels: Changelog Entry: Skipped, Type: Fix

#3649 [Dev cog] Add `__name__` to environment's globals
  redbot/core/dev_commands.py
Labels: Type: Fix

#3702 Revert "Add changelog label to merged PRs (#3664)"
  .github/workflows/add_changelog_label.yaml
Labels: Category: CI, Changelog Entry: Skipped

#3676 Use Babel in `[p]set locale` to allow any valid locale
  redbot/core/core_commands.py
Labels: Category: Bot Core, Category: i18n, Type: Fix

#3677 Add `[p]set regionalformat` command to set regional formatting
  docs/conf.py
  redbot/core/bot.py
  redbot/core/core_commands.py
  redbot/core/i18n.py
  redbot/core/utils/chat_formatting.py
Labels: Blocked by: Other PR, Category: Bot Core, Category: i18n, Type: Feature

#3672 Make checks in Bank, Economy and Trivia cogs Permissions-friendly
  redbot/cogs/bank/__init__.py
  redbot/cogs/bank/bank.py
  redbot/cogs/economy/economy.py
  redbot/cogs/trivia/checks.py
  redbot/cogs/trivia/converters.py
  redbot/cogs/trivia/trivia.py
Labels: Type: Enhancement

#3704 Remove regex support from `[p]cleanup self`
  redbot/cogs/cleanup/cleanup.py
Labels: Changelog Entry: Added, Type: Removal

#3660 Red 3.3.3 - Changelog
  docs/changelog_3_3_0.rst
Labels: Category: Docs

#3703 Bump version to 3.3.3
  redbot/__init__.py
  redbot/cogs/audio/manager.py
Labels: Category: Audio, Category: Bot Core, Type: Dependency Update

#3710 Send error in `[p]alias add` when target command doesn't exist
  redbot/cogs/alias/alias.py
Labels: Category: Alias, Type: Enhancement

#3708 Include versions for pre-requirements in Windows install guide
  docs/install_linux_mac.rst
  docs/install_windows.rst
Labels: Category: Docs
