Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2020-11, with the labels that each got.

#4575 Fix `reason` variable shadowing in `[p]massban`
  redbot/cogs/mod/kickban.py
Labels: Category: Mod Cog, Type: Fix

#4152 [Docs] CogManagerUI user guide
  docs/.resources/cog_manager_ui/cog-path.png
  docs/.resources/cog_manager_ui/custom-cog-example.png
  docs/cog_guides/cog_manager_ui.rst
  docs/index.rst
Labels: Category: Docs, QA: Passed, Type: Feature

#4586 Bump versions of actions used by our workflows
  .github/workflows/auto_labeler.yml
  .github/workflows/lint_python.yaml
  .github/workflows/publish_crowdin.yml
  .github/workflows/publish_pypi.yml
  .github/workflows/tests.yml
Labels: Category: CI, Changelog Entry: Skipped, Type: Dependency Update

#4590 [Downloader] Hide `[p]cog reinstallreqs`
  redbot/cogs/downloader/downloader.py
Labels: Category: Downloader, Type: Enhancement

#4588 [Modlog] Fix error when the bot can't read message history in the modlog channel
  redbot/core/modlog.py
Labels: Category: Modlog API, Type: Fix

#4593 Fix wrong words in docstrings of reaction and message predicates
  redbot/core/utils/predicates.py
Labels: Category: Utility Functions, Type: Fix

#4604 Improve Java version regexes in Audio
  redbot/cogs/audio/manager.py
Labels: Category: Audio Cog, Release Blocker, Type: Fix

#4609 [Core] Add `[p]set competing` command
  redbot/core/core_commands.py
Labels: Category: Bot Core, Type: Feature

#4611 [Mod] Support competing status in `[p]userinfo` command
  redbot/cogs/mod/names.py
Labels: Category: Mod Cog, Type: Fix

#4594 Ensure filenames are lowercase when uploading with `[p]triviaset custom`
  redbot/cogs/trivia/trivia.py
Labels: Category: Trivia Cog, Type: Fix

#4608 [Audio] Update Lavalink.jar build
  redbot/cogs/audio/manager.py
Labels: Category: Audio Cog, Release Blocker, Type: Dependency Update

#4613 Red 3.4.3 - Changelog
  docs/changelog_3_4_0.rst
Labels: Category: Docs, Changelog Entry: Skipped

#4614 Version bump to 3.4.3
  redbot/__init__.py
Labels: Changelog Entry: Skipped

#4616 Version bump to 3.4.4.dev1
  redbot/__init__.py
Labels: Changelog Entry: Skipped

#4615 [Streams] Support Youtube stream schedules
  redbot/cogs/streams/streams.py
  redbot/cogs/streams/streamtypes.py
  setup.cfg
Labels: Category: Streams, Type: Feature

#4622 Add `python-dateutil` to primary deps and lock `six` with it
  setup.cfg
  tools/primary_deps.ini
Labels: QA: Bypassed, Type: Dependency Update, Type: Fix

#4511 [Docs] Downloader cog guide
  docs/cog_guides/downloader.rst
  docs/index.rst
  redbot/cogs/downloader/downloader.py
Labels: Category: Docs, Category: Downloader, QA: Passed, Type: Enhancement, hacktoberfest-accepted

#4519 [Docs] Economy Cog Guide
  docs/cog_guides/economy.rst
  docs/index.rst
  redbot/cogs/economy/economy.py
Labels: Category: Docs, Category: Economy Cog, QA: Passed, Type: Enhancement

#4624 [Audio] Fix error when changing Java path
  redbot/cogs/audio/core/commands/llset.py
Labels: Category: Audio Cog, Type: Fix

#4521 [Docs] Streams user guide
  docs/cog_guides/streams.rst
  docs/index.rst
  redbot/cogs/streams/streams.py
Labels: Category: Docs, Category: Streams, QA: Passed, Type: Enhancement, hacktoberfest-accepted

#4618 General geography category :D
  redbot/cogs/trivia/data/lists/geography.yaml
Labels: Category: Trivia Lists, QA: Passed, Type: Feature

#4631 [Streams] Handle streams with past schedules
  redbot/cogs/streams/streamtypes.py
Labels: Category: Streams, Release Blocker, Type: Enhancement, Type: Fix
