Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2020-12, with the labels that each got.

#4650 [Docs] Remove Ubuntu 16.04 from Install Docs
  docs/install_linux_mac.rst
Labels: Category: Docs, Type: Removal

#4658 [Docs] Update GC free credit period
  docs/host-list.rst
Labels: Category: Docs, Changelog Entry: Skipped, Type: Fix

#4636 bot.remove_command returns a dpy command object instead of None
  redbot/core/bot.py
Labels: Category: Bot Core, Type: Fix

#4630 Catch `OverflowError`s in the timedelta converter
  redbot/core/commands/converter.py
Labels: Category: Bot Core, Type: Fix

#4583 Warn when new slotmin/slotmax value will cause slots to not work
  redbot/cogs/economy/converters.py
  redbot/cogs/economy/economy.py
Labels: Category: Economy Cog, Type: Fix

#4640 [Cleanup] Delete command message when using `[p]cleanup self`
  redbot/cogs/cleanup/cleanup.py
Labels: Category: Cleanup Cog, Type: Enhancement

#4466 [CogManagerUI] Fix error when removing path from other OS
  redbot/core/cog_manager.py
Labels: Category: Bot Core, Type: Fix

#4501 Improve grammar in max concurrency error
  redbot/core/events.py
Labels: Category: Bot Core, Type: Enhancement

#4589 Make command usage in help for required arguments consistent
  docs/cog_guides/downloader.rst
  docs/cog_guides/streams.rst
  redbot/cogs/downloader/downloader.py
  redbot/cogs/image/image.py
  redbot/cogs/mod/kickban.py
  redbot/cogs/permissions/permissions.py
  redbot/cogs/streams/streams.py
  redbot/cogs/trivia/trivia.py
  redbot/core/core_commands.py
Labels: Category: Bot Core, Category: Downloader, Category: Mod Cog, Category: Permissions, Category: Streams, Category: Trivia Cog, QA: Passed, Type: Enhancement

#4682 [Docs] Raspian Installation Directs to 404
  docs/getting_started.rst
Labels: Category: Docs, Type: Fix

#4189 Shorten the audit log reason appropriately, remove unused vars
  redbot/cogs/mod/kickban.py
  redbot/cogs/mutes/mutes.py
  redbot/cogs/mutes/voicemutes.py
  redbot/core/utils/mod.py
Labels: Category: Mod Cog, Category: Mutes Cog, Category: Utility Functions, Type: Fix

#4681 [CI] Update CodeQL to resolve warnings.
  .github/workflows/codeql-analysis.yml
Labels: Category: CI, Category: Meta

#4577 [Core] Rich logging for not so rich people
  redbot/__main__.py
  redbot/core/bot.py
  redbot/core/cli.py
  redbot/core/events.py
  redbot/logging.py
  setup.cfg
  tools/primary_deps.ini
Labels: Category: Bot Core, Type: Enhancement

#3905 [Docs] Update console image in Getting Started guide for Rich logging
  docs/.resources/red-console.png
Labels: Category: Docs, Type: Enhancement

#4440 Owners can bypass cooldowns with non persistent toggle
  redbot/core/bot.py
  redbot/core/dev_commands.py
  redbot/core/events.py
Labels: Category: Bot Core, Category: Dev Cog, Type: Enhancement

#4680 [Streams] Remove the blank suppression of errors
  redbot/cogs/streams/streams.py
Labels: Category: Streams, Type: Fix

#4673 [Trivia] Remove empty string from answers (again)
  redbot/cogs/trivia/data/lists/games.yaml
Labels: Category: Trivia Lists, Type: Fix

#4678 [General] Add new available guild features in `[p]serverinfo`
  redbot/cogs/general/general.py
Labels: Category: General Cog, Type: Enhancement

#4683 [Audio] Update Lavalink.jar build
  redbot/cogs/audio/manager.py
Labels: Category: Audio Cog, Type: Dependency Update

#4637 [Docs] Create CC requirements docs
  docs/changelog_3_4_0.rst
  docs/guide_cog_creation.rst
  docs/guide_cog_creators.rst
  docs/index.rst
Labels: Category: Docs, Release Blocker, Type: Feature

#4684 Red 3.4.4 - Changelog
  docs/changelog_3_4_0.rst
Labels: Category: Docs, Changelog Entry: Skipped

#4685 Version bump to 3.4.4
  redbot/__init__.py
Labels: Changelog Entry: Skipped

#4686 Version bump to 3.4.5.dev1
  redbot/__init__.py
Labels: Changelog Entry: Skipped
