Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2020-05, with the labels that each got.

#3815 Make server lock work again
  redbot/cogs/admin/admin.py
Labels: Type: Fix

#3811 Modify CustomCommands to use `on_message_without_command`
  redbot/cogs/customcom/customcom.py
Labels: Category: CustomCom, Type: Enhancement

#3817 Fix incorrect docstring in `[p]helpset maxpages`
  redbot/core/core_commands.py
Labels: Category: Bot Core, Type: Fix

#3816 Stop allowing spaces in custom commands names
  redbot/cogs/customcom/customcom.py
Labels: Category: CustomCom, Type: Fix

#3819 Show default avatars in `[p]userinfo` when no avatar is set
  redbot/cogs/mod/names.py
Labels: Category: Mod Cog, Type: Fix

#3822 Simplify the inheritance of the bot
  redbot/core/bot.py
Labels: Category: Bot Core, Type: Enhancement

#3837 Fix typo in `[p]customcom show`
  redbot/cogs/customcom/customcom.py
Labels: Category: CustomCom, Type: Fix

#3829 Fix creation of IdentifierData in config raw methods
  redbot/core/config.py
  redbot/core/drivers/base.py
  tests/core/test_config.py
Labels: Category: Config, Changelog Entry: Pending, Release Blocker, Type: Fix

#3842 Update the issue templates
  .github/ISSUE_TEMPLATE/config.yml
Labels: Changelog Entry: Skipped

#3844 Add pagination to `[p]alias list` and `[p]alias global list`
  redbot/cogs/alias/alias.py
Labels: Category: Alias, Type: Fix

#3851 Fix casing and add missing dot in two commands
  redbot/cogs/mod/mutes.py
  redbot/core/core_commands.py
Labels: Category: Bot Core, Category: Mod Cog, Type: Fix

#3855 Don't allow to warn other bots
  redbot/cogs/warnings/warnings.py
Labels: Category: Warnings, Type: Fix

#3857 Fix local blacklist and whitelist commands
  redbot/core/core_commands.py
  redbot/core/settings_caches.py
Labels: Category: Bot Core, Type: Fix

#3528 V3 feature audio - clean up
  changelog.d/audio/3201.enhance.1.rst
  changelog.d/audio/3251.enhance.1.rst
  redbot/cogs/audio/__init__.py
  redbot/cogs/audio/apis/__init__.py
  redbot/cogs/audio/apis/global_db.py
  redbot/cogs/audio/apis/interface.py
  redbot/cogs/audio/apis/local_db.py
  redbot/cogs/audio/apis/local_tracks.py
  redbot/cogs/audio/apis/playlist_interface.py
  redbot/cogs/audio/apis/playlist_wrapper.py
  redbot/cogs/audio/apis/spotify.py
  redbot/cogs/audio/apis/youtube.py
  redbot/cogs/audio/audio_dataclasses.py
  redbot/cogs/audio/converters.py
  redbot/cogs/audio/core/__init__.py
  redbot/cogs/audio/core/abc.py
  redbot/cogs/audio/core/cog_utils.py
  redbot/cogs/audio/core/commands/audioset.py
  redbot/cogs/audio/core/commands/controller.py
  redbot/cogs/audio/core/commands/equalizer.py
  redbot/cogs/audio/core/commands/llset.py
  redbot/cogs/audio/core/commands/localtracks.py
  redbot/cogs/audio/core/commands/miscellaneous.py
  redbot/cogs/audio/core/commands/player.py
  redbot/cogs/audio/core/commands/playlists.py
  redbot/cogs/audio/core/commands/queue.py
  redbot/cogs/audio/core/events/__init__.py
  redbot/cogs/audio/core/events/cog.py
  redbot/cogs/audio/core/events/dpy.py
  redbot/cogs/audio/core/events/lavalink.py
  redbot/cogs/audio/core/events/red.py
  redbot/cogs/audio/core/tasks/player.py
  redbot/cogs/audio/core/tasks/startup.py
  redbot/cogs/audio/core/utilities/formatting.py
  redbot/cogs/audio/core/utilities/local_tracks.py
  redbot/cogs/audio/core/utilities/miscellaneous.py
  redbot/cogs/audio/core/utilities/player.py
  redbot/cogs/audio/core/utilities/playlists.py
  redbot/cogs/audio/core/utilities/queue.py
  redbot/cogs/audio/core/utilities/validation.py
  redbot/cogs/audio/manager.py
  redbot/cogs/audio/sql_statements.py
Labels: Category: Audio, Feature Branch, Type: Enhancement, Type: Fix

#3861 [Audio] Typo fix
  redbot/cogs/audio/core/events/dpy.py
Labels: Category: Audio, Type: Fix

#3862 [Docs] Add information about provisional status of RPC
  docs/framework_rpc.rst
  docs/version_guarantees.rst
  redbot/core/rpc.py
Labels: Category: Docs, Category: RPC API, Category: RPC methods

#3869 Update CODEOWNERS for subpackages in Audio cog
  .github/CODEOWNERS
Labels: Category: Meta

#3744 Add information on how to update to out of date message
  redbot/core/events.py
  redbot/core/utils/_internal_utils.py
Labels: Category: Bot Core, Type: Enhancement

#3871 Remove the docstring remains of regex support in `[p]cleanup self`
  redbot/cogs/cleanup/cleanup.py
Labels: Category: Cleanup Cog, Type: Fix

#3856 Add a TOC tree for version sections + emphasise venv removal in older versions
  docs/update_red.rst
Labels: Category: Docs, Type: Enhancement

#3847 Revise install instructions (+ install Java 11 everywhere, and update pyenv to use Python 3.8.3)
  docs/getting_started.rst
  docs/install_linux_mac.rst
Labels: Category: Docs, Type: Enhancement

#3873 Get fucked Java 8. Long live Java 11 (till we kill you for your big brother Java 13)
  redbot/cogs/audio/manager.py
Labels: Category: Audio, Changelog Entry: Pending, Type: Dependency Update

#3867 Stop being destructive on generic `DownloaderException`
  redbot/cogs/downloader/repo_manager.py
Labels: Category: Downloader, Type: Fix

#3868 Special case new RLL message (RLL 0.5.1 bump inside)
  redbot/cogs/audio/core/utilities/player.py
  setup.cfg
Labels: Category: Audio, Changelog Entry: Skipped, Type: Fix

#3843 Add lib folder to `pkg_resources`'s working set
  redbot/__main__.py
Labels: Category: Bot Core, Changelog Entry: Added, Type: Fix

#3827 Add `get_babel_regional_format()` to `redbot.core.i18n.__all__`
  redbot/core/i18n.py
Labels: Category: i18n, Type: Fix

#3797 Make the checks in `[p]alias global add` and `[p]alias add` consistent
  redbot/cogs/alias/alias.py
Labels: Category: Alias, Type: Enhancement

#3826 Fix uses of `re.sub()`
  redbot/core/commands/context.py
  redbot/core/core_commands.py
  redbot/core/utils/_internal_utils.py
Labels: Category: Command Module, Type: Fix

#3864 Use `bot.send_help_for` in `[p]alias help` instead of "hacky way"
  redbot/cogs/alias/alias.py
Labels: Category: Alias, Type: Enhancement, Type: Fix

#3793 Fix behavior of `is_owner` for team applications and put all owner IDs in one attribute
  redbot/core/bot.py
  redbot/core/events.py
  redbot/pytest/core.py
Labels: Category: Bot Core, Type: Enhancement, Type: Fix

#3805 (again) Handle the ints for user objects in Modlog appropriately
  redbot/core/modlog.py
Labels: Category: Modlog API, Type: Fix

#3849 Mention the need of shutdown/startup in update docs
  docs/update_red.rst
Labels: Category: Docs, Type: Enhancement

#3838 Stop showing instance names in `redbot-setup` help's syntax
  redbot/setup.py
Labels: Category: Bot Core, Changelog Entry: Skipped, Type: Enhancement

#3800 Red 3.3.8 - Changelog (Bonus changelog for 3.3.7 included)
  docs/changelog_3_3_0.rst
Labels: Category: Docs, Changelog Entry: Skipped

#3874 Bump to 3.3.8
  redbot/__init__.py
Labels: Changelog Entry: Skipped, QA: Bypassed

#3875 Bump to 3.3.9.dev1
  redbot/__init__.py
Labels: Changelog Entry: Skipped, QA: Bypassed

#3889 [Audio] Lyrics typo - p.s It feels dirty making a PR this small
  redbot/cogs/audio/core/commands/audioset.py
Labels: Category: Audio, Type: Fix

#3890 [Core] Add `bot.set_prefixes()`
  redbot/core/bot.py
  redbot/core/core_commands.py
Labels: Category: Bot Core, Changelog Entry: Added, Type: Feature

#3891 [Mod] Preemptive fix for the next dpy update
  redbot/cogs/mod/kickban.py
Labels: Category: Mod Cog, Type: Fix
