Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2020-06, with the labels that each got.

#3781 Allow to hide moderator from warnings sent to the users + warn channel fix
  redbot/cogs/warnings/warnings.py
Labels: Category: Warnings, Type: Enhancement, Type: Fix

#3897 Fix setting guild prefixes when the prefixes aren't in cache
  redbot/core/settings_caches.py
Labels: Category: Bot Core, Changelog Entry: Skipped, Type: Fix

#3899 [Audio] make audioset autoplay guild-only
  redbot/cogs/audio/core/commands/audioset.py
Labels: Category: Audio, Type: Fix

#3916 [Docs] Add Oracle to VPS Hosting, new specific links
  docs/host-list.rst
Labels: Category: Docs, Type: Enhancement

#3941 [Alias] Remove guild_only deco from main alias command group
  redbot/cogs/alias/alias.py
Labels: Category: Alias, QA: Passed, Type: Fix

#3892 Add missing class docstrings in Downloader, Reports and Streams
  redbot/cogs/downloader/downloader.py
  redbot/cogs/reports/reports.py
  redbot/cogs/streams/streams.py
Labels: Category: Downloader, Category: Streams, QA: Passed, Type: Enhancement

#3907 [Core] Add a text only version to `[p]info`
  redbot/core/core_commands.py
Labels: Category: Bot Core, QA: Passed, Type: Enhancement

#3878 [Audio] Redefine max length with livestream exception
  redbot/cogs/audio/apis/interface.py
  redbot/cogs/audio/core/abc.py
  redbot/cogs/audio/core/commands/player.py
  redbot/cogs/audio/core/commands/playlists.py
  redbot/cogs/audio/core/utilities/formatting.py
  redbot/cogs/audio/core/utilities/player.py
Labels: Category: Audio, Type: Fix

#3880 [Audio] Fix DM Crash
  redbot/cogs/audio/core/events/dpy.py
Labels: Category: Audio, Type: Fix

#3925 [Filter] Fix confusing behavior detecting quotes
  redbot/cogs/filter/filter.py
Labels: Type: Fix

#3923 [Core Commands] Fix `[p]set custominfo` error
  redbot/core/core_commands.py
Labels: Category: Bot Core, Type: Fix

#3942 Only trigger cooldown when message is parsed in `[p]contact`
  redbot/core/core_commands.py
Labels: Category: Bot Core, Type: Fix

#3947 [UX] Add "server" alias for commands that have "guild" in name
  redbot/cogs/economy/economy.py
  redbot/core/core_commands.py
Labels: Category: Bot Core, Type: Enhancement

#3935 Show storage type in start up message
  redbot/core/events.py
Labels: Category: Bot Core, Type: Enhancement

#3946 Update `dm` docstring for readability and grammar (+ period in `contact`)
  redbot/core/core_commands.py
Labels: Category: Bot Core, Type: Fix

#3954 [Bank] Display in settings if bank is global
  redbot/cogs/bank/bank.py
Labels: Category: Bank Cog, Type: Enhancement

#3957 [Mod] Make tempban more consistent with other ban commands.
  redbot/cogs/mod/kickban.py
Labels: Category: Mod Cog, Type: Enhancement, Type: Fix

#3955 [Permissions] Prevent guild owner lockouts
  redbot/cogs/permissions/permissions.py
Labels: Category: Permissions, Type: Fix

#3894 An update to Windows docs structure for our beloved users!
  docs/install_windows.rst
  docs/update_red.rst
Labels: Category: Docs, Changelog Entry: Skipped

#3876 Red 3.3.9 - Changelog
  docs/changelog_3_3_0.rst
Labels: Category: Docs, Changelog Entry: Skipped

#3959 Bump to 3.3.9
  redbot/__init__.py
Labels: Changelog Entry: Skipped, QA: Bypassed

#3960 Dev bump
  redbot/__init__.py
Labels: Changelog Entry: Skipped, QA: Bypassed

#3951 Improve command error responses
  redbot/cogs/mod/settings.py
  redbot/cogs/modlog/modlog.py
Labels: Category: Mod Cog, Type: Enhancement

#3975 [Trivia] Fix whosthatpokemon urls
  redbot/cogs/trivia/data/lists/whosthatpokemon.yaml
Labels: Category: Trivia Lists, Type: Fix

#3974 [Downloader] Add command to list pinned cogs
  redbot/cogs/downloader/downloader.py
Labels: Category: Downloader, Type: Feature

#3964 Fix unnecessary typing before running commands in Downloader
  redbot/cogs/downloader/downloader.py
Labels: Category: Downloader, Type: Fix

#3884 Use a task instead of awaiting for delete delay
  redbot/core/events.py
Labels: Category: Bot Core, Type: Fix

#3972 [Core] Change `[p]embedset user` docstring and message to explicitly say DMs only
  redbot/core/core_commands.py
Labels: Category: Bot Core, Type: Fix

#3970 [Trivia] Minor correction in greekmyth trivia
  redbot/cogs/trivia/data/lists/greekmyth.yaml
Labels: Category: Trivia Lists, Type: Enhancement

#3980 [Trivia] addition of Lord of the Rings trivia
  redbot/cogs/trivia/data/lists/lotr.yaml
Labels: Category: Trivia Lists, Type: Enhancement

#3904 Move logic for fetching latest Red version info to internal util
  redbot/core/core_commands.py
  redbot/core/events.py
  redbot/core/utils/_internal_utils.py
Labels: Category: Bot Core, Type: Enhancement

#3973 [Filter] Add listing commands
  redbot/cogs/filter/filter.py
Labels: Category: Filter, Type: Enhancement

#3965 [Downloader] Embed version of `findcog`
  redbot/cogs/downloader/downloader.py
Labels: Category: Downloader, Type: Enhancement

#3987 [Permissions] Fix integer commands and empty dict rules
  redbot/cogs/permissions/permissions.py
Labels: Category: Permissions, Type: Fix

#3901 [Streams] Only send message about missing client secret once
  redbot/cogs/streams/streams.py
Labels: Category: Streams, Type: Fix

#3968 Fix capitalisation in cog creation docs (dev version note)
  docs/guide_cog_creation.rst
Labels: Category: Docs, Type: Fix

#3906 Print getting started guide on startup when bot is in no guilds
  redbot/core/events.py
Labels: Category: Bot Core, Type: Enhancement

#3958 Use timedelta converter for ban duration and add option to pass delete days to [p]tempban
  redbot/cogs/mod/kickban.py
Labels: Category: Mod Cog, Type: Enhancement

#3895 [Mod] Consistency periods & proper logging
  redbot/cogs/mod/kickban.py
Labels: Category: Mod Cog, Type: Enhancement

#3920 [redbot.setup] Ask for confirmation when passed instance name contains hyphens + allow to use dots
  redbot/setup.py
Labels: Category: Bot Core, Type: Fix

#3915 Expose info about internally managed jar in `[p]audioset info`
  redbot/cogs/audio/core/commands/audioset.py
  redbot/cogs/audio/manager.py
Labels: Category: Audio, Type: Enhancement, Type: Feature

#3969 [Downloader] Differentiate core and local cogs in `[p]findcog`
  redbot/cogs/downloader/downloader.py
Labels: Category: Downloader, Type: Enhancement

#3990 [Streams] Invalidate old bearer token when api key is updated.
  redbot/cogs/streams/streams.py
Labels: Category: Streams, Type: Fix

#3911 [Mod] Only send the DM about migration if at least 1 scope entry has a non-default value
  redbot/cogs/mod/mod.py
Labels: Category: Mod Cog, Type: Enhancement, Type: Fix

#3921 Add `map()`, `find()` and `next()` methods to `AsyncIter`
  redbot/core/utils/__init__.py
Labels: Category: Utility Functions, Type: Feature

#3938 [i18n/Streams] Change strings mentioning commands to use {command} variable
  redbot/cogs/streams/streams.py
Labels: Category: Streams, Category: i18n, Type: Enhancement

#3608 Update deprecation warnings
  docs/framework_commands.rst
  redbot/cogs/downloader/downloader.py
  redbot/core/_sharedlibdeprecation.py
  redbot/core/commands/__init__.py
  redbot/core/commands/converter.py
  redbot/core/core_commands.py
  redbot/core/utils/__init__.py
  redbot/core/utils/menus.py
Labels: Category: Bot Core, Category: Downloader, QA: Passed, Release Blocker, Type: Deprecation

#4006 Add `project_urls` and improve our use of classifiers
  setup.cfg
Labels: Category: Meta, Changelog Entry: Skipped, Type: Enhancement

#4007 [Audio RW] Add WL dep and WL overides
  .github/CODEOWNERS
  redbot/core/apis/__init__.py
  redbot/core/apis/audio/__init__.py
  redbot/core/apis/audio/regex.py
  redbot/core/apis/audio/wavelink/__init__.py
  redbot/core/apis/audio/wavelink/constants.py
  redbot/core/apis/audio/wavelink/events.py
  redbot/core/apis/audio/wavelink/overwrites.py
  redbot/core/bot.py
  setup.cfg
  tools/primary_deps.ini
Labels: Category: Audio, Category: Bot Core, Feature Branch, Type: Dependency Update

#4012 Add `discord.com` to supported domains in `INVITE_URL_RE`
  redbot/core/utils/common_filters.py
Labels: Category: Utility Functions, Type: Enhancement

#4027 Add 'discord.com/invite' to docs of `filter_invites()` function
  redbot/core/utils/common_filters.py
Labels: Category: Docs, Category: Utility Functions, Changelog Entry: Skipped, Type: Fix
