Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2020-02, with the labels that each got.

#3483 Add `-e` flag to `journalctl` command in systemd guide so that it takes the user to the end of logs automatically.
  changelog.d/3483.docs.rst
  docs/autostart_systemd.rst
Labels: Category: Docs, Type: Enhancement

#3486 Allow to edit prefixes through `redbot --edit`
  changelog.d/3481.feature.rst
  redbot/__main__.py
  redbot/core/cli.py
Labels: Category: Bot Core, Type: Feature

#3488 [Mod] Fix shorthelp for `[p]modset dm`
  changelog.d/mod/3488.misc.rst
  redbot/cogs/mod/settings.py
Labels: Category: Mod Cog, Type: Fix

#3474 [Core] Add a cli flag for setting a max size of message cache
  changelog.d/3474.feature.rst
  redbot/core/bot.py
  redbot/core/cli.py
Labels: Category: Bot Core, Type: Feature

#3478 [Core] No DMing the bot
  redbot/core/core_commands.py
Labels: Category: Bot Core, Type: Fix

#3463 Adding CentOS 8 Documentation
  docs/install_linux_mac.rst
Labels: Category: Docs, Type: Enhancement

#3435 CI ports from Travis CI
  .github/CODEOWNERS
  .github/workflows/publish_crowdin.yml
  .github/workflows/publish_pypi.yml
  .github/workflows/tests.yml
Labels: Category: CI

#3512 dev bump
  redbot/__init__.py
Labels: QA: Bypassed

#3511 Updated readme badges.
  README.md
Labels: Category: Docs

#3514 Update announcer.py
  redbot/cogs/admin/announcer.py
Labels: Type: Fix

#3500 V3/feature/audio/3
  redbot/cogs/audio/apis/interface.py
  redbot/cogs/audio/apis/local_db.py
  redbot/cogs/audio/apis/spotify.py
  redbot/cogs/audio/audio_dataclasses.py
  redbot/cogs/audio/converters.py
  redbot/cogs/audio/core/abc.py
  redbot/cogs/audio/core/commands/audioset.py
  redbot/cogs/audio/core/commands/controller.py
  redbot/cogs/audio/core/commands/player.py
  redbot/cogs/audio/core/commands/playlists.py
  redbot/cogs/audio/core/commands/queue.py
  redbot/cogs/audio/core/events/lavalink.py
  redbot/cogs/audio/core/tasks/lavalink.py
  redbot/cogs/audio/core/utilities/formatting.py
  redbot/cogs/audio/core/utilities/miscellaneous.py
  redbot/cogs/audio/core/utilities/player.py
  redbot/cogs/audio/core/utilities/playlists.py
  redbot/cogs/audio/core/utilities/queue.py
Labels: Category: Audio, Type: Enhancement, Type: Fix

#3502 V3/feature/audio/fixes/3485
  redbot/cogs/audio/core/commands/controller.py
  redbot/cogs/audio/core/commands/player.py
Labels: Category: Audio, Type: Enhancement, Type: Fix

#3503 V3/feature/audio/fixes/3353
  redbot/cogs/audio/core/events/dpy.py
Labels: Category: Audio, Type: Enhancement

#3517 Adds traceback logging to task exception handling
  redbot/__main__.py
Labels: Type: Enhancement

#3516 [Warnings] Stop using `inspect.getsource` to check for `is_owner` check
  changelog.d/warnings/3515.misc.rst
  redbot/cogs/warnings/helpers.py
Labels: Type: Fix

#3520 More explicitly state that `required_cogs` key in `info.json` needs to be a dict
  docs/guide_publish_cogs.rst
Labels: Category: Docs, Category: Downloader, Type: Enhancement

#3521 [CI] Automated Crowdin uploading and downloading!
  .github/workflows/publish_crowdin.yml
  Makefile
Labels: Category: CI

#3493 Add black config to pyproject.toml
  .github/CONTRIBUTING.md
  Makefile
  make.bat
  pyproject.toml
Labels: Type: Enhancement

#3536 [Typo Fix] I'm basically a core contributor now (VERY IMPORTANT CHANGES)
  redbot/core/commands/commands.py
Labels: Category: Docs, Type: Fix

#3537 Make systemd guide clearer on obtaining username and python path
  docs/autostart_systemd.rst
Labels: Category: Docs

#3542 [commands module] functools.partial support
  redbot/core/commands/commands.py
Labels: Category: Command Module, Type: Enhancement

#3544 Skip publish actions for forks
  .github/workflows/publish_crowdin.yml
  .github/workflows/publish_pypi.yml
Labels: Category: CI

#3508 [Dev] Allow top-level await in code statements
  redbot/core/dev_commands.py
Labels: Type: Enhancement

#3549 [Docs] Have systemd service wait for network ready
  docs/autostart_systemd.rst
Labels: Category: Docs, Type: Enhancement

#3553 new mention behavior, new filter behavior
  redbot/core/bot.py
  redbot/core/commands/context.py
  redbot/core/utils/common_filters.py
Labels: Category: Bot Core, Category: Command Module, Category: Utility Functions, Type: Enhancement

#3535 Add `make stylediff` command and run it in tox
  Makefile
  make.bat
  tox.ini
Labels: Category: CI

#3496 Payday should store the last time it was used so it can be compared to the cooldown value rather than using a cooldown deco that won't reset if cooldown goes lower
  changelog.d/economy/3438.bugfix.rst
  redbot/cogs/economy/economy.py
Labels: Type: Fix

#3490 [Warnings]Make it possible to add reason with unwarn
  redbot/cogs/warnings/warnings.py
Labels: Type: Enhancement

#3538 Indicate instructions for different venv types in systemd guide better
  docs/autostart_systemd.rst
Labels: Category: Docs

#3495 [Docs] Restructure venv instructions (put them in install guides)
  docs/about_venv.rst
  docs/index.rst
  docs/install_linux_mac.rst
  docs/install_windows.rst
  docs/venv_guide.rst
Labels: Category: Docs, Type: Enhancement

#3546 Don't translate command name in `[p]alias help`
  redbot/cogs/alias/alias.py
Labels: Category: Alias, Type: Fix

#3237 [Streams] Significantly reduce number the quota usage for YouTube Data api
  changelog.d/audio/3201.feature.1.rst
  changelog.d/streams/3237.enhance.rst
  changelog.d/streams/3237.misc.rst
  redbot/cogs/streams/__init__.py
  redbot/cogs/streams/streams.py
  redbot/cogs/streams/streamtypes.py
Labels: Category: Streams, Type: Enhancement

#3487 [Streams] Use new Twitch API and Bearer tokens
  changelog.d/streams/3487.enhancement.rst
  redbot/cogs/streams/__init__.py
  redbot/cogs/streams/streams.py
  redbot/cogs/streams/streamtypes.py
Labels: Blocked by: Other PR, Category: Streams, Type: Enhancement

#3533 [Downloader] Add schema validation to `info.json` file processing
  redbot/cogs/downloader/info_schemas.py
  redbot/cogs/downloader/installable.py
  redbot/cogs/downloader/json_mixins.py
  redbot/pytest/downloader.py
Labels: Category: Downloader, Type: Enhancement, Type: Fix

#3472 [Mod] Move ignored guilds and channels to core
  changelog.d/3472.enhance.rst
  changelog.d/mod/3472.enhance.rst
  redbot/cogs/mod/mod.py
  redbot/cogs/mod/movetocore.py
  redbot/core/bot.py
  redbot/core/core_commands.py
  redbot/core/global_checks.py
  redbot/core/settings_caches.py
Labels: Category: Bot Core, Category: Mod Cog, QA: Needed, Type: Enhancement, Type: Fix, Type: Optimisation

#3554 Payday: Fix missing await
  redbot/cogs/economy/economy.py
Labels: Type: Fix

#3548 [CI] Less weekly churn from automated tasks
  .github/workflows/publish_crowdin.yml
Labels: Category: CI

#3558 Add logging for unexpected OSError in `[p]repo add`
  redbot/cogs/downloader/downloader.py
Labels: Category: Downloader, Type: Enhancement

#3561 [Warnings] Fix inconsistency for warnreason
  redbot/cogs/warnings/warnings.py
Labels: Type: Enhancement

#3559 [Mod] fix exception caused by typo
  redbot/cogs/mod/mod.py
Labels: Category: Mod Cog, Type: Fix

#3564 Fix link names in Windows install guide
  docs/install_windows.rst
Labels: Category: Docs

#3562 [Core] Setting the bot's game/listening/watching displays new text in chat message and is capped at 128 chars.
  redbot/core/core_commands.py
Labels: Category: Bot Core, Type: Enhancement

#3565 [Core] i18n fixes for commands that set statuses
  redbot/core/core_commands.py
Labels: Category: Bot Core, Type: Fix

#3568 [Docs] Cog Creator Guidelines
  docs/guide_cog_creation.rst
Labels: Category: Docs, Type: Enhancement

#3570 [Docs] Add warning on `latest` version of docs.
  docs/_templates/layout.html
Labels: Category: Docs, Type: Enhancement

#3573 [Mod] Delegate `send_to_owners` call in `initialize()` to a task
  redbot/cogs/mod/__init__.py
  redbot/cogs/mod/mod.py
Labels: Category: Mod Cog, Type: Fix

#3575 [Docs] Fix link in warning on `latest` version of docs
  docs/_templates/layout.html
Labels: Category: Docs, Type: Fix

#3579 [Core] Utilize clean prefix
  redbot/core/core_commands.py
Labels: Category: Bot Core, Type: Fix

#3577 Fix type hints for var-positional parameters in whitelist/blacklist commands
  redbot/core/core_commands.py
Labels: Category: Bot Core, Type: Fix

#3571 Add clearer error when `pages` isn't made of embeds nor strings in menu()
  redbot/core/utils/menus.py
Labels: Category: Utility Functions, Type: Fix

#3585 Use `bot.get_valid_prefixes()` to get DM prefix
  redbot/core/core_commands.py
Labels: Category: Bot Core, Type: Enhancement

#3581 [Trivia] Remove empty string from answers
  redbot/cogs/trivia/data/lists/games.yaml
  redbot/cogs/trivia/data/lists/leagueoflegends.yaml
Labels: Category: Trivia Lists

#3555 [Docs] Make Getting started guide explain use of quotes for arguments with spaces
  docs/getting_started.rst
Labels: Category: Docs, Type: Enhancement

#3460 [Core] Update licenseinfo command to conform with non-American English.
  redbot/core/core_commands.py
Labels: Category: Bot Core, QA: Needed, Type: Enhancement

#3491 [Docs] randomize_color now has it's own docstring
  docs/framework_utils.rst
Labels: Category: Docs, Category: Utility Functions, Type: Fix

#3614 Fix Red specific behavior of invoke_without_command
  redbot/core/commands/commands.py
Labels: Category: Command Module, Type: Bug

#3610 Fix few deprecation warnings
  docs/conf.py
  redbot/core/config.py
  redbot/core/events.py
Labels: Category: Bot Core, Category: Config, Category: Docs, Type: Fix

#3615 Deprecation warning - alternative
  redbot/__init__.py
Labels: Category: Bot Core, Type: Enhancement

#3607 [Core] Use new PyPI urls
  redbot/core/core_commands.py
  redbot/core/events.py
Labels: Category: Bot Core, Type: Fix

#3606 [Trivia] Better handling for session errors
  redbot/cogs/trivia/session.py
Labels: Type: Fix

#3619 Revert "new mention behavior, new filter behavior (#3553)"
  redbot/core/bot.py
  redbot/core/commands/context.py
  redbot/core/utils/common_filters.py
Labels: Category: Bot Core, Category: Command Module, Type: Removal

#3609 Bump deps (d.py and Sphinx bump inside)
  setup.cfg
  tools/primary_deps.ini
Labels: Category: Bot Core, Category: Docs, Category: Tests, Type: Dependency Update

#3592 Replace `[p]` with clean prefix in install messages
  redbot/cogs/downloader/downloader.py
Labels: Category: Downloader, Type: Enhancement

#3617 Fix config conversion in image cog
  redbot/cogs/image/image.py
Labels: Type: Fix

#3595 Add separate header for each event predicate in utility functions docs
  docs/framework_utils.rst
Labels: Category: Docs, Category: Utility Functions, Type: Enhancement

#3623 Bump Red-Lavalink
  setup.cfg
Labels: Category: Audio, Type: Dependency Update

#3591 Use clean prefixes in code blocks in Red
  redbot/cogs/admin/admin.py
  redbot/cogs/bank/bank.py
  redbot/cogs/customcom/customcom.py
  redbot/cogs/downloader/downloader.py
  redbot/cogs/economy/economy.py
  redbot/cogs/image/image.py
  redbot/cogs/mod/mod.py
  redbot/cogs/mod/settings.py
  redbot/cogs/streams/streams.py
  redbot/cogs/trivia/trivia.py
  redbot/cogs/warnings/warnings.py
  redbot/core/bot.py
Labels: Category: Bot Core, Category: CustomCom, Category: Downloader, Category: Mod Cog, Category: Streams, Type: Fix

#3137 Use a metaclass for config's singletons
  redbot/core/config.py
Labels: Category: Config, Type: Fix

#3621 3.3.2 changelog
  docs/changelog_3_3_0.rst
  docs/conf.py
Labels: Category: Docs

#3589 Check permissions before trying to clear reactions in `menu()`
  redbot/core/utils/menus.py
Labels: Category: Utility Functions, Type: Fix

#3504 [Permissions] Alwaysavailable error message
  changelog.d/permissions/3465.issue.rst
  redbot/cogs/permissions/permissions.py
Labels: Category: Permissions, Type: Fix

#3631 Fix an issue when there is no game set on the twitch stream
  redbot/cogs/streams/streamtypes.py
Labels: Category: Streams, Type: Fix
