Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2020-04, with the labels that each got.

#3717 Fix `redbot.core.utils.common_filters.INVITE_URL_RE` regex
  redbot/core/utils/common_filters.py
Labels: Category: Utility Functions, Type: Fix

#3721 Include domains added in #3717 in `filter_invites`'s docstring
  redbot/core/utils/common_filters.py
Labels: Category: Docs, Category: Utility Functions, Changelog Entry: Skipped, Type: Fix

#3722 Fix Flame's irk with code blocks in windows install guide
  docs/install_windows.rst
Labels: Category: Docs, Changelog Entry: Skipped, Type: Fix

#3723 Bump deps (includes d.py bump)
  setup.cfg
Labels: Type: Dependency Update

#3707 Fix bank check (used in Bank, Economy and Trivia cogs)
  redbot/cogs/bank/bank.py
Labels: Type: Fix

#3724 Version bump
  redbot/__init__.py
Labels: Changelog Entry: Skipped

#3706 Red 3.3.4 - Changelog
  docs/changelog_3_3_0.rst
Labels: Category: Docs, Changelog Entry: Skipped

#3730 Stop Outdated field from showing in `[p]info` when up-to-date
  redbot/core/core_commands.py
Labels: Category: Bot Core, Type: Enhancement

#3732 Revert "[CI] Less weekly churn from automated tasks"
  .github/workflows/publish_crowdin.yml
Labels: Category: CI

#3734 Properly check for command's existence in `[p]alias add`
  redbot/cogs/alias/alias.py
Labels: Category: Alias, Changelog Entry: Added, Release Blocker, Type: Fix

#3727 Red 3.3.5 - Changelog
  docs/changelog_3_3_0.rst
Labels: Category: Docs, Changelog Entry: Skipped

#3735 Version bump
  redbot/__init__.py
Labels: Changelog Entry: Skipped

#3736 dev bump
  redbot/__init__.py
Labels: Changelog Entry: Skipped

#3746 Fix ignored channels list in `[p]ignore`
  redbot/core/core_commands.py
  redbot/core/settings_caches.py
Labels: Category: Bot Core, Type: Fix

#3747 [Core] Support setting avatar via attachment
  redbot/core/core_commands.py
Labels: Category: Bot Core, Type: Enhancement, Type: Fix

#3759 [Trivia] Correct spelling of compact disc in games.yaml
  redbot/cogs/trivia/data/lists/games.yaml
Labels: Category: Trivia Lists, Type: Fix

#3764 Reduce calls to config in the `on_command_add` event
  redbot/core/commands/commands.py
  redbot/core/events.py
Labels: Category: Bot Core, Category: Command Module, Type: Optimisation

#3765 Normalize names of attributes with Config instances
  docs/framework_config.rst
  redbot/cogs/admin/admin.py
  redbot/cogs/admin/converters.py
  redbot/cogs/alias/alias.py
  redbot/cogs/bank/bank.py
  redbot/cogs/downloader/downloader.py
  redbot/cogs/downloader/repo_manager.py
  redbot/cogs/filter/filter.py
  redbot/cogs/image/image.py
  redbot/cogs/mod/abc.py
  redbot/cogs/mod/events.py
  redbot/cogs/mod/kickban.py
  redbot/cogs/mod/mod.py
  redbot/cogs/mod/mutes.py
  redbot/cogs/mod/names.py
  redbot/cogs/mod/settings.py
  redbot/cogs/streams/streams.py
  redbot/cogs/trivia/trivia.py
  redbot/core/bank.py
  redbot/core/cog_manager.py
  redbot/core/config.py
  redbot/core/modlog.py
Labels: Changelog Entry: Skipped, Type: Enhancement

#3766 Optimize config calls in few places
  redbot/cogs/bank/bank.py
  redbot/cogs/downloader/downloader.py
  redbot/cogs/filter/filter.py
  redbot/cogs/mod/kickban.py
  redbot/core/commands/help.py
  redbot/core/core_commands.py
  redbot/core/events.py
Labels: Blocked by: Other PR, Type: Optimisation

#3757 Add a command to remove bot's avatar
  redbot/core/core_commands.py
Labels: Category: Bot Core, Type: Feature

#3767 Make the largest loops lazier and async to avoid blocking
  docs/framework_utils.rst
  redbot/cogs/admin/announcer.py
  redbot/cogs/mod/kickban.py
  redbot/cogs/permissions/converters.py
  redbot/cogs/reports/reports.py
  redbot/core/bank.py
  redbot/core/core_commands.py
  redbot/core/events.py
  redbot/core/utils/__init__.py
Labels: Blocked by: Other PR, Category: Utility Functions, Type: Feature, Type: Optimisation

#3773 Stop using localised display name in stream url
  redbot/cogs/streams/streamtypes.py
Labels: Category: Streams, Type: Fix

#3776 Fix sleeping and improve documentation for `AsyncIter`
  docs/framework_utils.rst
  redbot/core/utils/__init__.py
Labels: Category: Docs, Category: Utility Functions, Release Blocker, Type: Enhancement, Type: Fix

#3740 Change pyenv instructions to update pyenv when it's already installed
  docs/install_linux_mac.rst
Labels: Category: Docs, Type: Enhancement

#3774 Patched the Patch where the Patch patched too much
  redbot/cogs/trivia/trivia.py
Labels: Type: Fix

#3784 Handle the ints for user objects in Modlog appropriately
  redbot/core/modlog.py
Labels: Category: Modlog API, Type: Fix

#3782 Fix Owner ID failsafe
  redbot/core/bot.py
  redbot/core/events.py
Labels: Category: Bot Core, Type: Fix

#3783 Stop fetching bans when checking for tempban expiration
  redbot/cogs/mod/kickban.py
Labels: Category: Mod Cog, Type: Optimisation

#3718 Don't run command checks on each message starting with a prefix
  redbot/core/commands/help.py
  redbot/core/events.py
  redbot/core/utils/_internal_utils.py
Labels: Category: Bot Core, Category: Help, Category: Utility Functions, Release Blocker, Type: Optimisation

#3742 Allow to disable escaping in chat formatting utils
  redbot/core/utils/chat_formatting.py
Labels: Category: Utility Functions, Type: Enhancement

#3791 [Audio] Update Lavalink.jar version
  redbot/cogs/audio/manager.py
Labels: Category: Audio, Type: Dependency Update

#3792 Update install docs to include Ubuntu 20.04
  docs/install_linux_mac.rst
Labels: Category: Docs

#3794 Show current driver in `[p]debuginfo`
  redbot/core/core_commands.py
Labels: Category: Bot Core, Type: Enhancement

#3780 [Driver] Ensure JSON driver has a singular lock per cog name
  redbot/core/drivers/json.py
Labels: Category: Config, Type: Fix

#3790 Add docs for updating Red
  docs/index.rst
  docs/update_red.rst
Labels: Category: Docs

#3795 Add `[p]cc raw` command giving raw (escaped) response
  redbot/cogs/customcom/customcom.py
Labels: Category: CustomCom, Type: Feature

#3714 Fix migrations from JSON driver
  redbot/core/drivers/json.py
  redbot/setup.py
Labels: Category: Config, Type: Fix

#3788 [Alias] Create caching to call config less frequently
  redbot/cogs/alias/__init__.py
  redbot/cogs/alias/alias.py
  redbot/cogs/alias/alias_entry.py
  redbot/cogs/cleanup/cleanup.py
  redbot/core/utils/_internal_utils.py
  tests/cogs/test_alias.py
Labels: Category: Alias, Type: Optimisation

#3738 Red 3.3.6 - Changelog
  docs/changelog_3_3_0.rst
Labels: Category: Docs, Changelog Entry: Skipped

#3803 Update to 3.3.7
  redbot/__init__.py
Labels: Changelog Entry: Skipped

#3804 Dev bump
  redbot/__init__.py
Labels: Changelog Entry: Skipped
