Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2020-01, with the labels that each got.

#3245 do better with loop cleanup
  .bandit.yml
  .codeclimate.yml
  .travis.yml
  Makefile
  changelog.d/3245.dep.rst
  changelog.d/3245.misc.rst
  docs/install_linux_mac.rst
  docs/install_windows.rst
  make.bat
  redbot/__init__.py
  redbot/__main__.py
  redbot/core/bank.py
  redbot/core/bot.py
  redbot/core/cli.py
  redbot/core/events.py
  redbot/core/modlog.py
  setup.cfg
  tests/cogs/downloader/test_downloader.py
  tools/bumpdeps.py
  tools/edit_testrepo.py
  tox.ini
Labels: Status: Needs Discussion, Type: Dependency Update, Type: Enhancement, Type: Fix

#3234 [Docs] Remove API Reference for downloader, add page about publishing cogs
  changelog.d/3234.docs.rst
  changelog.d/downloader/3234.docs.rst
  docs/changelog_3_1_0.rst
  docs/cog_downloader.rst
  docs/guide_cog_creation.rst
  docs/guide_migration.rst
  docs/guide_publish_cogs.rst
  docs/index.rst
Labels: Category: Docs, Type: Enhancement

#3240 [Utils] Privatize internal utils
  changelog.d/3240.removal.rst
  redbot/cogs/downloader/repo_manager.py
  redbot/core/commands/help.py
  redbot/core/core_commands.py
  redbot/core/events.py
  redbot/core/utils/__init__.py
  redbot/core/utils/_internal_utils.py
  redbot/setup.py
Labels: Type: Enhancement

#3186 Replace links to `v3-develop` docs with links to `stable` docs
  changelog.d/customcom/3186.misc.rst
  changelog.d/permissions/3186.misc.rst
  redbot/cogs/customcom/customcom.py
  redbot/cogs/permissions/permissions.py
Labels: Type: Enhancement

#3203 [Downloader] Actually use disabled key in updates
  changelog.d/downloader/3173.misc.rst
  redbot/cogs/downloader/downloader.py
Labels: Type: Fix

#3035 [Docs] Fix driver docs showing twice
  changelog.d/2972.docs.rst
  changelog.d/3035.docs.rst
  docs/framework_config.rst
  redbot/core/drivers/__init__.py
  redbot/core/drivers/base.py
Labels: Category: Docs, Type: Fix

#3171 [Setup] Use instance name in default data path
  changelog.d/3171.bugfix.rst
  changelog.d/3171.enhance.1.rst
  changelog.d/3171.enhance.2.rst
  redbot/__main__.py
  redbot/setup.py
Labels: Type: Enhancement

#3235 Move `[p]backup` command to cli command - `redbot-setup backup`
  changelog.d/3235.feature.rst
  changelog.d/3235.removal.rst
  redbot/core/core_commands.py
  redbot/setup.py
Labels: Type: Enhancement

#3250 [Admin] Code prettification and bugfixing
  changelog.d/admin/3250.breaking.1.rst
  changelog.d/admin/3250.breaking.2.rst
  changelog.d/admin/3250.bugfix.1.rst
  changelog.d/admin/3250.bugfix.2.rst
  changelog.d/admin/3250.bugfix.3.rst
  changelog.d/admin/3250.bugfix.4.rst
  changelog.d/admin/3250.misc.1.rst
  changelog.d/admin/3250.misc.2.rst
  changelog.d/admin/3250.misc.3.rst
  redbot/cogs/admin/admin.py
  redbot/cogs/admin/converters.py
  redbot/pytest/admin.py
  tests/cogs/admin/__init__.py
  tests/cogs/admin/test_admin.py
Labels: Type: Enhancement, Type: Fix, Type: Removal

#3255 Fix typo '.foramt()' -> '.format()' in cogs/admin/admin.py
  changelog.d/3255.misc.rst
  redbot/cogs/admin/admin.py
Labels: Type: Fix

#3259 Update the licence info to 2020
  LICENSE
  changelog.d/3259.docs.rst
  docs/conf.py
Labels: Category: Docs, Type: Fix

#3256 [Core] Fix missing ``await`` in code of ``redbot --edit``.
  changelog.d/3256.misc.rst
  redbot/__main__.py
Labels: Type: Fix

#3042 [Streams] Fix TypeError in TwitchStream class and change stream_alert function for Twitch
  changelog.d/streams/3042.bugfix.rst
  redbot/cogs/streams/streams.py
  redbot/cogs/streams/streamtypes.py
Labels: Release Blocker, Type: Fix

#3263 Fix docs building
  redbot/launcher.py
  setup.py
Labels: QA: Bypassed

#3244 [3.2][Audio] Part 6 (Last? maybe?)
  .github/CODEOWNERS
  .gitignore
  changelog.d/3047.bugfix.3.rst
  changelog.d/3193.misc.1.rst
  changelog.d/audio/2904.dep.1.rst
  changelog.d/audio/2904.enhance.9.rst
  changelog.d/audio/2940.bugfix.1.rst
  changelog.d/audio/2940.enhancement.1.rts
  changelog.d/audio/2940.enhancement.2.rst
  changelog.d/audio/2940.feature.1.rst
  changelog.d/audio/2940.feature.2.rst
  changelog.d/audio/2940.misc.1.rst
  changelog.d/audio/3047.bugfix.1.rst
  changelog.d/audio/3047.bugfix.2.rst
  changelog.d/audio/3047.bugfix.3.rst
  changelog.d/audio/3047.feature.1.rst
  changelog.d/audio/3104.misc.3.rst
  changelog.d/audio/3152.misc.rst
  changelog.d/audio/3165.bugfix.1.rst
  changelog.d/audio/3165.enhance.1.rst
  changelog.d/audio/3168.misc.1.rst
  changelog.d/audio/3195.misc.1.rst
  changelog.d/audio/3201.feature.1.rst
  changelog.d/audio/3238.bugfix.1.rst
  docs/guide_cog_creation.rst
  redbot/cogs/audio/apis.py
  redbot/cogs/audio/audio.py
  redbot/cogs/audio/audio_dataclasses.py
  redbot/cogs/audio/checks.py
  redbot/cogs/audio/config.py
  redbot/cogs/audio/converters.py
  redbot/cogs/audio/databases.py
  redbot/cogs/audio/equalizer.py
  redbot/cogs/audio/errors.py
  redbot/cogs/audio/manager.py
  redbot/cogs/audio/playlists.py
  redbot/cogs/audio/sql_statements.py
  redbot/cogs/audio/utils.py
  redbot/cogs/permissions/permissions.py
  redbot/core/bot.py
  redbot/core/drivers/postgres/postgres.py
  setup.cfg
  tools/primary_deps.ini
Labels: Type: Fix

#3199 [3.2.1][Audio] Daily playlist
  changelog.d/audio/3199.feature.1.rst
  redbot/cogs/audio/playlists.py
Labels: Type: Feature

#3266 GH action for linting to replace pylint
  .github/workflows/lint_python.yaml
Labels: QA: Bypassed

#3257 [Docs] Fix broken docs for `commands.Context.react_quietly`
  changelog.d/3257.docs.rst
  redbot/core/commands/context.py
Labels: Category: Docs, Type: Fix

#3254 [Core] Escape markdown in python executable path in ``[p]debuginfo`` command.
  changelog.d/3254.misc.rst
  redbot/core/core_commands.py
Labels: Type: Fix

#3267 patchup name error from 3254
  redbot/core/core_commands.py
Labels: QA: Bypassed

#3268 Removing a misplaced trivia question
  redbot/cogs/trivia/data/lists/games.yaml
Labels: QA: Bypassed

#3269 [Setup] Stop logging to disk
  changelog.d/3269.enhance.rst
  redbot/setup.py
Labels: Type: Enhancement

#3249 Fix ctx.clean_prefix for *new* discord behavior
  changelog.d/3249.bugfix.rst
  redbot/core/commands/context.py
Labels: QA: Passed, Type: Fix

#3273 [Core] Add `Red.wait_until_red_ready()` function to wait until post connection startup is done
  changelog.d/3273.bugfix.1.rst
  changelog.d/3273.bugfix.2.rst
  changelog.d/3273.enhance.rst
  changelog.d/3273.feature.rst
  redbot/core/bot.py
  redbot/core/events.py
Labels: Type: Enhancement

#3258 [Docs] Update Python version for docs
  .readthedocs.yml
  changelog.d/3258.misc.rst
Labels: Category: Docs, Type: Dependency Update

#3278 [Downloader] Fix `AttributeError` in `[p]findcog` for cogs that weren't installed through Downloader
  changelog.d/downloader/3278.misc.rst
  redbot/cogs/downloader/downloader.py
Labels: Type: Fix

#3277 [CustomCom] Use humanize_list for iterable arguments
  changelog.d/customcom/3277.enhance.rst
  redbot/cogs/customcom/customcom.py
Labels: Type: Enhancement

#3281 May as well handle that part...
  .travis.yml
Labels: QA: Bypassed

#3282 Added an auto labeler.
  .github/workflows/auto_labeler.yml
Labels: Category: Tests, QA: Bypassed

#3283 Cleaning up the Flake8 workflow
  .github/workflows/lint_python.yaml
Labels: Category: Tests, QA: Bypassed

#3285 [Downloader] Move `author` key handling to `RepoJSONMixin`, fix `NameError`
  changelog.d/downloader/3285.misc.1.rst
  changelog.d/downloader/3285.misc.2.rst
  redbot/cogs/downloader/downloader.py
  redbot/cogs/downloader/installable.py
  redbot/cogs/downloader/json_mixins.py
Labels: Type: Fix

#3261 Be quieter in expected shutdown cases
  .github/CODEOWNERS
  changelog.d/3261.misc.rst
  redbot/__main__.py
  redbot/core/bot.py
  redbot/setup.py
  setup.cfg
Labels: Release Blocker, Type: Enhancement

#3253 Allow migrating away from mongo
  changelog.d/3108.feature.rst
  redbot/core/drivers/__init__.py
  redbot/core/drivers/_mongo.py
  redbot/setup.py
Labels: Release Blocker

#3262 [Docs] Ensure users have setuptools and wheel
  changelog.d/3262.docs.rst
  docs/install_linux_mac.rst
  docs/install_windows.rst
Labels: Category: Docs, Release Blocker

#3286 [3.2]Audio] some hotfixes to avoid crashing the bot
  changelog.d/audio/3286.bugfix.1.rst
  redbot/cogs/audio/apis.py
  redbot/cogs/audio/audio.py
  redbot/cogs/audio/playlists.py
Labels: Category: Audio, High Priority, Type: Fix

#3236 [Trivia] Fix various things changed by game updates
  changelog.d/trivia/3236.bugfix.rst
  redbot/cogs/trivia/data/lists/clashroyale.yaml
Labels: Category: Trivia Lists, Type: Fix

#3288 [3.2.0] dep update
  changelog.d/3279.enhance.rst
  changelog.d/3288.dep.rst
  setup.cfg
Labels: QA: Bypassed, Type: Dependency Update

#3290 bump red lavalink
  changelog.d/3290.dep.rst
  setup.cfg
Labels: QA: Bypassed, Type: Dependency Update

#3289 minimize the launcher
  changelog.d/3289.removal.rst
  redbot/launcher.py
Labels: Type: Removal

#3294 [Core] Use owner set in config
  changelog.d/3293.misc.rst
  redbot/core/bot.py
Labels: Type: Fix

#3291 [3.2.0] Lavalink Jar bump
  changelog.d/audio/3291.dep.rst
  redbot/cogs/audio/manager.py
Labels: QA: Bypassed, Type: Dependency Update

#3297 Handle regression in redbot edit
  changelog.d/3296.misc.rst
  redbot/__main__.py
Labels: Type: Fix

#3292 [3.2.0 Docs] Some clarifications
  changelog.d/3292.docs.1.rst
  changelog.d/3292.docs.2.rst
  docs/guide_cog_creation.rst
  docs/install_linux_mac.rst
  docs/install_windows.rst
  redbot/core/utils/chat_formatting.py
Labels: Category: Docs

#3248 Embed pagination fixing (pt2)
  changelog.d/3248.misc.rst
  redbot/core/commands/help.py
Labels: Type: Fix

#3276 [CI Docs] Allow linkcheck to retry before declaring link broken
  changelog.d/3276.misc.rst
  docs/conf.py
Labels: Type: Enhancement

#3300 update black target version
  Makefile
  make.bat
Labels: QA: Bypassed

#3301 kill the changelog check, we'll GH Action it
  tox.ini
Labels: QA: Bypassed

#3309 [Docs] 3.2.0 Release notes
  docs/index.rst
  docs/release_notes_3_2_0.rst
Labels: Category: Docs, QA: Bypassed

#3310 [docs] Proofreading based updates to release notes
  docs/release_notes_3_2_0.rst
Labels: Category: Docs, QA: Bypassed

#3311 Remove the ugly dep handling
  setup.cfg
Labels: QA: Bypassed, Type: Dependency Update

#3313 Grammar and content fixes for the 3.2 changelog
  changelog.d/3060.fix.rst
  changelog.d/3069.fix.rst
  changelog.d/audio/2940.enhancement.1.rts
  changelog.d/audio/2940.enhancement.2.rst
  changelog.d/audio/3058.enhancement.rst
  changelog.d/mod/2924.fix.rst
  changelog.d/modlog/2945.fix.rst
  docs/changelog_3_2_0.rst
Labels: Category: Docs, Type: Fix

#3315 Mark the dev version
  redbot/__init__.py
Labels: QA: Bypassed

#3318 This shouldn't be possible normally, but we've had enough issues...
  redbot/core/modlog.py
Labels: Type: Fix

#3319 possible mongo fix
  redbot/__main__.py
  redbot/core/config.py
  redbot/core/drivers/__init__.py
Labels: Type: Fix

#3320 [Announcer] prevent an empty iterable issue
  redbot/cogs/admin/announcer.py
Labels: Type: Fix

#3324 3.2.2
  docs/changelog_3_2_0.rst
  docs/venv_guide.rst
  redbot/__init__.py
  redbot/core/commands/help.py
  tox.ini
Labels: Type: Fix

#3306 [Docs] Add "Fork me on GitHub" ribbon
  changelog.d/3306.docs.rst
  docs/_templates/layout.html
Labels: Category: Docs, Type: Enhancement

#3328 [Audio] Hotfix an edge case where an attribute error can be raised
  changelog.d/audio/3328.hotfix.1.rst
  redbot/cogs/audio/apis.py
  redbot/cogs/audio/databases.py
Labels: Type: Fix

#3356 Merge an audio dix into dev
  changelog.d/audio/3328.hotfix.1.rst
  redbot/cogs/audio/apis.py
  redbot/cogs/audio/databases.py
Labels: QA: Bypassed

#3331 [Admin] Fixes hierarchy issues in [p]selfrole and [p]selfroleset
  redbot/cogs/admin/admin.py
Labels: Type: Fix

#3251 [3.2.3][Audio] Allow `[p]playlist upload` to have the file upload with the command
  changelog.d/audio/3251.enhance.1.rst
  redbot/cogs/audio/audio.py
Labels: Category: Audio, Type: Enhancement

#3201 [3.2.3][Audio] Allow Removing tracks from queue by URL
  changelog.d/audio/3201.enhance.1.rst
  redbot/cogs/audio/audio.py
Labels: Category: Audio, Type: Enhancement, Type: Feature

#3358 Make Red shutdown when resetting token
  redbot/__main__.py
Labels: Type: Fix

#3335 Start making use of typehints for devs
  changelog.d/3335.enhance.rst
  redbot/py.typed
  setup.cfg
Labels: Type: Enhancement

#3340 Add a command to set the bot description
  redbot/core/bot.py
  redbot/core/commands/help.py
  redbot/core/core_commands.py
Labels: Type: Enhancement

#3360 Exit code handling
  redbot/__main__.py
Labels: Type: Fix

#3339 [Help] formatting additions
  redbot/core/commands/commands.py
  redbot/core/commands/help.py
Labels: Type: Enhancement

#3327 [Warnings] Make [p]warnings usable on base of permissions
  changelog.d/warnings/2900.enhance.rst
  redbot/cogs/warnings/warnings.py
Labels: Type: Enhancement

#3365 [Docs] Add links to operating systems + minor readability improvements
  docs/install_linux_mac.rst
Labels: Category: Docs

#3364 [Downloader] Stop messing with distutils's internals just to copy directory
  redbot/cogs/downloader/installable.py
Labels: Type: Enhancement

#3366 [Bank API] `set_default_balance` now properly accepts `0`
  redbot/core/bank.py
Labels: Type: Fix

#3361 Globally ensure send_messages for commands
  redbot/core/global_checks.py
Labels: Type: Fix

#3367 [Changelog] Clarify breaking change related to `setup()` function
  docs/changelog_3_2_0.rst
Labels: Category: Docs

#3368 [Docs] Modlog Example: action -> action_type
  changelog.d/3368.docs.rst
  docs/framework_modlog.rst
Labels: Category: Docs

#3362 Some old work and some new
  docs/framework_utils.rst
  redbot/cogs/mod/kickban.py
  redbot/cogs/mod/mod.py
  redbot/cogs/mod/mutes.py
  redbot/cogs/mutes/__init__.py
  redbot/cogs/mutes/errors.py
  redbot/cogs/mutes/mutes.py
  redbot/cogs/mutes/utils.py
  redbot/core/utils/discord_helpers.py
Labels: Type: Enhancement

#3372 [Downloader] Log git commands that failed
  redbot/cogs/downloader/errors.py
  redbot/cogs/downloader/repo_manager.py
Labels: Category: Downloader, Type: Enhancement

#3381 [Core] Removed redundant event loop check
  redbot/__init__.py
Labels: Category: Bot Core, Type: Enhancement

#3384 [Setup] Fix data deletion.
  redbot/setup.py
Labels: Category: Bot Core

#3388 [Downloader] Pagify any output that might be too long
  redbot/cogs/downloader/downloader.py
Labels: Category: Downloader, Type: Enhancement, Type: Fix

#3374 [Audio] Add backticks to commands in docstrings, fix GH-3140
  changelog.d/audio/3140.enhance.1.rst
  redbot/cogs/audio/audio.py
Labels: Category: Audio, Type: Enhancement

#3396 [Automation] Skip assigning "Needs triage" label if issue already has a status label
  .github/workflows/auto_labeler.yml
Labels: Category: CI, Type: Enhancement

#3150 Cache prefixes
  changelog.d/3148.misc.1.rst
  redbot/core/bot.py
  redbot/core/cli.py
  redbot/core/core_commands.py
  redbot/core/settings_caches.py
Labels: Category: Bot Core, Type: Enhancement

#3375 [Audio] Show correct time remaining for bumped tracks
  changelog.d/audio/3373.bugfix.1.rst
  redbot/cogs/audio/audio.py
  redbot/cogs/audio/audio_dataclasses.py
  redbot/cogs/audio/utils.py
Labels: Category: Audio, Type: Fix

#3392 More exit tweaks
  redbot/__main__.py
Labels: Category: Bot Core, Type: Enhancement

#3376 [Audio] Show symbolic link folders
  redbot/cogs/audio/audio.py
  redbot/cogs/audio/audio_dataclasses.py
Labels: Category: Audio, Type: Fix

#3382 Stop special casing help in bot.embed_requested
  redbot/core/bot.py
Labels: Category: Bot Core

#3400 [Docs] Remaining doc improvements for 3.2.3
  docs/framework_apikeys.rst
  docs/install_linux_mac.rst
  docs/install_windows.rst
Labels: Category: Docs, Type: Enhancement

#3333 [Modlog API] Add resolution for people inpacted by bad casetypes
  redbot/cogs/modlog/modlog.py
  redbot/core/modlog.py
Labels: Category: Modlog API, Type: Enhancement

#3402 [Docs] Changed python version references on docs
  .github/CONTRIBUTING.md
  README.md
Labels: Category: Docs

#3408 [Admin] Notify when the user has/doesn't have the role when attempting to add/remove it
  changelog.d/admin/3010.enhance.rst
  redbot/cogs/admin/admin.py
Labels: Type: Enhancement

#3417 [Customcom] Fix error on exiting customcom interactive menu.
  changelog.d/customcom/3416.bugfix.rst
  redbot/cogs/customcom/customcom.py
Labels: Category: CustomCom, Type: Fix

#3395 [General] Max amount to roll
  changelog.d/general/3284.bugfix.rst
  redbot/cogs/general/general.py
Labels: QA: Passed, Type: Fix

#3414 Catches `discord.NotFound` in `utils.mod.mass_purge`
  changelog.d/3378.bugfix.rst
  redbot/core/utils/mod.py
Labels: Type: Fix

#3409 [Downloader] Improve `InstalledCog` converter's error message
  changelog.d/downloader/3409.misc.rst
  redbot/cogs/downloader/converters.py
Labels: Category: Downloader, Type: Enhancement

#3241 [commands] Implement `__call__` to `commands.Command`
  changelog.d/3241.misc.rst
  redbot/core/commands/commands.py
Labels: Category: Command Module, Type: Enhancement

#3427 [Misc] Typo fixes
  changelog.d/3427.misc.rst
  changelog.d/trivia/3427.bugfix.rst
  docs/framework_apikeys.rst
  docs/framework_commands.rst
  redbot/cogs/alias/alias.py
  redbot/cogs/mod/events.py
  redbot/cogs/mod/kickban.py
  redbot/cogs/trivia/data/lists/clashroyale.yaml
  redbot/cogs/trivia/data/lists/entertainment.yaml
  redbot/core/drivers/base.py
  redbot/core/drivers/json.py
  redbot/core/utils/antispam.py
Labels: Type: Fix

#3429 [Core] Make bot name adjustable in bot.
  redbot/core/core_commands.py
Labels: Type: Enhancement

#3433 Help delete pages delay feature
  changelog.d/3433.feature.rst
  redbot/core/bot.py
  redbot/core/commands/help.py
  redbot/core/core_commands.py
Labels: Category: Help, Type: Feature

#3434 [Docs] Fix `which` cmd for pyenv in systemd docs
  docs/autostart_systemd.rst
Labels: Category: Docs, Type: Fix

#2930 [Mod] Default days in `[p]ban` command are now configurable
  changelog.d/mod/2930.enhance.rst
  redbot/cogs/mod/kickban.py
  redbot/cogs/mod/mod.py
  redbot/cogs/mod/settings.py
Labels: Category: Mod Cog, Type: Enhancement

#3426 [Audio]stop dc interacting with repeat
  redbot/cogs/audio/audio.py
Labels: Category: Audio, Type: Fix

#3437 [Mod] Make `[p]hackban` use default days setting too.
  redbot/cogs/mod/kickban.py
Labels: Category: Mod Cog, Type: Fix

#3440 [Downloader] Do the initialization in task to avoid timeout on bot startup
  changelog.d/downloader/3415.bugfix.rst
  redbot/cogs/downloader/__init__.py
  redbot/cogs/downloader/downloader.py
Labels: Category: Downloader, Type: Fix

#3447 Stop trying to show avatars in modlog
  redbot/core/modlog.py
Labels: Type: Fix

#3445 update for d.py 1.3
  redbot/core/bot.py
  redbot/core/cli.py
  redbot/core/commands/commands.py
  redbot/core/commands/requires.py
  redbot/core/core_commands.py
  redbot/core/events.py
  setup.cfg
Labels: Complex Issue, Type: Dependency Update

#2990 [Mod] Option to DM user with kick/ban reason.
  changelog.d/mod/2990.enhance.rst
  redbot/cogs/mod/kickban.py
  redbot/cogs/mod/mod.py
  redbot/cogs/mod/settings.py
Labels: Category: Mod Cog, Type: Enhancement

#3418 [Core] Embeds toggle for channels.
  changelog.d/3152.feature.rst
  redbot/core/bot.py
  redbot/core/core_commands.py
Labels: Category: Bot Core, Type: Feature

#3444 [Downloader] Log errors from initialization task
  changelog.d/downloader/3444.misc.rst
  redbot/cogs/downloader/downloader.py
Labels: Category: Downloader, Type: Enhancement

#3449 Postpone deprecation of shared libraries to 3.4
  docs/changelog_3_2_0.rst
  docs/guide_publish_cogs.rst
  redbot/cogs/downloader/downloader.py
  redbot/core/_sharedlibdeprecation.py
  redbot/core/core_commands.py
Labels: Category: Bot Core, Category: Downloader, Type: Informational

#3430 [Audio] Allow lazy searching for playlist across scopes
  changelog.d/audio/3431.enhance.rst
  redbot/cogs/audio/audio.py
  redbot/cogs/audio/converters.py
Labels: Category: Audio, Type: Enhancement

#3410 [Commands Module] Improve usability of type hints
  docs/framework_commands.rst
  redbot/core/bot.py
  redbot/core/commands/__init__.py
  redbot/core/commands/_dpy_reimplements.py
  redbot/core/commands/commands.py
  redbot/core/commands/context.py
  redbot/core/commands/converter.py
  redbot/core/commands/requires.py
  redbot/core/config.py
  redbot/core/utils/predicates.py
Labels: Breaking Change, Category: Command Module, Complex Issue, Type: Enhancement

#3452 [Permissions] Ordering fix
  redbot/core/commands/requires.py
Labels: Category: Permissions, High Priority, Type: Fix

#3451 [Help formatter] Consistently replace things.
  redbot/core/commands/commands.py
  redbot/core/commands/help.py
Labels: Category: Help, QA: Passed, Type: Enhancement

#3453 slowmode should properly error out on 7 hours now
  redbot/core/commands/converter.py
Labels: Type: Fix

#3455 dev bump
  redbot/__init__.py
Labels: QA: Bypassed

#3458 dev versioning.
  redbot/__init__.py
Labels: QA: Bypassed

#3464 [Docs] Trigger update on `sudo add-apt-repository ...`
  docs/install_linux_mac.rst
Labels: Category: Docs, Type: Enhancement

#3424 Audio refactor part 2 - Cog Class
  redbot/cogs/audio/__init__.py
  redbot/cogs/audio/apis/__init__.py
  redbot/cogs/audio/apis/api_utils.py
  redbot/cogs/audio/apis/global_db.py
  redbot/cogs/audio/apis/interface.py
  redbot/cogs/audio/apis/local_db.py
  redbot/cogs/audio/apis/playlist_interface.py
  redbot/cogs/audio/apis/playlist_wrapper.py
  redbot/cogs/audio/apis/spotify.py
  redbot/cogs/audio/apis/youtube.py
  redbot/cogs/audio/audio.py
  redbot/cogs/audio/audio_dataclasses.py
  redbot/cogs/audio/audio_logging.py
  redbot/cogs/audio/converters.py
  redbot/cogs/audio/core/__init__.py
  redbot/cogs/audio/core/abc.py
  redbot/cogs/audio/core/cog_utils.py
  redbot/cogs/audio/core/commands/__init__.py
  redbot/cogs/audio/core/commands/audioset.py
  redbot/cogs/audio/core/commands/controller.py
  redbot/cogs/audio/core/commands/equalizer.py
  redbot/cogs/audio/core/commands/llset.py
  redbot/cogs/audio/core/commands/localtracks.py
  redbot/cogs/audio/core/commands/miscellaneous.py
  redbot/cogs/audio/core/commands/player.py
  redbot/cogs/audio/core/commands/playlists.py
  redbot/cogs/audio/core/commands/queue.py
  redbot/cogs/audio/core/events/__init__.py
  redbot/cogs/audio/core/events/cog.py
  redbot/cogs/audio/core/events/dpy.py
  redbot/cogs/audio/core/events/lavalink.py
  redbot/cogs/audio/core/tasks/__init__.py
  redbot/cogs/audio/core/tasks/lavalink.py
  redbot/cogs/audio/core/tasks/player.py
  redbot/cogs/audio/core/tasks/startup.py
  redbot/cogs/audio/core/utilities/__init__.py
  redbot/cogs/audio/core/utilities/equalizer.py
  redbot/cogs/audio/core/utilities/formatting.py
  redbot/cogs/audio/core/utilities/local_tracks.py
  redbot/cogs/audio/core/utilities/menus/__init__.py
  redbot/cogs/audio/core/utilities/miscellaneous.py
  redbot/cogs/audio/core/utilities/player.py
  redbot/cogs/audio/core/utilities/playlists.py
  redbot/cogs/audio/core/utilities/queue.py
  redbot/cogs/audio/core/utilities/validation.py
  redbot/cogs/audio/equalizer.py
  redbot/cogs/audio/manager.py
  redbot/cogs/audio/sql_statements.py
  redbot/cogs/audio/utils.py
Labels: Blocked by: Other PR, Category: Audio, Complex Issue, QA: Needed, Type: Enhancement

#3475 Fix for the unknown days argument on hackban.
  redbot/cogs/mod/kickban.py
Labels: Category: Mod Cog, Type: Fix
