Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2021-01, with the labels that each got.

#4706 Update docs for 2021
  docs/conf.py
Labels: Category: Docs, Category: Meta, Type: Fix

#4674 [CI/meta] Add automatic labeling of changed files.
  .github/labeler.yml
  .github/workflows/auto_labeler_issues.yml
  .github/workflows/auto_labeler_pr.yml
Labels: Category: CI, Category: Meta

#4719 Fix auto labeler error from invalid yaml -> json
  .github/labeler.yml
Labels: Category: CI, Category: Meta, Type: Fix

#4727 Fix the negation rules in labeler configuration
  .github/labeler.yml
Labels: Category: Meta, QA: Bypassed, Type: Fix

#4729 Someone can yell at me later...
  .github/labeler.yml
Labels: Category: Meta, Changelog Entry: Skipped, Type: Fix

#4730 Update `actions/labeler` to use `v3` version
  .github/workflows/auto_labeler_pr.yml
Labels: Category: Meta, Changelog Entry: Skipped, Type: Fix

#4579 [Docs] Filter Cog Guide
  docs/cog_guides/filter.rst
  docs/index.rst
  redbot/cogs/filter/filter.py
Labels: Category: Docs, Category: Filter, QA: Passed, Type: Enhancement

#4710 [Docs] Restructure of the Host List
  docs/getting_started.rst
  docs/host-list.rst
Labels: Category: Docs, QA: Passed, Type: Enhancement

#4723 [Bank API] Cache global bank settings
  redbot/core/bank.py
Labels: Category: Audio Cog, Category: Bank API, Category: Command Module, Type: Enhancement

#4649 [Trivia] Add support for payout to multiple trivia winners
  redbot/cogs/trivia/session.py
Labels: Category: Trivia Cog, Type: Enhancement

#4714 [Mod] Make tempban not fail if no vanity url is set up
  redbot/cogs/mod/kickban.py
Labels: Category: Mod Cog, Type: Fix

#4740 Fix role position checks
  redbot/cogs/mod/utils.py
  redbot/cogs/mutes/mutes.py
  redbot/core/utils/mod.py
Labels: Category: Mod Cog, Category: Mutes Cog, Category: Utility Functions, Changelog Entry: Added, Type: Fix

#4741 Ensure no role hierarchy bypassing in Mutes
  redbot/cogs/mutes/mutes.py
Labels: Category: Mutes Cog, Changelog Entry: Added, Release Blocker, Type: Fix

#3040 Show command aliases in help with setting to disable
  redbot/core/bot.py
  redbot/core/commands/help.py
  redbot/core/core_commands.py
Labels: Category: Bot Core, Category: Help, Changelog Entry: Added, Type: Enhancement

#4709 [Docs] Document pyenv workaround for pm2
  docs/autostart_pm2.rst
Labels: Category: Docs, Type: Enhancement

#4599 Fix usage in `[p]filter`'s commands, make commands consistent
  redbot/cogs/filter/filter.py
Labels: Category: Filter, Type: Enhancement

#4647 Add `on_red_before_identify` dispatch
  redbot/core/bot.py
Labels: Category: Bot Core, Type: Feature

#4718 Document that discord.DMChannel can be used in MessagePredicate
  redbot/core/utils/predicates.py
Labels: Category: Utility Functions, Type: Fix

#4663 [Core] Add sensible character lengths to activity statuses
  redbot/core/core_commands.py
Labels: Category: Bot Core, Type: Fix

#4744 [Streams] Change streamtypes log name
  redbot/cogs/streams/streamtypes.py
Labels: Category: Streams, Changelog Entry: Skipped, Type: Fix

#4694 [Streams] Use timezone-aware time
  redbot/cogs/streams/streamtypes.py
Labels: Category: Streams, Type: Fix

#4705 [Core] Add plural forms in allowlist and blocklist commands
  redbot/core/core_commands.py
Labels: Category: Bot Core, Changelog Entry: Skipped, Type: Enhancement

#4667 [Dev] Customizable environment values
  redbot/core/bot.py
  redbot/core/dev_commands.py
Labels: Category: Bot Core, Category: Dev Cog, Changelog Entry: Added, Type: Feature

#4747 Docstring fixes for dev env values
  redbot/core/bot.py
Labels: Category: Bot Core, Changelog Entry: Skipped, Type: Fix

#4748 Fixed grammatical mistake in allowlist_add.
  redbot/core/core_commands.py
Labels: Category: Bot Core, Changelog Entry: Skipped, Type: Fix

#4733 Fix command usage of `[p]choose` command
  redbot/cogs/general/general.py
Labels: Category: General Cog, Changelog Entry: Added, QA: Passed, Type: Fix

#4563 [Mutes] Add ability to send DMs on mute/unmute
  redbot/cogs/mutes/abc.py
  redbot/cogs/mutes/mutes.py
  redbot/cogs/mutes/voicemutes.py
Labels: Category: Mutes Cog, Changelog Entry: Added, Type: Feature

#4426 Add `[p]listcases` command and typing indicator to `[p]casesfor`
  redbot/cogs/modlog/modlog.py
Labels: Category: Modlog Cog, Changelog Entry: Added, Type: Enhancement, Type: Feature

#4749 Strip the reason from whitespace in Mutes cog
  redbot/cogs/mutes/converters.py
Labels: Category: Mutes Cog, Type: Fix

#4738 Fix log rotation in Red
  redbot/logging.py
Labels: Category: Bot Core, Changelog Entry: Added, Type: Fix

#4739 Add `filterhit` case type to Filter
  redbot/cogs/filter/__init__.py
  redbot/cogs/filter/filter.py
Labels: Category: Filter, Changelog Entry: Added, Type: Enhancement

#3870 Add non-generic message when loading a cog with command name that is already registered
  redbot/core/core_commands.py
Labels: Category: Bot Core, Changelog Entry: Added, Type: Enhancement

#4715 [mod] Improve help of ban/kick commands.
  redbot/cogs/mod/kickban.py
Labels: Category: Mod Cog, Changelog Entry: Added, QA: Passed, Type: Enhancement

#4769 Add a note in systemd guide saying working instance is required
  docs/autostart_systemd.rst
Labels: Category: Docs, Type: Enhancement

#4697 Wrap `Red-DiscordBot[postgres]` in quotes in Unix install docs
  docs/install_linux_mac.rst
Labels: Category: Docs, Type: Enhancement

#4750 [Core] Fix commands using plural with the same user
  redbot/core/core_commands.py
Labels: Category: Bot Core, Changelog Entry: Skipped, Type: Fix

#4772 Add guild_only check to `[p]command listdisabled guild`
  redbot/core/core_commands.py
Labels: Category: Bot Core, Type: Fix

#4758 Add a way to reset rolepayday amounts
  docs/cog_guides/economy.rst
  redbot/cogs/economy/economy.py
Labels: Category: Docs, Category: Economy Cog, Changelog Entry: Added, Type: Enhancement
