Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2021-11, with the labels that each got.

#5340 Try to fix base branch in Publish Release workflow *again*
  .github/workflows/publish_release.yml
Labels: Type: Bug, Needs Backport To 3.4, Release Blocker, Category: CI, Changelog Entry: Skipped, Category: Meta

#5433 Remove currently deprecated functionality
  redbot/core/bot.py
  redbot/core/commands/converter.py
  redbot/core/utils/mod.py
Labels: Breaking Change, Type: Removal, Category: Bot Core, Category: Utility Functions

#5429 [Audio] Check to avoid an IndexError in queue command
  redbot/cogs/audio/core/commands/queue.py
Labels: Type: Bug, Category: Audio Cog, hacktoberfest-accepted

#5356 Address common issues with load path configuration in docs
  docs/install_guides/_includes/_install-pyenv-and-setup-path.rst
  docs/install_guides/_includes/install-python-pyenv.rst
  docs/install_guides/_includes/install-python38-pyenv.rst
  docs/install_guides/mac.rst
Labels: Type: Enhancement, Category: Docs, Needs Backport To 3.4, hacktoberfest-accepted

#5437 Add guarantees for supported OS versions
  docs/version_guarantees.rst
Labels: Category: Docs, Type: Feature

#4977 Stop fetching the messages when getting the cases in Modlog
  redbot/core/modlog.py
Labels: Type: Enhancement, Breaking Change, Type: Optimisation, Category: Modlog API

#4486 Move modlogset/bankset commands to core
  docs/cog_guides/bank.rst
  docs/cog_guides/core.rst
  docs/cog_guides/economy.rst
  docs/cog_guides/modlog.rst
  docs/index.rst
  redbot/cogs/bank/__init__.py
  redbot/cogs/bank/bank.py
  redbot/cogs/bank/errors.py
  redbot/cogs/bank/locales/af-ZA.po
  redbot/cogs/bank/locales/ar-SA.po
  redbot/cogs/bank/locales/bg-BG.po
  redbot/cogs/bank/locales/bs-BA.po
  redbot/cogs/bank/locales/ca-ES.po
  redbot/cogs/bank/locales/cs-CZ.po
  redbot/cogs/bank/locales/da-DK.po
  redbot/cogs/bank/locales/de-DE.po
  redbot/cogs/bank/locales/el-GR.po
  redbot/cogs/bank/locales/en-PT.po
  redbot/cogs/bank/locales/en-US.po
  redbot/cogs/bank/locales/es-ES.po
  redbot/cogs/bank/locales/fi-FI.po
  redbot/cogs/bank/locales/fr-FR.po
  redbot/cogs/bank/locales/he-IL.po
  redbot/cogs/bank/locales/hi-IN.po
  redbot/cogs/bank/locales/hu-HU.po
  redbot/cogs/bank/locales/id-ID.po
  redbot/cogs/bank/locales/it-IT.po
  redbot/cogs/bank/locales/ja-JP.po
  redbot/cogs/bank/locales/ko-KR.po
  redbot/cogs/bank/locales/lol-US.po
  redbot/cogs/bank/locales/nb-NO.po
  redbot/cogs/bank/locales/nl-NL.po
  redbot/cogs/bank/locales/pl-PL.po
  redbot/cogs/bank/locales/pt-BR.po
  redbot/cogs/bank/locales/pt-PT.po
  redbot/cogs/bank/locales/ro-RO.po
  redbot/cogs/bank/locales/ru-RU.po
  redbot/cogs/bank/locales/sk-SK.po
  redbot/cogs/bank/locales/sl-SI.po
  redbot/cogs/bank/locales/sr-CS.po
  redbot/cogs/bank/locales/sr-SP.po
  redbot/cogs/bank/locales/sv-SE.po
  redbot/cogs/bank/locales/tr-TR.po
  redbot/cogs/bank/locales/uk-UA.po
  redbot/cogs/bank/locales/vi-VN.po
  redbot/cogs/bank/locales/zh-CN.po
  redbot/cogs/bank/locales/zh-HK.po
  redbot/cogs/bank/locales/zh-TW.po
  redbot/cogs/cleanup/cleanup.py
  redbot/cogs/economy/economy.py
  redbot/cogs/mod/converters.py
  redbot/cogs/mod/kickban.py
  redbot/cogs/modlog/modlog.py
  redbot/cogs/trivia/trivia.py
  redbot/core/bank.py
  redbot/core/commands/__init__.py
  redbot/core/commands/converter.py
  redbot/core/core_commands.py
Labels: Type: Enhancement, Breaking Change, Category: Docs, Type: Feature, Type: Removal, Category: i18n, Category: Bank API, Category: Bot Core, Category: Mod Cog, Category: Trivia Cog, Category: Cleanup Cog, Category: Bank Cog, Category: Economy Cog, Category: Modlog Cog
