Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2021-12, with the labels that each got.

#5432 Reorganize `[p]set` command group
  docs/cog_guides/core.rst
  docs/getting_started.rst
  redbot/core/core_commands.py
Labels: Type: Enhancement, Category: Docs, Category: Bot Core, hacktoberfest-accepted

#5464 Remove Bank cog from labeler configuration
  .github/labeler.yml
Labels: Type: Bug, Changelog Entry: Skipped, Category: Meta

#5426 Update links to installation guides in README
  README.md
Labels: Type: Enhancement, Category: Docs, Changelog Entry: Skipped, hacktoberfest-accepted

#5470 [Mod] Typo in unban command
  redbot/cogs/mod/kickban.py
Labels: Type: Bug, Needs Backport To 3.4, Category: Mod Cog

#5391 Add plural forms to the responses of `[p]leave` command
  redbot/core/core_commands.py
Labels: Type: Enhancement, Needs Backport To 3.4, Category: Bot Core, hacktoberfest-accepted

#5466 Restrict `[p]cleanupset notify` to guild only
  redbot/cogs/cleanup/cleanup.py
Labels: Type: Bug, Needs Backport To 3.4, Category: Cleanup Cog

#5449 Remove voice region field in [p]serverinfo
  redbot/cogs/general/general.py
Labels: Type: Removal, Needs Backport To 3.4, Category: General Cog

#5444 [Docs] Correct set api examples to be consistent for Spotify
  docs/cog_guides/core.rst
  redbot/core/core_commands.py
Labels: Type: Bug, Category: Docs, Needs Backport To 3.4, Category: Bot Core

#5482 [3.4] [Docs] Correct set api examples to be consistent for Spotify (#5444)
  docs/cog_guides/core.rst
  redbot/core/core_commands.py
Labels: Type: Bug, Category: Docs, Category: Bot Core

#5477 Add necessary None checks to Core's usage of `Requires.privilege_level`
  redbot/cogs/warnings/helpers.py
  redbot/core/core_commands.py
Labels: Type: Bug, Needs Backport To 3.4, Category: Bot Core, Category: Warnings

#5416 Fix issues with loading config.json when it doesn't exist
  redbot/core/data_manager.py
  redbot/launcher.py
  redbot/setup.py
Labels: Type: Bug, Needs Backport To 3.4, Category: Bot Core, hacktoberfest-accepted

#5475 Update host list with new locations for Hetzner and Contabo
  docs/host-list.rst
Labels: Type: Enhancement, Category: Docs, Needs Backport To 3.4

#5344 [Config] Add type-hints to _ValueContextManager methods
  redbot/core/config.py
Labels: Type: Bug, Needs Backport To 3.4, Category: Config

#5476 [Core] Changed prefix length to `40`.
  docs/cog_guides/core.rst
  redbot/core/core_commands.py
Labels: Type: Enhancement, Category: Docs, Needs Backport To 3.4, Category: Bot Core

#5487 [3.4] [Core] Changed prefix length to `40`. (#5476)
  docs/cog_guides/core.rst
  redbot/core/core_commands.py
Labels: Type: Enhancement, Category: Docs, Category: Bot Core

#5422 isolate direction of username within modlog
  redbot/core/modlog.py
Labels: Type: Enhancement, Needs Backport To 3.4, Category: Modlog API, hacktoberfest-accepted

#5457 Show role payday amounts in `economyset showsettings`
  redbot/cogs/economy/economy.py
Labels: Type: Bug, Needs Backport To 3.4, Category: Economy Cog

#5453 Fix RPC cog load and unload by returning dicts
  redbot/core/core_commands.py
Labels: Type: Bug, Needs Backport To 3.4, Category: Bot Core

#5424 Make invite URL part of public API
  redbot/core/bot.py
  redbot/core/core_commands.py
Labels: Type: Enhancement, Needs Backport To 3.4, Category: Bot Core, hacktoberfest-accepted

#5421 Make `emptydisconnect` disconnect when all vc members are bots
  redbot/cogs/audio/core/tasks/player.py
Labels: Type: Bug, Needs Backport To 3.4, Category: Audio Cog, hacktoberfest-accepted

#5493 Add jack1142 as code owner of install/update guides
  .github/CODEOWNERS
Labels: Type: Enhancement, Changelog Entry: Skipped, Category: Meta

#5447 Bump Python version in install guides to 3.9.9
  docs/install_guides/_includes/install-python-pyenv.rst
  docs/install_guides/windows.rst
Labels: Category: Docs, Type: Dependency Update, Needs Backport To 3.4

#5440 Update supported OSes (add Alma Linux, RPi OS 11, drop EOL OSes)
  docs/install_guides/alma-linux-8.rst
  docs/install_guides/centos-8.rst
  docs/install_guides/fedora.rst
  docs/install_guides/index.rst
  docs/install_guides/raspberry-pi-os-10.rst
  docs/install_guides/raspberry-pi-os-11.rst
  docs/version_guarantees.rst
Labels: Type: Enhancement, Category: Docs, Type: Removal, Needs Backport To 3.4

#5439 Remove old note about updating Red in Unix install guides
  docs/install_guides/_includes/install-and-setup-red-unix.rst
Labels: Type: Bug, Category: Docs, Needs Backport To 3.4

#5496 [3.4] Update supported OSes (add Alma Linux, RPi OS 11, drop EOL OSes) (#5440)
  docs/install_guides/alma-linux-8.rst
  docs/install_guides/centos-8.rst
  docs/install_guides/fedora.rst
  docs/install_guides/index.rst
  docs/install_guides/raspberry-pi-os-10.rst
  docs/install_guides/raspberry-pi-os-11.rst
Labels: Type: Enhancement, Category: Docs, Type: Removal

#5446 Allow mocking attachment-only msg, fix docstring, small refactor
  redbot/core/dev_commands.py
Labels: Type: Bug, Type: Enhancement, Needs Backport To 3.4, Category: Dev Cog

#5393 Prevent unexpected timedelta matches
  redbot/core/commands/converter.py
Labels: Type: Bug, Category: Bot Core, hacktoberfest-accepted

#5502 Fix short help in docstrings for core cogs and commands
  docs/cog_guides/cog_manager_ui.rst
  docs/cog_guides/economy.rst
  redbot/cogs/economy/economy.py
  redbot/cogs/warnings/warnings.py
  redbot/core/cog_manager.py
Labels: Type: Bug, Category: Docs, Needs Backport To 3.4, Category: Bot Core, Category: Warnings, Category: Economy Cog

#5474 Update Lavalink.jar, Red-Lavalink and make changes to support it
  redbot/cogs/audio/core/events/lavalink.py
  redbot/cogs/audio/manager.py
  setup.cfg
Labels: Type: Dependency Update, Needs Backport To 3.4, Release Blocker, Category: Audio Cog

#5499 Ensure Nitro users can't make CCs that are too long
  redbot/cogs/customcom/customcom.py
Labels: Type: Bug, Needs Backport To 3.4, Category: CustomCom

#5472 [3.4] Fix error in tempban for guilds with unused vanity feature
  redbot/cogs/mod/kickban.py
Labels: Type: Bug, Category: Mod Cog

#5452 Make embeds in help output consistent
  redbot/core/bot.py
  redbot/core/commands/context.py
  redbot/core/commands/help.py
Labels: Type: Enhancement, Needs Backport To 3.4, Category: Bot Core, Category: Help

#5448 Add non-interactive mode to redbot-setup
  redbot/setup.py
Labels: Type: Enhancement, Needs Backport To 3.4, Category: Bot Core

#5498 [Events] Rename guild remove listener
  redbot/core/events.py
Labels: Type: Bug, Needs Backport To 3.4, Category: Bot Core, Changelog Entry: Skipped

#5510 Only check for permissions when `check_permissions` is True
  redbot/core/bot.py
Labels: Type: Bug, Needs Backport To 3.4, Category: Bot Core, Changelog Entry: Skipped

#5504 Red 3.4.15 - Changelog
  docs/changelog_3_4_0.rst
Labels: Category: Docs, Needs Backport To 3.4, Changelog Entry: Skipped

#5517 [3.4] Fix 'Red._app_info' attribute error
  redbot/core/bot.py
Labels: Type: Bug, Category: Bot Core, Changelog Entry: Added

#5518 [3.4] Temporarily update Arch instructions
  docs/install_guides/arch.rst
Labels: Type: Bug, Category: Docs, Changelog Entry: Added

#5520 Red 3.4.16 - Changelog
  docs/changelog_3_4_0.rst
Labels: Category: Docs, Needs Backport To 3.4, Changelog Entry: Skipped
