Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2021-05, with the labels that each got.

#5019 [Downloader] Fix `[p]cog uninstall` examples
  docs/cog_guides/downloader.rst
  redbot/cogs/downloader/downloader.py
Labels: Category: Docs, Category: Downloader, Type: Fix

#4882 [Docs] Reports Cog Guide
  .github/labeler.yml
  docs/cog_guides/reports.rst
  docs/index.rst
  redbot/cogs/reports/reports.py
Labels: Category: Docs, Category: Meta, Category: Reports Cog, Type: Feature

#5034 [Downloader] Fix spacing in `[p]cog install` response
  redbot/cogs/downloader/downloader.py
Labels: Category: Downloader, Changelog Entry: Skipped, Type: Fix

#5020 [Docs] updates to the Linux and Mac auto-restart docs
  docs/autostart_mac.rst
  docs/autostart_systemd.rst
Labels: Category: Docs, Type: Enhancement

#5017 Added owner check for audiostats
  redbot/cogs/audio/core/commands/miscellaneous.py
Labels: Category: Audio Cog

#4921 Fix dead link in CONTRIBUTING.md (+ grammar fix)
  CONTRIBUTING.md
  README.md
Labels: Category: Meta, Changelog Entry: Skipped, Type: Fix

#5040 [Streams] Smashcast removal.
  README.md
  docs/cog_guides/streams.rst
  redbot/cogs/streams/streams.py
  redbot/cogs/streams/streamtypes.py
Labels: Category: Docs, Category: Streams, Type: Removal

#5045 Cleanup `[p]volume` and fix infinite retrying in autoplay
  redbot/cogs/audio/core/commands/controller.py
  redbot/cogs/audio/core/events/cog.py
Labels: Category: Audio Cog, Type: Enhancement, Type: Fix

#4971 [Help] Add missing show_aliases value in help_settings.pretty
  redbot/core/commands/help.py
Labels: Category: Help, Type: Fix

#4961 [Audio] Check if player.current is not None before resume
  redbot/cogs/audio/core/events/lavalink.py
Labels: Category: Audio Cog, Type: Fix

#5029 Fix a typo in Track Stuck error
  redbot/cogs/audio/core/events/lavalink.py
Labels: Category: Audio Cog, Type: Fix

#4793 Grammar fixes
  redbot/cogs/admin/admin.py
Labels: Category: Admin, Type: Enhancement

#4875 [Docs] Mutes Cog Guide
  .github/labeler.yml
  docs/cog_guides/mutes.rst
  docs/index.rst
  redbot/cogs/mutes/mutes.py
Labels: Category: Docs, Category: Meta, Category: Mutes Cog, Type: Feature

#4886 [Docs] Mod Cog Guide
  .github/labeler.yml
  docs/cog_guides/mod.rst
  docs/index.rst
  docs/prolog.txt
  redbot/cogs/mod/kickban.py
  redbot/cogs/mod/names.py
Labels: Category: Docs, Category: Meta, Category: Mod Cog, Type: Feature

#4966 Fix a bunch of typos in commands in Core
  redbot/core/core_commands.py
Labels: Category: Bot Core, Type: Fix

#4832 [Audio] Fix local track documentation.
  redbot/cogs/audio/core/commands/localtracks.py
  redbot/cogs/audio/core/commands/player.py
  redbot/cogs/audio/core/utilities/formatting.py
Labels: Category: Audio Cog, Type: Enhancement

#5044 Bump RLL and improve logging
  redbot/cogs/audio/apis/global_db.py
  redbot/cogs/audio/apis/interface.py
  redbot/cogs/audio/apis/spotify.py
  redbot/cogs/audio/audio_logging.py
  redbot/cogs/audio/core/commands/controller.py
  redbot/cogs/audio/core/commands/miscellaneous.py
  redbot/cogs/audio/core/commands/player.py
  redbot/cogs/audio/core/commands/playlists.py
  redbot/cogs/audio/core/events/cog.py
  redbot/cogs/audio/core/events/dpy.py
  redbot/cogs/audio/core/events/lavalink.py
  redbot/cogs/audio/core/tasks/player.py
  redbot/cogs/audio/core/tasks/startup.py
  redbot/cogs/audio/core/utilities/formatting.py
  redbot/cogs/audio/core/utilities/player.py
  redbot/cogs/audio/core/utilities/playlists.py
  redbot/cogs/audio/manager.py
  redbot/cogs/audio/utils.py
  setup.cfg
Labels: Category: Audio Cog, Type: Dependency Update, Type: Enhancement

#4987 Fix crash in `[p]audioset restart`
  redbot/cogs/audio/core/commands/audioset.py
Labels: Category: Audio Cog, Type: Fix

#4996 Ensure track is properly resumed in an edge case
  redbot/cogs/audio/core/events/lavalink.py
Labels: Category: Audio Cog, Type: Fix

#5035 [Streams] Add guild only decorator to streams commands
  redbot/cogs/streams/streams.py
Labels: Category: Streams, Type: Fix

#4962 embedset - fix perm check for subcommands, add missing return
  redbot/core/core_commands.py
Labels: Category: Bot Core, Type: Fix

#4976 [Modlog] Add confirmation prompt to `[p]modlogset resetcases`
  redbot/cogs/modlog/modlog.py
Labels: Category: Modlog Cog, Type: Enhancement

#5018 [Audio] Disallow all users from modifying Playlist 42069.
  redbot/cogs/audio/core/abc.py
  redbot/cogs/audio/core/commands/playlists.py
  redbot/cogs/audio/core/utilities/playlists.py
Labels: Category: Audio Cog, Type: Fix

#5014 [General] Provide the urban command with embed color
  redbot/cogs/general/general.py
Labels: Category: General Cog, Type: Enhancement

#5030 [Help] Require read message history perms for reaction menu
  redbot/core/commands/help.py
Labels: Category: Help, Type: Fix

#5002 [Economy] nanooptimizations
  redbot/cogs/economy/economy.py
Labels: Category: Economy Cog, Type: Enhancement

#4994 [Mutes] Handle Forbidden in mute_channel
  redbot/cogs/mutes/mutes.py
Labels: Category: Mutes Cog, Type: Fix

#5025 Update instructions to use Python 3.8.10
  docs/install_linux_mac.rst
  docs/install_windows.rst
Labels: Category: Docs, Type: Enhancement

#4983 [Help] Strip docstrings before shortening them
  redbot/core/commands/help.py
Labels: Category: Help, Type: Fix

#5028 Fix `--rich-traceback-extra-lines` cli flag
  redbot/core/cli.py
Labels: Category: Bot Core, Type: Fix

#5004 Send the DM to a user before applying the warn action.
  redbot/cogs/warnings/warnings.py
Labels: Category: Warnings, Type: Fix

#4955 [Context] Fixup docstrings in `react_quietly` function
  redbot/core/commands/context.py
Labels: Category: Command Module, Type: Fix

#5031 Fix KeyError for cached messages from deleted channels in Streams
  redbot/cogs/streams/streamtypes.py
Labels: Category: Streams, Type: Fix

#4979 Add documentation for Case class in Modlog
  redbot/core/modlog.py
Labels: Category: Docs, Category: Modlog API, Type: Enhancement

#4980 Improve global exception handler log messages
  redbot/__main__.py
Labels: Category: Bot Core, Type: Enhancement, Type: Fix

#5027 Stop shadowing variable in customcom's arg handling
  redbot/cogs/customcom/customcom.py
Labels: Category: CustomCom, Type: Fix

#5038 [Core] Update `[p]autoimmune remove` docstring
  docs/cog_guides/core.rst
  redbot/core/core_commands.py
Labels: Category: Bot Core, Category: Docs, Type: Fix

#5041 Use ctx.send_interactive for SyntaxErrors in Dev cog
  redbot/core/dev_commands.py
Labels: Category: Dev Cog, Type: Fix

#5055 [Core] Improve regionalformat docstrings
  docs/cog_guides/core.rst
  redbot/core/core_commands.py
Labels: Category: Bot Core, Category: Docs, Type: Fix

#5046 Fix crash in [p]audiostats by using the new connected_at attr
  redbot/cogs/audio/apis/interface.py
  redbot/cogs/audio/core/commands/controller.py
  redbot/cogs/audio/core/commands/equalizer.py
  redbot/cogs/audio/core/commands/miscellaneous.py
  redbot/cogs/audio/core/commands/player.py
  redbot/cogs/audio/core/commands/queue.py
  redbot/cogs/audio/core/events/cog.py
  redbot/cogs/audio/core/events/dpy.py
  redbot/cogs/audio/core/events/lavalink.py
  redbot/cogs/audio/core/tasks/startup.py
  redbot/cogs/audio/core/utilities/formatting.py
  redbot/cogs/audio/core/utilities/playlists.py
Labels: Category: Audio Cog, Type: Enhancement, Type: Fix

#5056 Bump discord.py to 1.7.2
  setup.cfg
Labels: Category: Bot Core, Type: Dependency Update

#4975 Fix logging and handle NotFound exception in Case.edit()
  redbot/core/modlog.py
Labels: Category: Modlog API, Type: Fix

#4991 Remove PM2 guide
  docs/autostart_pm2.rst
  docs/index.rst
Labels: Category: Docs, Status: Needs Discussion, Type: Removal

#5013 Update application.yml + remove mixer support.
  redbot/cogs/audio/audio_dataclasses.py
  redbot/cogs/audio/core/commands/audioset.py
  redbot/cogs/audio/core/utilities/validation.py
  redbot/cogs/audio/data/application.yml
Labels: Category: Audio Cog, Type: Fix

#5012 check both connect and speak permissions before performing audio actions
  redbot/cogs/audio/core/abc.py
  redbot/cogs/audio/core/commands/controller.py
  redbot/cogs/audio/core/commands/player.py
  redbot/cogs/audio/core/commands/queue.py
  redbot/cogs/audio/core/events/lavalink.py
  redbot/cogs/audio/core/utilities/playlists.py
  redbot/cogs/audio/core/utilities/validation.py
Labels: Category: Audio Cog, Type: Fix

#5053 Update pronouns used for the bot in documentation
  docs/cog_guides/admin.rst
  docs/getting_started.rst
Labels: Category: Admin, Category: Docs, Type: Fix

#5063 Ensure nothing initializes colorama when it isn't needed
  redbot/__init__.py
  redbot/__main__.py
  redbot/setup.py
Labels: Category: Bot Core, Type: Fix

#4995 Include status code in APIError and handle APIError in the loop
  redbot/cogs/streams/errors.py
  redbot/cogs/streams/streams.py
  redbot/cogs/streams/streamtypes.py
Labels: Category: Streams, Type: Enhancement, Type: Fix

#5071 [Mutes] Don't send dms to bots
  redbot/cogs/mutes/mutes.py
Labels: Category: Mutes Cog, Type: Fix

#5070 Specify that cleanup commands remove messages from current channel
  docs/cog_guides/cleanup.rst
  redbot/cogs/cleanup/cleanup.py
Labels: Category: Cleanup Cog, Category: Docs, Type: Fix

#4958 Stop reloading unrelated modules
  redbot/core/core_commands.py
Labels: Category: Bot Core, Type: Fix

#5073 [Admin] Add logging to serverlock
  redbot/cogs/admin/__init__.py
  redbot/cogs/admin/admin.py
Labels: Category: Admin, Type: Fix

#5066 Fix the bug with Twitch display name being set as Twitch login
  docs/cog_guides/streams.rst
  redbot/cogs/streams/streams.py
  redbot/cogs/streams/streamtypes.py
Labels: Category: Docs, Category: Streams, Type: Fix

#5079 Update gitignore with more of Windows, Mac, Sublime, and PyCharm
  .gitignore
Labels: Category: Meta, Type: Enhancement

#5080 Docstring Fix
  docs/cog_guides/core.rst
  redbot/cogs/downloader/downloader.py
  redbot/core/core_commands.py
Labels: Category: Bot Core, Category: Docs, Category: Downloader, Type: Fix

#5078 Lower RTD build time
  .readthedocs.yml
  docs/requirements.txt
Labels: Category: CI, Category: Docs, Category: Meta, Changelog Entry: Skipped, Type: Enhancement

#5015 [General] Fix usage in choose help
  docs/cog_guides/general.rst
  redbot/cogs/general/general.py
Labels: Category: Docs, Category: General Cog, Type: Enhancement

#5081 Unify docstring
  redbot/cogs/downloader/downloader.py
Labels: Category: Downloader

#4919 [Docs] Modlog Cog Guide
  .github/labeler.yml
  docs/cog_guides/modlog.rst
  docs/index.rst
  redbot/cogs/modlog/modlog.py
Labels: Category: Docs, Category: Meta, Category: Modlog Cog, Type: Feature

#5082 [Downloader] Allow removal of multiple repos
  docs/cog_guides/downloader.rst
  redbot/cogs/downloader/downloader.py
Labels: Category: Docs, Category: Downloader, Type: Enhancement

#5023 [Docs] Trivia List Creation User Guide
  .github/labeler.yml
  docs/.resources/trivia/trivia_author.png
  docs/cog_guides/trivia.rst
  docs/guide_trivia_list_creation.rst
  docs/index.rst
Labels: Category: Docs, Category: Meta, Category: Trivia Cog, Changelog Entry: Added, Type: Feature

#4920 [Docs] Warnings Cog Guide
  .github/labeler.yml
  docs/cog_guides/warnings.rst
  docs/index.rst
  redbot/cogs/warnings/warnings.py
Labels: Category: Docs, Category: Meta, Category: Warnings, Changelog Entry: Added, Type: Feature

#5085 [Audio] Update Lavalink.jar build
  redbot/cogs/audio/manager.py
Labels: Category: Audio Cog, Changelog Entry: Added, Type: Dependency Update, Type: Fix

#5077 Red 3.4.10 - Changelog
  docs/changelog_3_4_0.rst
Labels: Category: Docs, Category: Trivia Cog, Changelog Entry: Skipped

#5089 Version bump to 3.4.11.dev1
  redbot/__init__.py
Labels: Category: Bot Core, Changelog Entry: Skipped

#5090 With each release we're getting one step closer...
  .github/workflows/publish_release.yml
Labels: Category: CI, Category: Meta, Changelog Entry: Skipped, Type: Fix

#5095 Add Preda as code owner for audio files
  .github/CODEOWNERS
Labels: Category: Audio Cog, Category: Meta, Changelog Entry: Skipped
