Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2021-08, with the labels that each got.

#5209 Update DO link
  docs/install_linux_mac.rst
Labels: Category: Docs

#5207 Fix typo in exception found in `bot.add_dev_env_value()`
  redbot/core/bot.py
Labels: Category: Bot Core

#5212 Fix base branch used for PyPI release?
  .github/workflows/publish_release.yml
Labels: Type: Bug, Release Blocker, Category: CI, Changelog Entry: Skipped, Category: Meta

#5188 [Audio] Add a wait time before auto disconnect
  redbot/cogs/audio/core/events/lavalink.py
Labels: Category: Audio Cog

#5220 [Docs] Fix warning block in Mod cog guide
  docs/cog_guides/mod.rst
Labels: Type: Bug, Category: Docs, Category: Mod Cog

#5225 [Docs] Add Oracle Cloud $300 credits to hosting guide
  docs/host-list.rst
Labels: Type: Enhancement, Category: Docs

#5219 [Docs] Fix argument formatting in Admin cog guide
  docs/cog_guides/admin.rst
Labels: Type: Bug, Category: Docs, Category: Admin

#5180 [Docs] Getting started guide: fix incorrect information / typos
  docs/getting_started.rst
Labels: Type: Bug, Category: Docs

#5048 [Docs] Update alias userdoc to reflect updated help menu layout
  docs/getting_started.rst
Labels: Type: Enhancement, Category: Docs

#5181 [Logging] Make Rich more copy-/paste-able
  redbot/logging.py
Labels: Type: Enhancement, Category: Bot Core

#5221 [Docs] Add intents / public bots guide
  docs/bot_application_guide.rst
  docs/index.rst
  docs/intents.rst
Labels: Type: Enhancement, Category: Docs

#4659 [Trivia] Validate custom trivia file upload using schema
  redbot/cogs/trivia/trivia.py
  tests/cogs/test_trivia.py
Labels: Type: Enhancement, Category: Tests, Category: Trivia Cog

#5092 [Alias] Fix double plural grammar in alias docstring
  redbot/cogs/alias/alias.py
Labels: Type: Bug, Category: Alias

#5163 [Mutes] Fix NotFound error when trying to delete message
  redbot/cogs/mutes/mutes.py
Labels: Type: Bug, Category: Mutes Cog

#5173 [Mod] Check if guild is unavailable in tempban expirations
  redbot/cogs/mod/kickban.py
Labels: Type: Bug, Category: Mod Cog

#5155 Initial support for Discord timestamping
  redbot/cogs/general/general.py
  redbot/cogs/mod/names.py
  redbot/core/modlog.py
Labels: Type: Enhancement, Category: Modlog API, Category: Mod Cog, Category: General Cog, Category: Modlog Cog

#5109 [Downloader] Suppress NotFound errors in `[p]cog update` command
  redbot/cogs/downloader/downloader.py
Labels: Type: Bug, Category: Downloader

#5185 [Downloader] Fix various formatting issues in cog update notices
  redbot/cogs/downloader/downloader.py
Labels: Type: Bug, Category: Downloader

#5199 [Core] add `ctx.tick()` to `[p]invite`
  redbot/core/core_commands.py
Labels: Type: Bug, Category: Bot Core
