Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2021-03, with the labels that each got.

#4865 Use `brew install --cask` instead of `brew cask install`
  docs/install_linux_mac.rst
Labels: Category: Docs, Type: Fix

#4869 sudo -e -> sudo nano
  docs/autostart_systemd.rst
Labels: Category: Docs, Type: Enhancement

#4870 [Docs] Add `nano` package to Linux install guides
  docs/install_linux_mac.rst
Labels: Category: Docs, Type: Enhancement

#4821 [Docs] Image Cog Guide
  docs/cog_guides/image.rst
  docs/index.rst
Labels: Category: Docs, Type: Feature

#4846 fix a minor grammar issue
  redbot/core/bot.py
Labels: Category: Bot Core

#4876 Fix `AttributeError` in `Context.delete_messages()`
  redbot/core/commands/context.py
Labels: Category: Command Module, Type: Fix

#4877 Added use spoilers functionality
  redbot/cogs/trivia/session.py
  redbot/cogs/trivia/trivia.py
Labels: Category: Trivia Cog

#4885 how dare you...
  redbot/cogs/economy/economy.py
Labels: Category: Economy Cog, Type: Fix

#4887 Remove duplicate questions in `hockey` trivia
  redbot/cogs/trivia/data/lists/hockey.yaml
Labels: Category: Trivia Lists, Changelog Entry: Skipped, Type: Fix

#4889 [Docs] Add explanation for multiple arguments
  docs/getting_started.rst
Labels: Category: Docs, Type: Enhancement

#4881 [Reports] Improve usage in the report command's decorator
  redbot/cogs/reports/reports.py
Labels: Category: Reports Cog, Type: Enhancement

#4891 Update Downloader tests to work with newer git versions
  redbot/pytest/downloader.py
Labels: Category: Downloader, Category: Tests, Changelog Entry: Skipped, Type: Fix

#4893 Small meta cleanups
  .gitignore
  CONTRIBUTING.md
  README.md
  make.ps1
  pyproject.toml
  redbot/cogs/downloader/repos/.gitignore
  setup.py
Labels: Category: Meta, Changelog Entry: Skipped, Type: Fix

#4902 Improve labeler configuration to include docs
  .github/labeler.yml
Labels: Category: Meta, Type: Enhancement

#4897 Update ambiguous oid parsing to detect candidates on Git 2.31+
  redbot/cogs/downloader/repo_manager.py
  redbot/pytest/downloader.py
  tests/cogs/downloader/test_git.py
Labels: Category: Downloader, Category: Tests, Type: Fix

#4801 Add meaningful error messages for bad arguments in [p]bank set
  redbot/cogs/economy/economy.py
Labels: Category: Economy Cog, Changelog Entry: Added, Type: Enhancement

#4915 a small typo
  redbot/cogs/mutes/mutes.py
Labels: Category: Mutes Cog, Type: Fix

#4830 Fix the tracking of nicks that were set just before nick reset
  redbot/cogs/mod/events.py
Labels: Category: Mod Cog, Type: Fix

#4866 Use explicit name of the python packages for openSUSE Tumbleweed, add warning for Arch instructions
  docs/install_linux_mac.rst
Labels: Category: Docs, Type: Enhancement

#4746 Raise `StreamNotFound` for 404 errors in YouTube RSS feed
  redbot/cogs/streams/streams.py
  redbot/cogs/streams/streamtypes.py
Labels: Category: Streams, Type: Fix

#4901 Remove unnecessary escape from Cog Manager UI cog guide
  docs/cog_guides/cog_manager_ui.rst
Labels: Category: Bot Core, Category: Docs, Type: Fix
