Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2021-06, with the labels that each got.

#5114 [Core] Add toggle for the applications.commands invite scope
  redbot/core/bot.py
  redbot/core/core_commands.py
Labels: Category: Bot Core

#5064 Use `rich.progress` instead of `tqdm`
  redbot/cogs/audio/manager.py
  redbot/core/drivers/base.py
  redbot/core/utils/_internal_utils.py
  setup.cfg
  tools/primary_deps.ini
Labels: Category: Audio Cog, Category: Config, Category: Meta, Category: Utility Functions, Type: Enhancement

#5118 Move modlog guide to correct place in the labeler configuration
  .github/labeler.yml
Labels: Category: Meta, Type: Fix

#5117 [Core] Limit server prefix length
  docs/cog_guides/core.rst
  redbot/core/core_commands.py
Labels: Category: Bot Core, Category: Docs

#5107 [Dev] Use `tick()` when debugs are successful
  redbot/core/dev_commands.py
Labels: Category: Dev Cog

#5129 Bump discord.py to 1.7.3
  setup.cfg
Labels: Category: Bot Core, Type: Dependency Update

#5130 Red 3.4.11 - Changelog
  docs/changelog_3_4_0.rst
Labels: Category: Docs, Changelog Entry: Skipped

#5135 [Audio] Change autoplay playlist url
  redbot/cogs/audio/core/utilities/playlists.py
Labels: Category: Audio Cog

#5125 Fix Filter - None issue
  redbot/cogs/filter/filter.py
Labels: Category: Filter, Type: Fix

#5120 [Warnings] Warn mod if 0 or less points are given
  redbot/cogs/warnings/warnings.py
Labels: Category: Warnings, Type: Fix

#5137 Update `[p]addpath` to use consume rest on the path argument
  redbot/core/cog_manager.py
Labels: Category: Bot Core, Type: Enhancement

#5140 Change default local cache level
  redbot/cogs/audio/apis/interface.py
  redbot/cogs/audio/core/__init__.py
  redbot/cogs/audio/core/tasks/startup.py
Labels: Category: Audio Cog, Changelog Entry: Added, Type: Enhancement

#5143 Remove support for Audio's Global API
  .github/CODEOWNERS
  redbot/cogs/audio/apis/global_db.py
  redbot/cogs/audio/core/commands/audioset.py
  redbot/cogs/audio/core/tasks/startup.py
Labels: Category: Audio Cog, Category: Meta, Changelog Entry: Added, Type: Removal

#5144 Red 3.4.12 - Changelog
  docs/changelog_3_4_0.rst
Labels: Category: Docs, Changelog Entry: Skipped

#5149 [CustomCommands/Docs] Fix argument name in `[p]cc show command` docstring
  docs/cog_guides/customcommands.rst
  redbot/cogs/customcom/customcom.py
Labels: Category: CustomCom, Category: Docs, Type: Fix

#5148 Add missing changelog entries to Red 3.4.12 changelog
  docs/changelog_3_4_0.rst
Labels: Category: Docs, Changelog Entry: Skipped, Type: Fix

#5150 Add simple PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Category: Meta, Changelog Entry: Skipped, Type: Enhancement

#5154 Version bump to 3.5.0.dev1
  redbot/__init__.py
Labels: Category: Bot Core, Changelog Entry: Skipped

#4517 Allow `menu()` to listen to both adding and removing reactions
  redbot/core/utils/menus.py
Labels: Breaking Change, Category: Utility Functions, Type: Enhancement

#4465 Raise on an uncompliant message in Context.maybe_send_embed()
  redbot/core/commands/context.py
Labels: Breaking Change, Category: Command Module, QA: Passed, Type: Fix

#5156 Refined debuginfo
  redbot/core/core_commands.py
  setup.cfg
  tools/primary_deps.ini
Labels: Backport, Category: Bot Core, Category: Meta, Type: Enhancement

#5167 Improve release correctness and safety by using GH Environments
  .github/workflows/publish_release.yml
  .github/workflows/scripts/bump_version.py
Labels: Category: CI, Category: Meta, Changelog Entry: Skipped, Release Blocker, Type: Enhancement
