Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2022-10, with the labels that each got.

#5854 Fix unintended moving *between* VCs when channel muting
  redbot/cogs/mutes/mutes.py
Labels: Type: Bug, Category: Mutes Cog, hacktoberfest-accepted

#5867 [Trivia] Various typo fixes.
  redbot/cogs/trivia/data/lists/2015.yaml
  redbot/cogs/trivia/data/lists/computers.yaml
  redbot/cogs/trivia/data/lists/elements.yaml
  redbot/cogs/trivia/data/lists/games.yaml
  redbot/cogs/trivia/data/lists/general.yaml
  redbot/cogs/trivia/data/lists/harrypotter.yaml
  redbot/cogs/trivia/data/lists/warcraft.yaml
Labels: Type: Bug, Category: Trivia Lists, hacktoberfest-accepted

#5681 Add support for Hybrid commands in Red
  docs/framework_commands.rst
  redbot/core/bot.py
  redbot/core/commands/__init__.py
  redbot/core/commands/commands.py
Labels: Category: Docs, Category: Command Module, Category: Bot Core

#5870 [Mod] Hide config migration commands
  redbot/cogs/mod/mod.py
Labels: Type: Enhancement, Category: Mod Cog, hacktoberfest-accepted

#5868 Use bot embed colour in [p]dm command
  redbot/core/core_commands.py
Labels: Type: Enhancement, Category: Bot Core, hacktoberfest-accepted

#5634 Add buttons to help
  redbot/core/bot.py
  redbot/core/commands/help.py
  redbot/core/core_commands.py
  redbot/core/utils/views.py
Labels: Category: Bot Core, Category: Help, Category: Utility Functions

#5683 Add global buttons to base menus
  docs/framework_utils.rst
  redbot/core/bot.py
  redbot/core/core_commands.py
  redbot/core/utils/menus.py
Labels: Category: Docs, Category: Bot Core, Category: Utility Functions

#5878 Fix a lack of permission checks on usebuttons
  redbot/core/core_commands.py
Labels: Type: Bug, Category: Bot Core

#5863 [Cleanup] Pass reason for bulk message deletion to audit log
  redbot/cogs/cleanup/cleanup.py
  redbot/core/utils/mod.py
Labels: Category: Utility Functions, Category: Cleanup Cog, hacktoberfest-accepted

#5879 [cleanup] fix error in [p]cleanup spam command
  redbot/cogs/cleanup/cleanup.py
Labels: Category: Cleanup Cog

#5873 [Docs] Use gender neutral language in remaining places where it isn't
  docs/changelog_3_3_0.rst
  docs/cog_guides/core.rst
  docs/getting_started.rst
  redbot/core/utils/views.py
Labels: Category: Docs, Category: Bot Core, Category: Utility Functions, Changelog Entry: Skipped

#5797 Add `core/_debuginfo.py` to labeler configuration
  .github/labeler.yml
Labels: Category: Meta

#5855 Properly handle missing schemas/tables in PostgreSQL driver
  .github/workflows/tests.yml
  redbot/core/drivers/postgres/ddl.sql
  redbot/core/drivers/postgres/postgres.py
  tests/core/test_config.py
Labels: Type: Bug, Type: Enhancement, Category: Tests, Category: CI, hacktoberfest-accepted

#5830 Get rid of localized guild feature list in serverinfo
  redbot/cogs/general/general.py
Labels: Type: Enhancement, Category: General Cog

#5778 Exclude `files_from_attatch` member from Tunnel automodule
  docs/framework_utils.rst
Labels: Category: Docs, Category: Utility Functions

#5388 [Mod] Account for roles in mention spam
  redbot/cogs/mod/events.py
Labels: Type: Enhancement, Category: Mod Cog

#5886 Update `[p]helpset usemenus` documentation with converter changes
  docs/cog_guides/core.rst
  docs/framework_utils.rst
Labels: Type: Bug, Category: Docs, Category: Bot Core, Category: Utility Functions, hacktoberfest-accepted

#5888 Fix typo in league of legends trivia list
  redbot/cogs/trivia/data/lists/leagueoflegends.yaml
Labels: Type: Bug, Category: Trivia Lists, hacktoberfest-accepted

#5885 Document new `[p]set usebuttons` command
  docs/cog_guides/core.rst
Labels: Category: Docs, Category: Bot Core, hacktoberfest-accepted

#5869 [Docs] Dev Cog Guide
  .github/labeler.yml
  docs/cog_guides/dev.rst
  docs/index.rst
  redbot/core/dev_commands.py
Labels: Type: Enhancement, Category: Docs, Category: Meta, Category: Dev Cog, hacktoberfest-accepted

#3865 Case-Insensitive SelfRole
  redbot/cogs/admin/converters.py
Labels: Type: Enhancement, Category: Admin

#5895 [Audio] Adjust docstrings
  redbot/cogs/audio/core/commands/llset.py
  redbot/cogs/audio/core/events/dpy.py
Labels: Type: Enhancement, Category: Audio Cog

#5871 [Docs] Audio Cog Guide
  .github/labeler.yml
  docs/changelog_3_3_0.rst
  docs/changelog_3_4_0.rst
  docs/cog_guides/audio.rst
  docs/index.rst
  docs/install_guides/windows.rst
  docs/prolog.txt
  redbot/cogs/audio/core/commands/llset.py
  redbot/cogs/audio/core/commands/playlists.py
  redbot/cogs/audio/core/events/dpy.py
  redbot/cogs/audio/core/utilities/player.py
Labels: Category: Docs, Category: Audio Cog, Category: Meta

#5872 Add Lavalink version parsing
  redbot/cogs/audio/core/commands/audioset.py
  redbot/cogs/audio/manager.py
Labels: Type: Enhancement, Needs Backport To 3.4, Category: Audio Cog

#5352 [Modlog] Make `modlogset cases` docstring less vague
  docs/cog_guides/core.rst
  redbot/core/core_commands.py
Labels: Type: Enhancement, Category: Docs, Category: Bot Core, Category: Modlog Cog
