Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2022-02, with the labels that each got.

#5435 [Core/Core Cogs] Prevent translation errors and use formatting utils
  redbot/cogs/mod/mod.py
  redbot/cogs/mod/settings.py
  redbot/cogs/modlog/modlog.py
  redbot/cogs/mutes/mutes.py
  redbot/cogs/streams/streams.py
  redbot/core/commands/help.py
  redbot/core/core_commands.py
  redbot/core/modlog.py
Labels: Type: Enhancement, Category: Streams, Category: Modlog API, Category: Bot Core, Category: Mod Cog, Category: Help, Category: Mutes Cog, Category: Modlog Cog

#5548 Emphasize lines with things to replace in autostart guides
  docs/autostart_mac.rst
  docs/autostart_systemd.rst
  docs/conf.py
Labels: Type: Enhancement, Category: Docs

#5516 Fix number of cogs in Getting started doc after Bank cog removal
  docs/getting_started.rst
Labels: Type: Bug, Category: Docs, Changelog Entry: Skipped

#5557 Ensure that registered Config defaults are serializable to JSON
  redbot/core/config.py
Labels: Type: Enhancement, Breaking Change, Category: Config

#5564 Add typechecking to config from_id methods
  redbot/core/config.py
Labels: Type: Enhancement, Breaking Change, Category: Config

#5579 Update discord-ext-menus vendor to latest commit
  redbot/vendored/discord/ext/menus/__init__.py
Labels: Type: Dependency Update

#5577 Avoid 'editing' message with no changes when case is created
  redbot/core/modlog.py
Labels: Type: Enhancement, Category: Modlog API

#5578 Avoid potential memory leak in Filter cog
  redbot/cogs/filter/filter.py
Labels: Type: Bug, Category: Filter

#5582 Update redgettext to version 3.4
  .github/workflows/crowdin_upload_strings.yml
  .github/workflows/prepare_release.yml
Labels: Type: Dependency Update, Category: CI, Changelog Entry: Skipped

#5583 Update redgettext to version 3.4.1
  .github/workflows/crowdin_upload_strings.yml
  .github/workflows/prepare_release.yml
Labels: Type: Dependency Update, Category: CI, Changelog Entry: Skipped

#5584 Update redgettext to version 3.4.2
  .github/workflows/crowdin_upload_strings.yml
  .github/workflows/prepare_release.yml
Labels: Type: Dependency Update, Category: CI, Changelog Entry: Skipped

#5588 [Trivia] Fix spelling error in computers trivia
  redbot/cogs/trivia/data/lists/computers.yaml
Labels: Category: Trivia Lists

#5596 Fix grammar in uptime command
  redbot/core/core_commands.py
Labels: Category: Bot Core

#5580 Ask if changes were tested in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Type: Enhancement, Changelog Entry: Skipped, Category: Meta
