Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2022-04, with the labels that each got.

#5656 Use Guild.fetch_ban() over Guild.bans()
  redbot/cogs/mod/kickban.py
Labels: Type: Enhancement, Type: Optimisation, Category: Mod Cog

#5632 add timestamps to all audio embeds
  redbot/cogs/audio/core/utilities/miscellaneous.py
Labels: Category: Audio Cog

#5529 Reference how to reply in the `[p]contact` command with embed settings
  redbot/core/core_commands.py
Labels: Category: Bot Core

#5664 Include tag distance and commit hash in dev versions when possible
  .github/workflows/scripts/bump_version.py
  redbot/__init__.py
  redbot/_version.py
  setup.cfg
  setup.py
  tests/core/test_version.py
Labels: Category: Tests, Category: Bot Core

#5665 Fix AttributeError in new decorators added to requires
  redbot/core/commands/requires.py
Labels: Type: Bug, Category: Command Module, Changelog Entry: Skipped

#5653 Remove caching and safety utilities
  redbot/core/__init__.py
  redbot/core/utils/caching.py
  redbot/core/utils/safety.py
Labels: Breaking Change, Type: Removal, Category: Bot Core, Category: Utility Functions

#5667 Suppress stderr in `_get_version()`
  redbot/_version.py
Labels: Type: Bug, Category: Bot Core, Changelog Entry: Skipped

#5670 Fix invalid version error with _get_version()-provided version
  .github/workflows/scripts/bump_version.py
  redbot/__init__.py
  redbot/_version.py
  setup.py
Labels: Type: Bug, Category: Bot Core, Changelog Entry: Skipped

#5662 Make `--debuginfo` more like `[p]debuginfo`
  redbot/__main__.py
  redbot/core/_debuginfo.py
  redbot/core/core_commands.py
Labels: Type: Enhancement, Category: Bot Core

#5160 Make `[p]streamalert list` show platform, allow to pass target channel to `[p]streamalert` commands
  redbot/cogs/streams/streams.py
  redbot/cogs/streams/streamtypes.py
Labels: Type: Feature, Category: Streams

#5547 Use absolute path to `which` to avoid aliases
  docs/autostart_systemd.rst
Labels: Type: Enhancement, Category: Docs

#5537 Add CentOS Stream 9 docs
  docs/install_guides/centos-stream-9.rst
  docs/install_guides/index.rst
  docs/version_guarantees.rst
Labels: Type: Enhancement, Category: Docs

#5677 Add info about supported arches to guides and version guarantees
  docs/install_guides/_includes/install-guide-rhel-derivatives.rst
  docs/install_guides/_includes/supported-arch-aarch64+armv7l.rst
  docs/install_guides/_includes/supported-arch-armv7l.rst
  docs/install_guides/_includes/supported-arch-x64+aarch64+armv7l.rst
  docs/install_guides/_includes/supported-arch-x64+aarch64.rst
  docs/install_guides/_includes/supported-arch-x64.rst
  docs/install_guides/arch.rst
  docs/install_guides/centos-7.rst
  docs/install_guides/debian-10.rst
  docs/install_guides/debian-11.rst
  docs/install_guides/fedora.rst
  docs/install_guides/mac.rst
  docs/install_guides/opensuse-leap-15.rst
  docs/install_guides/opensuse-tumbleweed.rst
  docs/install_guides/raspberry-pi-os-10.rst
  docs/install_guides/raspberry-pi-os-11.rst
  docs/install_guides/ubuntu-1804.rst
  docs/install_guides/ubuntu-2004.rst
  docs/install_guides/ubuntu-non-lts.rst
  docs/install_guides/windows.rst
  docs/version_guarantees.rst
Labels: Type: Enhancement, Category: Docs

#5673 Stop suppressing exceptions by early-exiting in `finally`
  redbot/__main__.py
  redbot/core/modlog.py
Labels: Type: Bug, Category: Modlog API, Category: Bot Core

#5666 Make DEFAULT_CONTROLS and ReactionPredicate.*_EMOJIS immutable
  redbot/core/utils/menus.py
  redbot/core/utils/predicates.py
Labels: Type: Enhancement, Breaking Change, Category: Utility Functions

#5678 Make `controls` in `menu()` optional
  redbot/cogs/alias/alias.py
  redbot/cogs/audio/core/commands/audioset.py
  redbot/cogs/audio/core/commands/equalizer.py
  redbot/cogs/audio/core/commands/localtracks.py
  redbot/cogs/audio/core/commands/miscellaneous.py
  redbot/cogs/audio/core/commands/player.py
  redbot/cogs/audio/core/commands/playlists.py
  redbot/cogs/audio/core/commands/queue.py
  redbot/cogs/customcom/customcom.py
  redbot/cogs/economy/economy.py
  redbot/cogs/general/general.py
  redbot/cogs/modlog/modlog.py
  redbot/cogs/warnings/warnings.py
  redbot/core/core_commands.py
  redbot/core/utils/menus.py
Labels: Type: Enhancement, Category: Audio Cog, Category: Bot Core, Category: Alias, Category: CustomCom, Category: Utility Functions, Category: Warnings, Category: Economy Cog, Category: General Cog, Category: Modlog Cog

#5639 Add FIFA World Cup Trivia List
  redbot/cogs/trivia/data/lists/worldcup.yaml
Labels: Category: Trivia Lists

#5430 Prevent an IndexError from occuring
  redbot/core/utils/menus.py
Labels: Type: Bug, Category: Utility Functions, hacktoberfest-accepted

#5655 [General] update `[p]serverinfo 1` guild features.
  redbot/cogs/general/general.py
Labels: Category: General Cog

#5690 Update Downloader's git tests to work with Git 2.36+
  tests/cogs/downloader/test_git.py
Labels: Type: Bug, Category: Tests, Changelog Entry: Skipped, Category: Meta
