Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2022-11, with the labels that each got.

#5592 fix usage/syntax info in command_audioset_autoplay_playlist docstring
  redbot/cogs/audio/core/commands/audioset.py
Labels: Type: Bug, Category: Audio Cog

#5876 Stop using deprecated set-output GH Actions command
  .github/workflows/scripts/bump_version.py
Labels: Type: Bug, Category: CI, hacktoberfest-accepted

#5692 Remove `bordered()` utility function
  docs/changelog_3_4_0.rst
  redbot/core/events.py
  redbot/core/utils/chat_formatting.py
  tests/core/test_utils.py
Labels: Breaking Change, Category: Docs, Category: Tests, Type: Removal, Category: Bot Core, Category: Utility Functions

#5860 Fix HTTPException in set api's send_modal
  redbot/core/utils/views.py
Labels: Type: Bug, Category: Bot Core, Category: Utility Functions, hacktoberfest-accepted

#5887 Harrypotter questions
  redbot/cogs/trivia/data/lists/harrypotter.yaml
Labels: Type: Enhancement, Category: Trivia Lists, hacktoberfest-accepted

#5572 Improve topography trivia
  redbot/cogs/trivia/data/lists/worldcapitals.yaml
  redbot/cogs/trivia/data/lists/worldflags.yaml
  redbot/cogs/trivia/data/lists/worldmap.yaml
Labels: Type: Bug, Category: Trivia Lists

#5680 Restrict first/last character in instance name
  redbot/setup.py
Labels: Type: Bug, Type: Enhancement, Category: Bot Core

#5907 Fix `[p]helpset usemenus disable`
  redbot/core/core_commands.py
Labels: Type: Bug, Category: Bot Core

#5910 Fix flaky CI caused by flake8's flakiness (GitHub migration)
  .github/workflows/lint_python.yaml
Labels: Type: Bug, QA: Bypassed, Category: CI

#5911 Update CODEOWNERS file with my new username
  .github/CODEOWNERS
Labels: Type: Bug, QA: Bypassed, Changelog Entry: Skipped, Category: Meta

#5909 [General] Fix [p]lmgtfy URL generation
  redbot/cogs/general/general.py
Labels: Type: Bug, Category: General Cog

#5898 Add serverlock warning to `[p]invite`
  redbot/core/core_commands.py
Labels: Type: Enhancement, Category: Bot Core

#5914 [CustomCom] Fix [p]cc cooldown docstring & docs
  docs/cog_guides/customcommands.rst
  redbot/cogs/customcom/customcom.py
Labels: Type: Bug, Category: Docs, Category: CustomCom

#5902 Allow send_interactive to upload a file containing all content
  redbot/core/commands/context.py
Labels: Type: Enhancement, Category: Bot Core
