Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2022-12, with the labels that each got.

#5918 Core - #5891 Recovering Server Prefixes
  redbot/core/core_commands.py
Labels: Type: Enhancement, Category: Bot Core

#5920 Bump discord.py to version 2.1.0
  redbot/cogs/mod/kickban.py
  setup.cfg
Labels: Type: Dependency Update, Category: Mod Cog

#5924 Modernize packaging-related things in Red
  .github/workflows/codeql-analysis.yml
  .github/workflows/run_pip_compile.yaml
  .github/workflows/scripts/compile_requirements.py
  .github/workflows/scripts/merge_requirements.py
  .github/workflows/tests.yml
  .readthedocs.yml
  MANIFEST.in
  Makefile
  docs/install_guides/_includes/install-and-setup-red-unix.rst
  docs/install_guides/windows.rst
  make.bat
  make.ps1
  pyproject.toml
  redbot/__main__.py
  redbot/core/events.py
  redbot/core/utils/_internal_utils.py
  redbot/launcher.py
  requirements/base.in
  requirements/base.txt
  requirements/extra-doc.in
  requirements/extra-doc.txt
  requirements/extra-postgres.in
  requirements/extra-postgres.txt
  requirements/extra-style.in
  requirements/extra-style.txt
  requirements/extra-test.in
  requirements/extra-test.txt
  setup.cfg
  setup.py
  tests/core/test_version.py
  tools/bumpdeps.py
  tools/dev-requirements.txt
  tools/primary_deps.ini
  tox.ini
Labels: Type: Enhancement, Category: Docs, Category: Tests, Category: Bot Core, Category: CI, Category: Utility Functions, Category: Meta

#5928 [Docs] Update bot hosting list.
  docs/host-list.rst
Labels: Type: Enhancement, Category: Docs

#5927 [Admin] add reasoning to `addrole` & `removerole`.
  redbot/cogs/admin/admin.py
Labels: Type: Enhancement, Category: Admin

#5866 [Modlog API] Stop modlog.get_case() from erroring if no modlog channel is set up
  redbot/core/modlog.py
Labels: Type: Bug, Category: Modlog API, hacktoberfest-accepted

#5890 [Trivia] Who's that Pokemon? Generation VII and VIII trivia lists
  redbot/cogs/trivia/data/lists/whosthatpokemon7.yaml
  redbot/cogs/trivia/data/lists/whosthatpokemon8.yaml
Labels: Category: Trivia Lists, Type: Feature, hacktoberfest-accepted

#5926 Revert ``mock`` and ``mockmsg`` back to a guild_only state
  redbot/core/dev_commands.py
Labels: Type: Bug, Category: Dev Cog

#5641 Add automodule reference for the antispam module
  docs/framework_utils.rst
  redbot/core/utils/antispam.py
Labels: Category: Docs, Category: Utility Functions

#5934 Fix tests badge in readme
  README.md
Labels: Type: Bug, Category: Docs, Changelog Entry: Skipped

#5929 Add SECURITY.md to the repo
  SECURITY.md
Labels: Changelog Entry: Skipped, Category: Meta

#5674 Use different exit codes for critical errors vs configuration errors
  docs/autostart_systemd.rst
  redbot/__init__.py
  redbot/__main__.py
  redbot/core/bot.py
  redbot/core/cli.py
  redbot/core/data_manager.py
  redbot/core/rpc.py
  redbot/launcher.py
  redbot/setup.py
Labels: Type: Enhancement, Category: Docs, Category: Bot Core, Category: RPC/ZMQ API

#5936 Update intents screenshot
  docs/.resources/bot-guide/discord_privileged_intents.png
  docs/.resources/bot-guide/discord_privileged_intents_until_aug_31.png
  docs/bot_application_guide.rst
Labels: Type: Enhancement, Category: Docs

#5938 Fix usage of file/folder names without suffix in Downloader
  redbot/cogs/downloader/downloader.py
  redbot/cogs/downloader/installable.py
  redbot/cogs/downloader/repo_manager.py
Labels: Type: Bug, Category: Downloader

#5550 Update disable commands logic during cogs loading
  redbot/core/events.py
Labels: Type: Optimisation, Category: Bot Core

#5919 Updated excluded features
  redbot/cogs/general/general.py
Labels: Type: Enhancement, Category: General Cog

#5776 Update installation URLs for Homebrew and Chocolatey
  docs/install_guides/mac.rst
  docs/install_guides/windows.rst
Labels: Type: Enhancement, Category: Docs

#5659 Add missing empty line in error output of Trivia unit test
  tests/cogs/test_trivia.py
Labels: Category: Tests, Changelog Entry: Skipped

#5903 Fix managed LL subprocess's stdout overflowing and deadlocking
  redbot/cogs/audio/errors.py
  redbot/cogs/audio/manager.py
Labels: Type: Bug, Category: Audio Cog

#5859 Remove multiple paths
  docs/cog_guides/cog_manager_ui.rst
  redbot/core/cog_manager.py
Labels: Type: Enhancement, Category: Docs, Category: Bot Core, hacktoberfest-accepted

#5142 [CogManagerUI] Resolve core path under `bot._cog_mgr.CORE_PATH`
  redbot/core/cog_manager.py
Labels: Type: Enhancement, Category: Bot Core

#5932 Fix ordering of 3.0.0.dev1 and 3.0.0a1.dev1 versions
  redbot/__init__.py
  tests/core/test_version.py
Labels: Type: Bug, Breaking Change, Category: Tests, Category: Bot Core

#5772 Change/Update casing in findcog command.
  redbot/cogs/downloader/downloader.py
Labels: Type: Enhancement, Category: Downloader

#5874 Test implicit subclass type conversion in config defaults/sets
  tests/core/test_config.py
Labels: Type: Enhancement, High Priority, Category: Tests, Release Blocker, hacktoberfest-accepted

#5893 Use Discord's relative timestamps as command cooldown countdown
  redbot/cogs/economy/economy.py
  redbot/core/events.py
Labels: Type: Enhancement, Category: Bot Core, Category: Economy Cog, hacktoberfest-accepted

#5856 [Streams] Add toggleable button to stream alerts
  docs/cog_guides/streams.rst
  redbot/cogs/streams/streams.py
Labels: Category: Docs, Type: Feature, Category: Streams, hacktoberfest-accepted

#5945 Fix incorrect default argument value in `[p]streamalert twitch`
  redbot/cogs/streams/streams.py
Labels: Type: Bug, Category: Streams, Changelog Entry: Skipped

#5814 Add support for sdists and git-archive to `_get_version()`
  .git_archive_info.txt
  .gitattributes
  redbot/__init__.py
Labels: Type: Enhancement, Category: Bot Core

#5894 Core - Add invoke error message customisation
  docs/cog_guides/core.rst
  redbot/cogs/trivia/session.py
  redbot/core/bot.py
  redbot/core/core_commands.py
  redbot/core/events.py
Labels: Type: Enhancement, Category: Docs, Category: Bot Core, Category: Trivia Cog, hacktoberfest-accepted

#5569 Update enqueued track message to distinguish album from playlist
  redbot/cogs/audio/core/utilities/player.py
Labels: Type: Bug, Type: Enhancement, Category: Audio Cog

#5946 Use `usage` attr to remove appended underscore for `from_` parameter in `[p]reorderpath`
  docs/cog_guides/cog_manager_ui.rst
  redbot/core/cog_manager.py
Labels: Type: Bug, Category: Docs, Category: Bot Core
