Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2022-06, with the labels that each got.

#5716 [3.4] Bump Red-Lavalink to version 0.9.3
  setup.cfg
Labels: Type: Bug, Type: Dependency Update, Category: Audio Cog

#5719 [3.4] Bump Python version in install guides to 3.9.13
  docs/install_guides/_includes/install-python-pyenv.rst
  docs/install_guides/windows.rst
Labels: Category: Docs, Type: Dependency Update

#5729 [3.4] Add CentOS Stream 9 docs (#5537)
  docs/install_guides/centos-stream-9.rst
  docs/install_guides/index.rst
Labels: Type: Enhancement, Category: Docs

#5717 Pin Temurin version on Windows until fixed version exists
  docs/install_guides/windows.rst
Labels: Type: Bug, Category: Docs, QA: Bypassed, Needs Backport To 3.4

#5700 Replace removed git224 package with git236 in CentOS 7 guide
  docs/install_guides/centos-7.rst
Labels: Type: Bug, Category: Docs, Type: Dependency Update, QA: Bypassed, Needs Backport To 3.4

#5718 Use Temurin 11 instead of discontinued AdoptOpenJDK on macOS
  docs/install_guides/mac.rst
Labels: Category: Docs, Type: Dependency Update, Needs Backport To 3.4

#5701 Add Fedora 36 and RHEL 8.6 to list in version guarantees
  docs/install_guides/fedora.rst
  docs/version_guarantees.rst
Labels: Category: Docs, Type: Dependency Update, QA: Bypassed, Needs Backport To 3.4

#5750 [3.4] Bump minimum Fedora version to 35 (#5701)
  docs/install_guides/fedora.rst
Labels: Category: Docs, Type: Dependency Update

#5751 Wait for two 'Started Launcher' lines before connecting to managed LL
  redbot/cogs/audio/manager.py
Labels: Type: Bug, Needs Backport To 3.4, Category: Audio Cog

#5752 [3.4] Wait for two 'Started Launcher' lines before connecting to managed LL (#5751)
  redbot/cogs/audio/manager.py
Labels: Type: Bug, Category: Audio Cog

#5720 Add Ubuntu 22.04 install guide
  docs/getting_started.rst
  docs/install_guides/index.rst
  docs/install_guides/ubuntu-2204.rst
  docs/version_guarantees.rst
Labels: Category: Docs, Type: Feature, QA: Bypassed, Needs Backport To 3.4

#5753 [3.4] Add Ubuntu 22.04 install guide (#5720)
  docs/getting_started.rst
  docs/install_guides/index.rst
  docs/install_guides/ubuntu-2204.rst
Labels: Category: Docs, Type: Feature

#5702 Update Visual Studio Build Tools to 2022
  docs/install_guides/windows.rst
Labels: Category: Docs, Type: Dependency Update, Needs Backport To 3.4

#5754 [3.4] Update Visual Studio Build Tools to 2022 (#5702).
  docs/install_guides/windows.rst
Labels: Category: Docs, Type: Dependency Update

#5721 Add RHEL 9 (+ derivatives) install guide
  docs/install_guides/_includes/install-guide-rhel8-derivatives.rst
  docs/install_guides/_includes/install-guide-rhel9-derivatives.rst
  docs/install_guides/alma-linux-8.rst
  docs/install_guides/alma-linux-9.rst
  docs/install_guides/centos-stream-8.rst
  docs/install_guides/centos-stream-9.rst
  docs/install_guides/index.rst
  docs/install_guides/oracle-linux-8.rst
  docs/install_guides/oracle-linux-9.rst
  docs/install_guides/rhel-8.rst
  docs/install_guides/rhel-9.rst
  docs/install_guides/rocky-linux-8.rst
  docs/install_guides/rocky-linux-9.rst
  docs/version_guarantees.rst
Labels: Category: Docs, Type: Feature, Needs Backport To 3.4

#5755 [3.4] Add RHEL 9 (+ derivatives) install guide (#5721)
  docs/install_guides/_includes/install-guide-rhel8-derivatives.rst
  docs/install_guides/_includes/install-guide-rhel9-derivatives.rst
  docs/install_guides/alma-linux-8.rst
  docs/install_guides/alma-linux-9.rst
  docs/install_guides/centos-stream-8.rst
  docs/install_guides/centos-stream-9.rst
  docs/install_guides/index.rst
  docs/install_guides/oracle-linux-8.rst
  docs/install_guides/oracle-linux-9.rst
  docs/install_guides/rhel-8.rst
  docs/install_guides/rhel-9.rst
  docs/install_guides/rocky-linux-8.rst
  docs/install_guides/rocky-linux-9.rst
Labels: Category: Docs, Type: Feature

#5744 Escape Discord's formatting in `[p]servers` command
  redbot/core/core_commands.py
Labels: Type: Bug, Needs Backport To 3.4, Category: Bot Core

#5566 Add use_spoilers property to `TRIVIA_LIST_SCHEMA` schema
  redbot/cogs/trivia/session.py
  redbot/cogs/trivia/trivia.py
Labels: Needs Backport To 3.4, Category: Trivia Cog

#5647 [Modlog] Check if guild is unavailable
  redbot/core/modlog.py
Labels: Needs Backport To 3.4, Category: Modlog API

#5758 [3.4] [Modlog] Check if guild is unavailable (#5647)
  redbot/core/modlog.py
Labels: Category: Modlog API

#5615 Minor bugfixes resolving around modlog UI
  redbot/cogs/modlog/modlog.py
Labels: Type: Bug, Changelog Entry: Skipped, Category: Modlog Cog

#5711 Prepend emojis to better differentiate between `[p]canrun` responses
  redbot/cogs/permissions/permissions.py
Labels: Needs Backport To 3.4, Category: Permissions

#5759 [3.4] Prepend emojis to better differentiate between `[p]canrun` responses (#5711)
  redbot/cogs/permissions/permissions.py
Labels: Category: Permissions

#5685 Allow sending the file in follow-up message in ACL upload commands
  redbot/cogs/permissions/permissions.py
Labels: Needs Backport To 3.4, Category: Permissions

#5563 Include commit hash for each cog inside `[p]cog listpinned`
  redbot/cogs/downloader/downloader.py
Labels: Type: Enhancement, Needs Backport To 3.4, Category: Downloader

#5763 Red 3.4.17 - Changelog
  docs/changelog_3_4_0.rst
Labels: Category: Docs, Needs Backport To 3.4, Changelog Entry: Skipped

#5684 fixed outdated flags
  redbot/cogs/trivia/data/lists/worldflags.yaml
Labels: Type: Bug, Category: Trivia Lists

#5743 Geography Trivia: Update most populous city in Africa (Kinshasa)
  redbot/cogs/trivia/data/lists/geography.yaml
Labels: Type: Bug, Category: Trivia Lists

#5771 Update Clash Royale Info in trivia.
  redbot/cogs/trivia/data/lists/clashroyale.yaml
Labels: Type: Bug, Category: Trivia Lists

#5777 Drop openSUSE Leap 15.2, add openSUSE Leap 15.4
  docs/install_guides/opensuse-leap-15.rst
  docs/version_guarantees.rst
Labels: Type: Enhancement, Category: Docs, Type: Dependency Update, QA: Bypassed

#5687 New Music Trivia List
  redbot/cogs/trivia/data/lists/music.yaml
Labels: Category: Trivia Lists

#5782 Exclude `get_embed_color` member from Bot framework
  docs/framework_bot.rst
Labels: Category: Docs, Category: Bot Core

#5783 [stable-docs] Split openSUSE Leap 15.2/15.3+ to support 15.4
  docs/install_guides/index.rst
  docs/install_guides/opensuse-leap-15.rst
  docs/install_guides/opensuse-leap-152.rst
Labels: Type: Bug, Category: Docs

#5789 Update workflow versions
  .github/workflows/auto_labeler_issues.yml
  .github/workflows/auto_labeler_pr.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/crowdin_upload_strings.yml
  .github/workflows/lint_python.yaml
  .github/workflows/prepare_release.yml
  .github/workflows/publish_release.yml
  .github/workflows/scripts/close_and_reopen_pr.js
  .github/workflows/tests.yml
Labels: Type: Dependency Update, Category: CI, Changelog Entry: Skipped

#5693 Prevent `/` being used in bot or server prefixes
  redbot/__main__.py
  redbot/core/cli.py
  redbot/core/core_commands.py
  redbot/core/settings_caches.py
Labels: Type: Enhancement, Category: Bot Core
