Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2023-08, with the labels that each got.

#6222 Update supported versions in the security policy
  SECURITY.md
Labels: Type: Informational, Category: Meta, Docs-only

#6226 Add custom status support
  docs/cog_guides/core.rst
  redbot/core/core_commands.py
Labels: Type: Feature, Category: Core - Bot Commands

#6227 Make use of dpy commands.Range on set status commands
  redbot/core/core_commands.py
Labels: Type: Enhancement, Changelog Entry: Skipped, Category: Core - Bot Commands

#6223 Fix local search's issue with bad escapes causing non-local playback
  redbot/cogs/audio/core/utilities/local_tracks.py
Labels: Type: Bug, Category: Cogs - Audio

#6224 Fix poor fuzzy results due to changes in rapidfuzz 3.0
  redbot/cogs/audio/core/utilities/local_tracks.py
  redbot/cogs/audio/core/utilities/queue.py
  redbot/cogs/customcom/customcom.py
  redbot/core/utils/_internal_utils.py
Labels: Type: Bug, Category: Cogs - Audio, Category: Cogs - CustomCommands, Category: Core - Other Internals

#6229 Fix http errors for interaction deferring and message changes
  redbot/core/utils/menus.py
  redbot/core/utils/views.py
Labels: Type: Bug, Category: Core - API - Utils Package

#6230 Fix Picarto channel avatar in Streams cog
  redbot/cogs/streams/streamtypes.py
Labels: Type: Bug, Category: Cogs - Streams

#6221 [Audio] Update Lavalink.jar build
  redbot/cogs/audio/manager.py
Labels: Type: Bug, Type: Dependency Update, Category: Cogs - Audio

#6225 Bump dependencies
  redbot/core/core_commands.py
  requirements/base.txt
  requirements/extra-style.txt
  requirements/extra-test.txt
Labels: Type: Dependency Update, Changelog Entry: Added, Category: Meta, Category: Core - Bot Commands

#6231 Remove type-breaking annotation on cog_i18n decorator
  redbot/core/i18n.py
Labels: Type: Bug, Category: Core - i18n, Changelog Entry: Skipped

#6232 Red 3.5.4 - Changelog
  CHANGES.rst
Labels: Type: Feature, Changelog Entry: Skipped, Category: Docs - Changelogs, Docs-only

#6242 Use more restrictive tag pattern in publish release workflow
  .github/workflows/publish_release.yml
Labels: Type: Enhancement, Category: CI, Changelog Entry: Skipped

#6241 Bump Python versions in pyenv instructions
  docs/install_guides/_includes/install-python310-pyenv.rst
  docs/install_guides/_includes/install-python39-pyenv.rst
Labels: Type: Dependency Update, Needs Backport To stable-docs, Category: Docs - Install Guides, Docs-only
