Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2023-04, with the labels that each got.

#5993 Add `brew shellenv` to shell profile in macOS install guide
  docs/install_guides/mac.rst
Labels: Type: Bug, Category: Docs - Install Guides, Docs-only

#5463 Use the commands module instead of checks for permission decorators
  docs/framework_config.rst
  docs/framework_modlog.rst
  docs/guide_cog_creators.rst
  redbot/cogs/admin/admin.py
  redbot/cogs/alias/alias.py
  redbot/cogs/cleanup/cleanup.py
  redbot/cogs/customcom/customcom.py
  redbot/cogs/downloader/downloader.py
  redbot/cogs/economy/economy.py
  redbot/cogs/filter/filter.py
  redbot/cogs/image/image.py
  redbot/cogs/mod/abc.py
  redbot/cogs/mod/kickban.py
  redbot/cogs/mod/mod.py
  redbot/cogs/mod/names.py
  redbot/cogs/mod/settings.py
  redbot/cogs/mod/slowmode.py
  redbot/cogs/modlog/modlog.py
  redbot/cogs/mutes/abc.py
  redbot/cogs/mutes/mutes.py
  redbot/cogs/mutes/voicemutes.py
  redbot/cogs/permissions/permissions.py
  redbot/cogs/reports/reports.py
  redbot/cogs/streams/streams.py
  redbot/cogs/trivia/trivia.py
  redbot/cogs/warnings/helpers.py
  redbot/cogs/warnings/warnings.py
  redbot/core/bank.py
  redbot/core/checks.py
  redbot/core/cog_manager.py
  redbot/core/commands/commands.py
  redbot/core/commands/context.py
  redbot/core/commands/converter.py
  redbot/core/core_commands.py
  redbot/core/dev_commands.py
Labels: Type: Enhancement, Category: Core - API - Config, Category: Cogs - Permissions, Category: Core - API - Commands Package, Category: Cogs - Streams, Category: Core - Modlog, Category: Core - API - Bank, Category: Cogs - Mod, Category: Cogs - Downloader, Category: Cogs - Alias, Category: Cogs - CustomCommands, Category: Cogs - Mutes, Category: Cogs - Warnings, Category: Cogs - Trivia, Category: Cogs - Admin, Category: Cogs - Cleanup, Category: Cogs - Filter, Category: Cogs - Image, Category: Cogs - Economy, Category: Cogs - Modlog, Category: Cogs - Reports, Category: Cogs - Dev, Category: Docs - For Developers, Category: Core - API - Other, Category: Core - Bot Commands

#5698 Improve performance of pagify()
  docs/framework_utils.rst
  redbot/core/utils/chat_formatting.py
  tests/core/test_utils.py
Labels: Category: Docs - Other, Type: Optimisation, Category: Core - API - Utils Package

#6016 Remove deprecated checks in checks module
  redbot/core/checks.py
Labels: Breaking Change, Type: Removal, Category: Core - API - Commands Package

#6015 Add global checks to app commands
  redbot/core/bot.py
  redbot/core/tree.py
Labels: Type: Enhancement, High Priority, Category: Core - API - Other, Category: Core - Bot Class

#6018 Allow force enabling app commands using flag in extras
  docs/cog_guides/core.rst
  redbot/core/bot.py
  redbot/core/core_commands.py
  redbot/core/tree.py
Labels: Type: Feature, High Priority, Category: Core - API - Other, Category: Core - Bot Class, Category: Core - Bot Commands

#5843 Show source code in tracebacks sent by Dev cog commands
  .github/labeler.yml
  redbot/core/dev_commands.py
  tests/core/test_dev_commands.py
Labels: Type: Enhancement, Category: Meta, Category: Cogs - Dev

#6019 Fix missing app_commands import
  redbot/core/bot.py
Labels: Type: Bug, Changelog Entry: Skipped, Category: Core - Bot Class

#5570 Dispatch a cog unload event [on_cog_remove]
  redbot/core/bot.py
Labels: Type: Enhancement, Category: Core - Bot Class

#6012 Switch the Publish Release workflow to use OpenID Connect
  .github/workflows/publish_release.yml
Labels: Type: Enhancement, Category: CI, Changelog Entry: Skipped

#5354 [Help] Optimisation on getting commands in Cog-help
  redbot/core/commands/help.py
Labels: Breaking Change, Type: Optimisation, Category: Core - Help

#5969 Add public `positive_int` and `finite_float` converters
  redbot/cogs/cleanup/cleanup.py
  redbot/cogs/cleanup/converters.py
  redbot/cogs/economy/converters.py
  redbot/cogs/economy/economy.py
  redbot/core/cog_manager.py
  redbot/core/commands/__init__.py
  redbot/core/commands/converter.py
  redbot/core/events.py
Labels: Category: Core - API - Commands Package, Category: Cogs - Cleanup, Category: Cogs - Economy, Category: Core - API - Other, Category: Core - Other Internals

#6025 [Audio] Don't escape formatting on Playlist Enqueued message
  redbot/cogs/audio/core/utilities/player.py
Labels: Category: Cogs - Audio

#6029 Fix wrong extract location in Publish Release workflow
  .github/workflows/publish_release.yml
Labels: Type: Bug, Release Blocker, Category: CI, Changelog Entry: Skipped

#6030 Bump Red-Lavalink to stable 0.11.0
  requirements/base.in
  requirements/base.txt
Labels: Type: Dependency Update, Release Blocker, Changelog Entry: Skipped, Category: Meta

#6032 [3.4] Add Lavalink version parsing (#5872)
  redbot/cogs/audio/core/commands/audioset.py
  redbot/cogs/audio/manager.py
Labels: Type: Enhancement, Category: Cogs - Audio

#6033 [Audio] Update Lavalink.jar build
  redbot/cogs/audio/manager.py
Labels: Type: Bug, Type: Dependency Update, Needs Backport To 3.4, Category: Cogs - Audio

#6046 [3.4] Improve validation in trivia (#5947)
  redbot/cogs/trivia/schema.py
  redbot/cogs/trivia/trivia.py
  tests/cogs/test_trivia.py
Labels: Type: Enhancement

#6071 [3.4] Add `brew shellenv` to shell profile in macOS install guide (#5993)
  docs/install_guides/mac.rst
Labels: Type: Bug

#6073 [3.4] docs: fix typos (#5989)
  docs/cog_guides/alias.rst
  docs/cog_guides/cog_manager_ui.rst
  docs/cog_guides/core.rst
  docs/framework_config.rst
  docs/getting_started.rst
  docs/install_guides/windows.rst
  docs/prolog.txt
  redbot/cogs/alias/alias.py
  redbot/cogs/audio/core/utilities/playlists.py
  redbot/cogs/mod/names.py
  redbot/cogs/mutes/converters.py
  redbot/cogs/mutes/mutes.py
  redbot/cogs/reports/reports.py
  redbot/cogs/streams/streams.py
  redbot/cogs/streams/streamtypes.py
  redbot/cogs/trivia/trivia.py
  redbot/core/_diagnoser.py
  redbot/core/bot.py
  redbot/core/commands/help.py
  redbot/core/core_commands.py
  redbot/core/rpc.py
  redbot/core/settings_caches.py
  redbot/core/utils/tunnel.py
  redbot/vendored/discord/ext/menus/__init__.py
  tests/core/test_utils.py
Labels: Type: Bug

#6074 [3.4] Improve topography trivia (#5572)
  redbot/cogs/trivia/data/lists/worldcapitals.yaml
  redbot/cogs/trivia/data/lists/worldflags.yaml
  redbot/cogs/trivia/data/lists/worldmap.yaml
Labels: Type: Bug

#6076 [3.4] [Modlog] Make `modlogset cases` docstring less vague (#5352)
  docs/cog_guides/modlog.rst
  redbot/cogs/modlog/modlog.py
Labels: Type: Enhancement

#6078 [3.4] Improve changelog format (#5602)
  CHANGES.rst
  docs/changelog.rst
  docs/changelog_3_1_0.rst
  docs/changelog_3_2_0.rst
  docs/changelog_3_3_0.rst
  docs/changelog_3_4_0.rst
  docs/conf.py
  docs/index.rst
  docs/release_notes_3_2_0.rst
Labels: Type: Enhancement

#6079 Use the contributor list URL instead of the org in [p]info
  redbot/core/core_commands.py
Labels: Type: Enhancement, Needs Backport To 3.4, Category: Core - Bot Commands

#6084 Add require_var_positional=True to `[p]selfroleset add/remove`
  redbot/cogs/admin/admin.py
Labels: Type: Bug, Needs Backport To 3.4, Category: Cogs - Admin

#6082 Red 3.4.19 - Changelog
  CHANGES.rst
  docs/autostart_windows.rst
Labels: Type: Feature, Changelog Entry: Skipped, Category: Docs - Changelogs, Category: Docs - Install Guides, Docs-only

#6089 Stop manually adding category to automated PRs
  .github/workflows/prepare_release.yml
Labels: Type: Bug, Needs Backport To 3.4, Category: CI, Changelog Entry: Skipped

#5955 [Trivia] Fix string interpolation in test errors
  tests/cogs/test_trivia.py
Labels: Type: Bug, Category: Cogs - Trivia

#6094 Suppress importlib 3.12 warning about load_module
  redbot/__init__.py
Labels: Type: Bug, Release Blocker, Category: Core - API - Other

#6098 Bump platformdirs to 3.x and remove the migration code for 2.x
  redbot/core/data_manager.py
  requirements/base.txt
Labels: Type: Dependency Update, Release Blocker, Changelog Entry: Skipped, Category: Meta, Category: Core - API - Other

#6103 Fix AttributeError from slash command tree
  redbot/core/tree.py
Labels: Type: Bug, Changelog Entry: Skipped, Category: Core - API - Other

#6008 Add guide for slash commands
  .github/labeler.yml
  docs/guide_slash_and_interactions.rst
  docs/index.rst
Labels: Category: Docs - Other, Type: Feature, Category: Meta

#6104 Fix help breaking when removing a command without removing its cog
  redbot/core/commands/help.py
Labels: Type: Bug, Release Blocker, Category: Core - Help, Changelog Entry: Skipped
