Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2023-12, with the labels that each got.

#4803 [Trivia] Add Doom trivia
  redbot/cogs/trivia/data/lists/doom.yaml
Labels: Category: Cogs - Trivia - Lists, Type: Feature

#5420 Detect git authentication failure
  redbot/cogs/downloader/downloader.py
  redbot/cogs/downloader/errors.py
  redbot/cogs/downloader/repo_manager.py
Labels: Type: Enhancement, Category: Cogs - Downloader

#5970 [modlog] Use new audit log event
  redbot/core/modlog.py
Labels: Type: Optimisation, Category: Core - Modlog

#6280 [Audio] Fix attachment suffix reading on playlist upload w/ urllib
  redbot/cogs/audio/core/commands/playlists.py
Labels: Type: Bug, Category: Cogs - Audio
