Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2023-05, with the labels that each got.

#6099 Reformat with Black 2023 formatting changes
  .git-blame-ignore-revs
  pyproject.toml
  redbot/cogs/downloader/repo_manager.py
  redbot/cogs/economy/economy.py
  redbot/cogs/streams/streamtypes.py
  redbot/cogs/trivia/session.py
  redbot/core/_drivers/postgres/postgres.py
  redbot/core/commands/help.py
  redbot/core/utils/__init__.py
  requirements/extra-style.txt
Labels: Type: Dependency Update, Category: Core - API - Config, Category: Cogs - Streams, Category: Cogs - Downloader, Category: Core - Help, Category: Core - API - Utils Package, Category: Cogs - Trivia, Category: Meta, Category: Cogs - Economy

#6107 Add checks submodule to redbot.core.app_commands
  redbot/core/app_commands/__init__.py
  redbot/core/app_commands/checks.py
  tests/core/test_app_commands.py
Labels: Type: Bug, Changelog Entry: Skipped, Category: Core - API - App Commands Package

#6108 Make it possible to set slowmode in stage/voice channels
  redbot/cogs/mod/slowmode.py
Labels: Type: Bug, Category: Cogs - Mod, Changelog Entry: Skipped

#5603 Add Incompatible changes document
  .github/labeler.yml
  docs/incompatible_changes/3.5.rst
  docs/incompatible_changes/_includes/preamble.rst
  docs/incompatible_changes/future.rst
  docs/incompatible_changes/index.rst
  docs/index.rst
  docs/version_guarantees.rst
Labels: Category: Docs - Other, Type: Feature, High Priority, Category: Meta

#6109 Port TiV changes applied to voice channels to stage channels
  docs/cog_guides/core.rst
  docs/cog_guides/filter.rst
  docs/cog_permissions.rst
  docs/incompatible_changes/3.5.rst
  redbot/cogs/admin/admin.py
  redbot/cogs/audio/core/abc.py
  redbot/cogs/audio/core/utilities/miscellaneous.py
  redbot/cogs/audio/core/utilities/validation.py
  redbot/cogs/cleanup/cleanup.py
  redbot/cogs/filter/filter.py
  redbot/cogs/mutes/mutes.py
  redbot/cogs/permissions/permissions.py
  redbot/cogs/reports/reports.py
  redbot/cogs/streams/streams.py
  redbot/cogs/trivia/trivia.py
  redbot/cogs/warnings/warnings.py
  redbot/core/_diagnoser.py
  redbot/core/_settings_caches.py
  redbot/core/bot.py
  redbot/core/commands/context.py
  redbot/core/commands/help.py
  redbot/core/commands/requires.py
  redbot/core/core_commands.py
  redbot/core/modlog.py
  redbot/core/utils/__init__.py
  redbot/core/utils/mod.py
  redbot/core/utils/predicates.py
  redbot/core/utils/tunnel.py
Labels: Type: Bug, Type: Enhancement, Breaking Change, Category: Cogs - Permissions, Category: Core - API - Commands Package, Category: Cogs - Audio, Category: Cogs - Streams, Category: Core - Modlog, Category: Core - Help, Category: Core - API - Utils Package, Category: Cogs - Mutes, Category: Cogs - Warnings, Category: Cogs - Trivia, Category: Cogs - Admin, Category: Cogs - Cleanup, Category: Cogs - Filter, Category: Cogs - Reports, Category: Docs - Changelogs, Category: Core - Bot Class, Category: Core - Bot Commands, Category: Core - Other Internals

#6110 Drop Debian (not RPi OS) 10, add Fedora 38 and Ubuntu 23.04
  docs/install_guides/debian-10.rst
  docs/install_guides/index.rst
  docs/version_guarantees.rst
Labels: Category: Docs - Other, Type: Dependency Update, Type: Removal, Category: Docs - Install Guides

#6111 Update exit codes in the autostart doc for Windows
  docs/autostart_windows.rst
Labels: Type: Bug, Changelog Entry: Skipped, Category: Docs - Install Guides, Docs-only

#6112 Fix shutdown handling failing when exit code is not ExitCodes instance
  redbot/__main__.py
Labels: Type: Bug, Changelog Entry: Skipped, Category: Core - Command-line Interfaces

#6100 Bump dependencies
  requirements/base.txt
  requirements/extra-doc.txt
  requirements/extra-test.txt
Labels: Type: Dependency Update, Category: Meta

#6113 Remove unused ConversionFailure
  redbot/core/commands/commands.py
  redbot/core/commands/errors.py
Labels: Type: Removal, Category: Core - API - Commands Package

#6117 Fix broken links to d.py's docs pages
  docs/guide_migration.rst
  docs/incompatible_changes/3.5.rst
Labels: Type: Bug, Changelog Entry: Skipped, Category: Docs - Changelogs, Category: Docs - For Developers, Docs-only

#6106 Red 3.5.0 - Changelog
  CHANGES.rst
  docs/cog_guides/core.rst
  docs/update_red.rst
  redbot/core/commands/converter.py
  redbot/core/core_commands.py
Labels: Type: Feature, Category: Core - API - Commands Package, Changelog Entry: Skipped, Category: Docs - Changelogs, Category: Docs - Install Guides, Category: Core - Bot Commands

#6120 Mention bank cog in Read before updating section for 3.5
  CHANGES.rst
Labels: Type: Bug, Changelog Entry: Skipped, Category: Docs - Changelogs, Docs-only

#6121 Fix issues with channel unmutes for mute data from 3.4.x
  redbot/cogs/mutes/mutes.py
Labels: Type: Bug, Changelog Entry: Skipped, Category: Cogs - Mutes

#6124 Fix ValueError on bot startup when update is available
  redbot/core/_events.py
Labels: Type: Bug, Category: Core - Other Internals

#6123 Include --no-cogs flag in Updating Red document
  docs/update_red.rst
Labels: Type: Bug, Category: Docs - Install Guides, Docs-only

#6125 Red 3.5.1 - Changelog
  CHANGES.rst
Labels: Type: Feature, Category: Docs - Changelogs, Docs-only

#6139 Include vendored menus update for guild attribute
  redbot/vendored/discord/ext/menus/__init__.py
Labels: Type: Bug, Category: Vendored Packages

#6141 Update documentation with x86-64-v2 changes
  CHANGES.rst
  docs/incompatible_changes/3.5.rst
  docs/version_guarantees.rst
Labels: Type: Bug, Category: Docs - Other, Category: Docs - Changelogs, Docs-only

#6131 Fix the bot starting when using --debuginfo
  redbot/__main__.py
Labels: Type: Bug, Category: Core - Command-line Interfaces

#6135 Add snippet numbers to filenames in the Dev cog to fix exception formatting
  redbot/core/dev_commands.py
  tests/core/test_dev_commands.py
Labels: Type: Bug, Category: Cogs - Dev

#6147 Make mentions of x86-64-v2 accurate for AMD
  CHANGES.rst
  docs/incompatible_changes/3.5.rst
  docs/version_guarantees.rst
Labels: Category: Docs - Other, Category: Docs - Changelogs, Docs-only

#6146 Add data_manager.instance_name() public API
  redbot/cogs/audio/core/tasks/lavalink.py
  redbot/core/_debuginfo.py
  redbot/core/data_manager.py
  redbot/core/utils/_internal_utils.py
Labels: Type: Feature, Category: Cogs - Audio, Category: Core - API - Other, Category: Core - Command-line Interfaces, Category: Core - Other Internals

#6148 Address change in behavior of bool(Permissions()) on d.py 2.x
  redbot/cogs/reports/reports.py
Labels: Type: Bug, Category: Cogs - Reports

#6004 Fix `set serverprefix` docstring and update its docs
  docs/cog_guides/core.rst
  redbot/core/core_commands.py
Labels: Type: Bug, Category: Core - Bot Commands, Docs-only

#6144 Fix NoneType error and channelmute saying user is already muted
  redbot/cogs/mutes/mutes.py
Labels: Type: Bug, Category: Cogs - Mutes

#6150 Fix max heapsize calculation on 32-bit platforms
  redbot/cogs/audio/utils.py
Labels: Type: Bug, Category: Cogs - Audio

#6101 Fix visual issues with Discord's new Markdown
  redbot/cogs/cleanup/cleanup.py
  redbot/cogs/customcom/customcom.py
  redbot/cogs/downloader/downloader.py
  redbot/cogs/economy/economy.py
  redbot/cogs/filter/filter.py
  redbot/cogs/mod/kickban.py
  redbot/cogs/mod/settings.py
  redbot/cogs/permissions/permissions.py
  redbot/core/core_commands.py
Labels: Type: Enhancement, Category: Cogs - Permissions, Category: Cogs - Mod, Category: Cogs - Downloader, Category: Cogs - CustomCommands, Category: Cogs - Cleanup, Category: Cogs - Filter, Category: Cogs - Economy, Category: Core - Bot Commands

#6153 Add global prefixes to debuginfo
  redbot/__main__.py
  redbot/core/_debuginfo.py
  redbot/core/core_commands.py
Labels: Type: Enhancement, Category: Core - Bot Commands, Category: Core - Command-line Interfaces

#6149 Use proper Parameter type in CustomCommands cog
  redbot/cogs/customcom/customcom.py
Labels: Type: Bug, Category: Cogs - CustomCommands

#6143 Fix menus passing PartialEmoji instead of str
  redbot/core/utils/menus.py
Labels: Type: Bug, Category: Core - API - Utils Package

#6152 Update bad looking 'diff' code blocks with 'markdown'
  redbot/cogs/downloader/downloader.py
  redbot/cogs/trivia/session.py
Labels: Type: Bug, Category: Cogs - Downloader, Category: Cogs - Trivia

#6155 Bump dependencies
  requirements/base.txt
  requirements/extra-doc.txt
  requirements/extra-test.txt
Labels: Type: Dependency Update, Category: Meta

#6154 Fix interaction docs example code
  docs/conf.py
  docs/guide_slash_and_interactions.rst
Labels: Type: Bug, Category: Meta, Category: Docs - For Developers

#5552 Use a SnowflakeList for Command disable instead of checks
  redbot/core/commands/commands.py
Labels: Type: Enhancement, Type: Optimisation, Category: Core - API - Commands Package
