Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2023-06, with the labels that each got.

#6180 Clarify requirements for delisting an approved cog
  docs/guide_cog_creators.rst
Labels: Type: Enhancement, Category: Docs - For Developers, Docs-only

#6184 Use backtracking resolver in pip-compile
  .github/workflows/scripts/compile_requirements.py
Labels: Type: Enhancement, QA: Bypassed, Category: CI, Changelog Entry: Skipped

#6130 d.py 2.3 / pomelo changes
  docs/cog_guides/mod.rst
  redbot/cogs/admin/admin.py
  redbot/cogs/audio/converters.py
  redbot/cogs/audio/core/commands/miscellaneous.py
  redbot/cogs/audio/core/events/dpy.py
  redbot/cogs/cleanup/cleanup.py
  redbot/cogs/economy/economy.py
  redbot/cogs/general/general.py
  redbot/cogs/mod/events.py
  redbot/cogs/mod/kickban.py
  redbot/cogs/mod/mod.py
  redbot/cogs/mod/names.py
  redbot/cogs/mod/settings.py
  redbot/cogs/trivia/session.py
  redbot/core/_events.py
  redbot/core/bot.py
  redbot/core/core_commands.py
  redbot/core/modlog.py
  redbot/core/utils/tunnel.py
  requirements/base.txt
Labels: Type: Dependency Update, Category: Cogs - Audio, Category: Core - Modlog, Category: Cogs - Mod, Category: Core - API - Utils Package, Category: Cogs - Trivia, Category: Cogs - Admin, Category: Meta, Category: Cogs - Cleanup, Category: Cogs - Economy, Category: Cogs - General, Category: Core - Bot Class, Category: Core - Bot Commands, Category: Core - Other Internals

#6189 Drop Fedora 36, RHEL 8.4, Ubuntu 18.04 + extras
  docs/install_guides/_includes/install-guide-rhel8-derivatives.rst
  docs/install_guides/_includes/install-guide-rhel9-derivatives.rst
  docs/install_guides/_includes/install-python-pyenv.rst
  docs/install_guides/_includes/install-python310-pyenv.rst
  docs/install_guides/_includes/install-python39-pyenv.rst
  docs/install_guides/alma-linux-8.rst
  docs/install_guides/fedora.rst
  docs/install_guides/index.rst
  docs/install_guides/oracle-linux-8.rst
  docs/install_guides/rhel-8.rst
  docs/install_guides/rocky-linux-8.rst
  docs/install_guides/ubuntu-1804.rst
  docs/version_guarantees.rst
Labels: Category: Docs - Other, Type: Dependency Update, Category: Docs - Install Guides, Docs-only

#6170 Fix NUMBER_EMOJIS breakages inside Audio
  redbot/cogs/audio/core/utilities/playlists.py
Labels: Type: Bug, Category: Cogs - Audio

#5629 Add an option to auto-use default HTTP(S) port for Lavalink
  docs/cog_guides/audio.rst
  redbot/cogs/audio/core/commands/llset.py
Labels: Type: Enhancement, Category: Cogs - Audio

#6167 Shorten max page size in `[p]slash list` to account for box size
  redbot/core/core_commands.py
Labels: Type: Bug, Category: Core - Bot Commands

#5941 Handle empty name case when splitting description field in help
  redbot/core/commands/help.py
Labels: Type: Bug, QA: Bypassed, Category: Core - Help

#6193 Update Audio terminology in LICENSE
  LICENSE
Labels: Type: Bug, Changelog Entry: Skipped, Category: Meta

#6168 Hide diffs for .po files by default
  .gitattributes
Labels: Type: Enhancement, Changelog Entry: Skipped, Category: Meta

#6166 Clear the view in `[p]set api` after timeout
  redbot/core/core_commands.py
Labels: Type: Enhancement, Category: Core - Bot Commands

#6173 Pass `timeout` to `SimpleMenu`
  redbot/core/utils/menus.py
Labels: Type: Bug, Category: Core - API - Utils Package

#6093 Update the Lavalink version parsing and add tests for it
  .github/labeler.yml
  redbot/cogs/audio/manager.py
  tests/cogs/audio/__init__.py
  tests/cogs/audio/test_manager.py
Labels: Type: Bug, Type: Enhancement, QA: Bypassed, Category: Cogs - Audio, Category: Meta

#6176 Add ConfirmView utility
  docs/framework_utils.rst
  redbot/core/utils/views.py
Labels: Type: Feature, Category: Core - API - Utils Package

#6164 Include command-line arguments in debuginfo
  redbot/core/_debuginfo.py
Labels: Type: Enhancement, Category: Core - Command-line Interfaces

#6178 Handle exception chaining and groups in Dev's traceback handling
  redbot/core/dev_commands.py
  tests/core/test_dev_commands.py
Labels: Type: Bug, Category: Cogs - Dev

#6197 [Cleanup] Fix `[p]cleanup self` inside DMs
  redbot/cogs/cleanup/cleanup.py
Labels: Type: Bug, Category: Cogs - Cleanup
