Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2023-07, with the labels that each got.

#6163 Fix _ValueCtxManager.__await__ typehint
  redbot/core/config.py
Labels: Type: Bug, Category: Core - API - Config

#6202 Ensure bot doesn't indefinitely hang on an exception in on_ready
  redbot/core/_events.py
Labels: Type: Bug, Category: Core - Other Internals

#6203 Fix CancelledError handling in done callbacks of cog init tasks
  redbot/cogs/downloader/downloader.py
  redbot/cogs/mutes/mutes.py
Labels: Type: Bug, Category: Cogs - Downloader, Category: Cogs - Mutes

#6200 Use action='extend' for all multi-argument cli flags
  redbot/core/_cli.py
Labels: Type: Enhancement, Category: Core - Command-line Interfaces

#6185 Bump dependencies
  requirements/base.txt
  requirements/extra-doc.in
  requirements/extra-doc.txt
  requirements/extra-postgres.txt
  requirements/extra-style.txt
  requirements/extra-test.txt
Labels: Type: Dependency Update, Category: Meta

#6207 Add changelog to PyPI project URLs
  pyproject.toml
Labels: Type: Enhancement, Category: Meta

#6209 Improve unreleased Command.is_enabled() and document related methods
  redbot/core/commands/commands.py
Labels: Type: Bug, Type: Enhancement, Release Blocker, Category: Core - API - Commands Package, Changelog Entry: Added

#6206 Include instance name in the instance not found error
  redbot/core/data_manager.py
Labels: Type: Bug, Changelog Entry: Skipped, Category: Core - API - Other

#6210 Red 3.5.3 - Changelog
  CHANGES.rst
  tools/release_helper.py
Labels: Changelog Entry: Skipped, Category: Meta, Category: Docs - Changelogs
