Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2023-09, with the labels that each got.

#6247 [Streams] Switch to Twitch's newer follower endpoint
  redbot/cogs/streams/streamtypes.py
Labels: Category: Cogs - Streams

#6245 fix the discord format in ban, kick and tempban
  redbot/cogs/mod/kickban.py
Labels: Type: Bug, Category: Cogs - Mod, Docs-only

#6238 Fix formatting of nested result lists in `[p]diagnoseissues`
  redbot/core/_diagnoser.py
Labels: Type: Bug, Category: Core - Bot Commands

#6215 Sort cogs alphabetically inside `[p]cog list`
  redbot/cogs/downloader/downloader.py
Labels: Type: Enhancement, Category: Cogs - Downloader

#6237 Fix `[p]diagnoseissues` edge case for commands without a cog
  redbot/core/_diagnoser.py
Labels: Type: Bug, Changelog Entry: Added, Category: Core - Bot Commands

#6248 Bump dependencies
  docs/conf.py
  requirements/base.txt
  requirements/extra-doc.txt
  requirements/extra-style.txt
  requirements/extra-test.txt
Labels: Type: Dependency Update, Changelog Entry: Added, Category: Meta

#6249 Red 3.5.5 - Changelog
  CHANGES.rst
  tools/release_helper.py
Labels: Type: Feature, Changelog Entry: Skipped, Category: Meta, Category: Docs - Changelogs
