Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2023-03, with the labels that each got.

#5565 Add JSON Schema for Trivia Lists
  redbot/cogs/trivia/schema.py
  schema/trivia.schema.json
Labels: Type: Enhancement, Category: Cogs - Trivia, Category: Meta

#5390 Document setting overrides in Trivia list format
  docs/guide_trivia_list_creation.rst
  redbot/cogs/trivia/data/lists/sports.yaml
Labels: Type: Enhancement, Category: Cogs - Trivia - Lists, Category: Cogs - Trivia

#5386 [Modlog]Raise error instead of failing silently on invalid arguments
  redbot/core/modlog.py
  tests/cogs/test_mod.py
Labels: Type: Enhancement, Breaking Change, Category: Core - Modlog, Category: Cogs - Mod

#5865 Always allow licenseinfo to be run with a mention prefix
  redbot/core/bot.py
Labels: Type: Enhancement, Release Blocker, Category: Core - Bot Class

#5996 [Docs] Windows batch autostart docs
  docs/autostart_windows.rst
  docs/index.rst
Labels: Category: Docs - Other, Type: Feature, Category: Docs - Install Guides

#5999 Drop the launcher
  .github/labeler.yml
  pyproject.toml
  redbot/launcher.py
Labels: Breaking Change, Type: Removal, Category: Meta, Category: Core - Command-line Interfaces

#5998 Bump just Discord.py to 2.2.2
  requirements/base.txt
Labels: Type: Dependency Update, Category: Meta

#5992 Application Command Manager
  .github/labeler.yml
  docs/cog_guides/core.rst
  docs/framework_tree.rst
  docs/index.rst
  redbot/cogs/downloader/downloader.py
  redbot/core/bot.py
  redbot/core/core_commands.py
  redbot/core/tree.py
Labels: Category: Docs - Other, Type: Feature, Release Blocker, Category: Cogs - Downloader, Category: Meta, Category: Core - Bot Class, Category: Core - Bot Commands

#6002 Fix file endings
  docs/autostart_windows.rst
  docs/framework_tree.rst
  redbot/core/tree.py
Labels: Type: Bug, QA: Bypassed, Changelog Entry: Skipped, Category: Docs - Install Guides, Category: Core - API - Other

#6005 Fix the handling of PartialMessageable channels
  redbot/core/bot.py
Labels: Type: Bug, High Priority, Category: Core - Bot Class

#6006 Add redbot.core.app_commands namespace
  .github/labeler.yml
  redbot/core/app_commands/__init__.py
  redbot/core/bot.py
  redbot/core/commands/commands.py
  redbot/core/core_commands.py
  redbot/core/tree.py
  tests/core/test_app_commands.py
  tests/core/test_commands.py
Labels: Type: Enhancement, Category: Core - API - Commands Package, Category: Meta, Category: Core - API - Other, Category: Core - Bot Class, Category: Core - Bot Commands
