Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2023-01, with the labels that each got.

#5944 Change 'Managed' to 'External' in `[p]llset secured`'s output
  redbot/cogs/audio/core/commands/llset.py
Labels: Type: Bug, Category: Audio Cog

#5947 Improve validation in trivia
  redbot/cogs/trivia/schema.py
  redbot/cogs/trivia/trivia.py
  tests/cogs/test_trivia.py
Labels: Type: Enhancement, Category: Tests, Category: Trivia Cog

#5949 Disallow NaN and Infinity in Trivia CONFIG schema
  redbot/cogs/trivia/schema.py
Labels: Type: Bug, QA: Bypassed, Changelog Entry: Skipped, Category: Trivia Cog

#5959 [3.4] Pin tox to <4
  .github/workflows/tests.yml
  tools/dev-requirements.txt
Labels: Category: CI, Category: Meta

#5960 [3.4] Update Python versions in install instructions
  docs/install_guides/_includes/install-python-pyenv.rst
  docs/install_guides/_includes/install-python38-pyenv.rst
  docs/install_guides/windows.rst
Labels: Type: Enhancement, Category: Docs, Needs Backport To stable-docs

#5818 Add missing help descriptions for flags in redbot-setup
  redbot/setup.py
Labels: Type: Bug, Category: Bot Core

#5953 Remove llsetup alias for llset
  docs/changelog_3_4_0.rst
  docs/cog_guides/audio.rst
  redbot/cogs/audio/core/abc.py
  redbot/cogs/audio/core/commands/llset.py
  redbot/cogs/audio/core/events/dpy.py
Labels: Type: Enhancement, Category: Docs, Category: Audio Cog

#5774 Use newer RTD config syntax
  .readthedocs.yml
Labels: Type: Enhancement, Category: Docs, Type: Dependency Update, Category: Meta

#5974 Bump OS version ranges - Fedora to <36, 37>, macOS to <11, 13>
  docs/install_guides/fedora.rst
  docs/version_guarantees.rst
Labels: Category: Docs, Type: Dependency Update, QA: Bypassed

#5602 Improve changelog format
  CHANGES.rst
  docs/changelog.rst
  docs/changelog_3_1_0.rst
  docs/changelog_3_2_0.rst
  docs/changelog_3_3_0.rst
  docs/changelog_3_4_0.rst
  docs/conf.py
  docs/index.rst
  docs/release_notes_3_2_0.rst
Labels: Type: Enhancement, Category: Docs

#5973 [Core] fix error in `[p]ignore list`
  redbot/core/core_commands.py
Labels: Type: Bug, Category: Bot Core

#5813 Fallback to asyncio's default exception handler when possible
  redbot/__main__.py
Labels: Type: Bug, Category: Bot Core
