Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2024-07, with the labels that each got.

#6388 Docs: remove Atom from the list of recommended editors
  docs/guide_cog_creation.rst
Labels: Category: Docs - For Developers, Docs-only

#6382 Fix info.json keys in approved CC guide
  docs/guide_cog_creators.rst
Labels: Type: Bug, Category: Docs - For Developers, Docs-only

#6373 Use YouTube source plugin over the deprecated built-in source
  redbot/cogs/audio/core/commands/audioset.py
  redbot/cogs/audio/manager.py
Labels: Type: Enhancement, Category: Cogs - Audio

#6401 Bump d.py version to 2.4.0
  docs/cog_guides/core.rst
  redbot/__main__.py
  redbot/cogs/audio/core/events/dpy.py
  redbot/cogs/filter/filter.py
  redbot/core/_cli.py
  redbot/core/app_commands/__init__.py
  redbot/core/bot.py
  redbot/core/core_commands.py
  requirements/base.txt
Labels: Type: Enhancement, Type: Feature, Type: Dependency Update, Release Blocker, Category: Cogs - Audio, Category: Meta, Category: Cogs - Filter, Category: Core - Bot Class, Category: Core - Bot Commands, Category: Core - Command-line Interfaces, Category: Core - API - App Commands Package

#6398 Fix `@commands.can_manage_channel` always passing
  redbot/core/commands/requires.py
Labels: Type: Bug, Release Blocker, Category: Core - API - Commands Package, Changelog Entry: Added

#6402 Bump dependencies
  requirements/base.txt
  requirements/extra-doc.txt
  requirements/extra-test.txt
  tests/core/test_version.py
Labels: Type: Dependency Update, Changelog Entry: Added, Category: Meta, Category: Core - API - Other

#6403 Red 3.5.10 - Changelog
  CHANGES.rst
  docs/conf.py
Labels: Type: Feature, Changelog Entry: Skipped, Category: Meta, Category: Docs - Changelogs

#6408 Use PEP 508's req @ url syntax instead of deprecated egg fragments
  .github/workflows/lint_python.yaml
  docs/guide_cog_creation.rst
Labels: Type: Bug, Category: CI, Category: Docs - For Developers

#6397 [RedTree] add `UserFeedbackCheckFailure` for `app_commands`
  .github/labeler.yml
  docs/framework_app_commands.rst
  docs/framework_commands.rst
  docs/index.rst
  redbot/core/app_commands/__init__.py
  redbot/core/app_commands/errors.py
  redbot/core/tree.py
Labels: Category: Docs - Other, Type: Feature, Category: Core - API - Commands Package, Category: Meta, Category: Core - API - Other, Category: Core - API - App Commands Package

#6304 Allow SimpleMenu to delete ephemeral responses
  redbot/core/utils/views.py
Labels: Category: Core - API - Utils Package

#6413 Get viewer count from stream data instead of user profile data
  redbot/cogs/streams/streamtypes.py
Labels: Type: Enhancement, Category: Cogs - Streams
