Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2024-01, with the labels that each got.

#4972 [Help] Allow prefix formatting in taglines
  docs/cog_guides/core.rst
  redbot/core/commands/help.py
  redbot/core/core_commands.py
Labels: Type: Enhancement, Category: Core - Help, Category: Core - Bot Commands

#6283 Humanize number fix
  redbot/cogs/audio/core/commands/audioset.py
  redbot/cogs/cleanup/cleanup.py
  redbot/cogs/general/general.py
  redbot/cogs/trivia/converters.py
  redbot/cogs/trivia/session.py
  redbot/core/utils/chat_formatting.py
Labels: Type: Bug, Category: Cogs - Audio, Category: Core - API - Utils Package, Category: Cogs - Trivia, Category: Cogs - Cleanup, Category: Cogs - General

#6285 Fix spelling mistake in [p]slash sync error
  redbot/core/core_commands.py
Labels: Type: Bug, Category: Core - Bot Commands

#4656 [Alias] Aliased commands retain newlines
  redbot/cogs/alias/alias.py
  redbot/cogs/alias/alias_entry.py
  redbot/pytest/core.py
  tests/cogs/test_alias.py
Labels: Type: Bug, Category: Cogs - Alias, Category: Core - Other Internals

#6286 Add a start_dm option to SimpleMenu
  redbot/core/utils/views.py
Labels: Type: Enhancement, Category: Core - API - Utils Package

#5375 [Help] Send menus to dm if maxpages is 0
  docs/cog_guides/core.rst
  redbot/core/commands/help.py
  redbot/core/core_commands.py
Labels: Type: Feature, Category: Core - Help, Category: Core - Bot Commands
