Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2024-09, with the labels that each got.

#6102 Add `header`, `hyperlink` and `subtext` utilities
  redbot/core/utils/chat_formatting.py
Labels: Type: Feature, Status: Accepted, Category: Core - API - Utils Package

#6444 Fix `header` utility docstring
  redbot/core/utils/chat_formatting.py
Labels: Category: Core - API - Utils Package, Docs-only

#6443 [Downloader] Support `[botname]` substitutions in cog install messages
  redbot/cogs/downloader/downloader.py
Labels: Type: Enhancement, Category: Cogs - Downloader

#6410 Update docs vars to work with RTD changes
  docs/_templates/layout.html
  docs/conf.py
Labels: Type: Bug, Category: Meta

#6451 Fix release helper subcommands
  tools/release_helper.py
Labels: Type: Bug, Changelog Entry: Skipped, Category: Meta
