Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2024-08, with the labels that each got.

#6416 Set ProcessType in macOS auto-restart service to 'interactive'
  docs/autostart_mac.rst
Labels: Type: Enhancement, Category: Docs - Install Guides, Docs-only

#6412 Forcefully shutdown RPC to prevent hangs
  redbot/core/_rpc.py
Labels: Type: Bug, Category: Core - RPC/ZMQ

#6415 Bump YT source plugin version to 1.5.1 and add custom plugin config
  redbot/cogs/audio/manager.py
  redbot/cogs/audio/utils.py
Labels: Type: Bug, Type: Dependency Update, Category: Cogs - Audio

#6411 Fix unmuting when a mod isn't a mod anymore.
  redbot/cogs/mutes/mutes.py
Labels: Type: Bug, Category: Cogs - Mutes

#6417 Bump dependencies
  requirements/base.in
  requirements/base.txt
  requirements/extra-doc.txt
  requirements/extra-test.txt
Labels: Type: Dependency Update, Changelog Entry: Added, Category: Meta

#6418 Red 3.5.11 - Changelog
  CHANGES.rst
Labels: Type: Feature, Changelog Entry: Skipped, Category: Docs - Changelogs, Docs-only

#6423 [Audio] Fix llset secured
  redbot/cogs/audio/core/commands/llset.py
Labels: Category: Cogs - Audio

#6424 [Audio] Update yt source version
  redbot/cogs/audio/manager.py
Labels: Type: Dependency Update, Category: Cogs - Audio

#6425 Red 3.5.12 - Changelog
  CHANGES.rst
Labels: Type: Feature, Changelog Entry: Skipped, Category: Docs - Changelogs, Docs-only

#6434 [Trivia] Correct Stephen to Steven
  redbot/cogs/trivia/data/lists/entertainment.yaml
Labels: Category: Cogs - Trivia - Lists

#6435 [Audio] Update Lavalink.jar and yt source build numbers
  redbot/cogs/audio/managed_node/version_pins.py
Labels: Type: Dependency Update, Category: Cogs - Audio

#6429 [Audio] Fix trying to send notify message with no channel object
  redbot/cogs/audio/core/events/cog.py
Labels: Type: Bug, Category: Cogs - Audio

#6436 Bump dependencies
  requirements/base.txt
  requirements/extra-doc.txt
  requirements/extra-test.txt
Labels: Type: Dependency Update, Category: Meta

#6437 Red 3.5.13 - Changelog
  CHANGES.rst
Labels: Type: Feature, Changelog Entry: Skipped, Category: Docs - Changelogs, Docs-only

#6441 [Trivia] Correct typos in World Cup trivia list for Golden Glove questions
  redbot/cogs/trivia/data/lists/worldcup.yaml
Labels: Type: Enhancement, Category: Cogs - Trivia - Lists

#6440 Split out non-Python assets in Publish Release workflow
  .github/workflows/publish_release.yml
Labels: Release Blocker, Category: CI
