Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2024-03, with the labels that each got.

#6269 [General] Update lmgtfy to our own fork of NatoBoram/lmgtfy
  redbot/cogs/general/general.py
Labels: Type: Enhancement, Category: Cogs - General

#6300 Update ModLog to include info about `[p]modlogset`
  docs/cog_guides/modlog.rst
  redbot/cogs/modlog/modlog.py
Labels: Type: Enhancement, Category: Cogs - Modlog, Docs-only

#6309 Update install guides with new OS support matrix
  docs/install_guides/_includes/install-python310-pyenv.rst
  docs/install_guides/arch.rst
  docs/install_guides/fedora.rst
  docs/install_guides/index.rst
  docs/install_guides/opensuse-leap-15.rst
  docs/install_guides/raspberry-pi-os-10.rst
  docs/install_guides/raspberry-pi-os-11.rst
  docs/install_guides/raspberry-pi-os-12.rst
  docs/version_guarantees.rst
Labels: Category: Docs - Other, Type: Dependency Update, Category: Docs - Install Guides, Docs-only

#6310 Remove traceback suppression from buttonized menu()
  redbot/core/utils/menus.py
Labels: Type: Bug, Category: Core - API - Utils Package

#6311 Add explicit mention of word 'provisional' for version guarantee exclusions
  CHANGES.rst
  docs/framework_commands.rst
  docs/framework_rpc.rst
  docs/version_guarantees.rst
  redbot/core/_rpc.py
  redbot/core/bot.py
  redbot/core/commands/commands.py
  redbot/core/commands/converter.py
  redbot/core/commands/help.py
Labels: Type: Enhancement, Category: Docs - Other, Category: Core - API - Commands Package, Category: Core - Help, Category: Core - RPC/ZMQ, Category: Docs - Changelogs, Category: Core - Bot Class

#6270 Fix editrole color
  redbot/cogs/admin/admin.py
Labels: Type: Bug, Category: Cogs - Admin

#6298 Add note to refresh client after syncing slash commands
  docs/guide_slash_and_interactions.rst
Labels: Type: Enhancement, Category: Docs - For Developers, Docs-only

#4913 Add user param to menu()
  redbot/core/commands/help.py
  redbot/core/utils/menus.py
  redbot/core/utils/views.py
Labels: Type: Enhancement, Category: Core - Help, Category: Core - API - Utils Package

#6305 [Audio] Update Lavalink.jar build
  redbot/cogs/audio/manager.py
Labels: Type: Bug, Type: Dependency Update, Category: Cogs - Audio

#6312 Bump dependencies
  .github/workflows/run_pip_compile.yaml
  .github/workflows/scripts/compile_requirements.py
  .github/workflows/scripts/merge_requirements.py
  requirements/base.in
  requirements/base.txt
  requirements/extra-doc.txt
  requirements/extra-postgres.txt
  requirements/extra-style.txt
  requirements/extra-test.in
  requirements/extra-test.txt
Labels: Type: Dependency Update, Category: CI, Category: Meta

#6313 Update Crowdin CLI to v3
  .github/workflows/crowdin_upload_strings.yml
  .github/workflows/prepare_release.yml
  crowdin.yml
Labels: Category: CI, Category: Meta

#6314 Red 3.5.6 - Changelog
  CHANGES.rst
Labels: Type: Feature, Changelog Entry: Skipped, Category: Docs - Changelogs, Docs-only

#6316 Fix missing Crowdin CLI bump for Prepare Release workflow
  .github/workflows/prepare_release.yml
Labels: Type: Bug, Category: CI, Changelog Entry: Skipped

#6320 Fix release helper not considering workflow status
  tools/release_helper.py
Labels: Type: Bug, Category: Meta

#6324 Fix behavior of the menu() function calls without user param
  CHANGES.rst
  redbot/core/utils/menus.py
  redbot/core/utils/views.py
Labels: Type: Bug, Category: Core - API - Utils Package, Changelog Entry: Added, Category: Docs - Changelogs

#6323 Update image formats listed as supported by `set bot avatar`
  redbot/core/core_commands.py
Labels: Type: Bug, Changelog Entry: Added, Category: Core - Bot Commands

#6325 Red 3.5.7 - Changelog
  CHANGES.rst
Labels: Type: Feature, Changelog Entry: Skipped, Category: Docs - Changelogs, Docs-only

#6330 Ask for confirmation when path passed to addpath seems incorrect
  docs/guide_cog_creation.rst
  redbot/core/_cog_manager.py
Labels: Type: Enhancement, Category: Docs - For Developers, Category: Core - Other Internals

#6331 Add Amazon Linux 2023 install guide
  docs/install_guides/amazon-linux-2023.rst
  docs/install_guides/index.rst
  docs/version_guarantees.rst
Labels: Category: Docs - Other, Type: Feature, Category: Docs - Install Guides, Docs-only

#6333 Bump dependencies
  requirements/base.txt
  requirements/extra-style.in
  requirements/extra-test.txt
Labels: Type: Dependency Update, Category: Meta

#5897 Implement `[p]trivia info` and add `DESCRIPTION` to trivia schema
  docs/cog_guides/trivia.rst
  docs/guide_trivia_list_creation.rst
  redbot/cogs/trivia/data/lists/2015.yaml
  redbot/cogs/trivia/data/lists/2016.yaml
  redbot/cogs/trivia/data/lists/anime.yaml
  redbot/cogs/trivia/data/lists/artandliterature.yaml
  redbot/cogs/trivia/data/lists/boombeach.yaml
  redbot/cogs/trivia/data/lists/cars.yaml
  redbot/cogs/trivia/data/lists/clashroyale.yaml
  redbot/cogs/trivia/data/lists/computers.yaml
  redbot/cogs/trivia/data/lists/disney.yaml
  redbot/cogs/trivia/data/lists/doom.yaml
  redbot/cogs/trivia/data/lists/dota2abilities.yaml
  redbot/cogs/trivia/data/lists/dota2items.yaml
  redbot/cogs/trivia/data/lists/elements.yaml
  redbot/cogs/trivia/data/lists/entertainment.yaml
  redbot/cogs/trivia/data/lists/finalfantasy.yaml
  redbot/cogs/trivia/data/lists/gameofthrones.yaml
  redbot/cogs/trivia/data/lists/games.yaml
  redbot/cogs/trivia/data/lists/general.yaml
  redbot/cogs/trivia/data/lists/geography.yaml
  redbot/cogs/trivia/data/lists/greekmyth.yaml
  redbot/cogs/trivia/data/lists/harrypotter.yaml
  redbot/cogs/trivia/data/lists/hockey.yaml
  redbot/cogs/trivia/data/lists/leagueoflegends.yaml
  redbot/cogs/trivia/data/lists/leagueults.yaml
  redbot/cogs/trivia/data/lists/lotr.yaml
  redbot/cogs/trivia/data/lists/michaeljackson.yaml
  redbot/cogs/trivia/data/lists/mlb.yaml
  redbot/cogs/trivia/data/lists/music.yaml
  redbot/cogs/trivia/data/lists/nba.yaml
  redbot/cogs/trivia/data/lists/overwatch.yaml
  redbot/cogs/trivia/data/lists/pokemon.yaml
  redbot/cogs/trivia/data/lists/prince.yaml
  redbot/cogs/trivia/data/lists/r6siege.yaml
  redbot/cogs/trivia/data/lists/slogans.yaml
  redbot/cogs/trivia/data/lists/sports.yaml
  redbot/cogs/trivia/data/lists/startrek.yaml
  redbot/cogs/trivia/data/lists/starwars.yaml
  redbot/cogs/trivia/data/lists/uscapitals.yaml
  redbot/cogs/trivia/data/lists/usflags.yaml
  redbot/cogs/trivia/data/lists/usmap.yaml
  redbot/cogs/trivia/data/lists/usstateabbreviations.yaml
  redbot/cogs/trivia/data/lists/warcraft.yaml
  redbot/cogs/trivia/data/lists/whosthatpokemon.yaml
  redbot/cogs/trivia/data/lists/whosthatpokemon2.yaml
  redbot/cogs/trivia/data/lists/whosthatpokemon3.yaml
  redbot/cogs/trivia/data/lists/whosthatpokemon4.yaml
  redbot/cogs/trivia/data/lists/whosthatpokemon5.yaml
  redbot/cogs/trivia/data/lists/whosthatpokemon6.yaml
  redbot/cogs/trivia/data/lists/whosthatpokemon7.yaml
  redbot/cogs/trivia/data/lists/whosthatpokemon8.yaml
  redbot/cogs/trivia/data/lists/worldcapitals.yaml
  redbot/cogs/trivia/data/lists/worldcup.yaml
  redbot/cogs/trivia/data/lists/worldflags.yaml
  redbot/cogs/trivia/data/lists/worldmap.yaml
  redbot/cogs/trivia/schema.py
  redbot/cogs/trivia/trivia.py
  schema/trivia.schema.json
Labels: Type: Enhancement, Category: Cogs - Trivia - Lists, Category: Cogs - Trivia, Category: Meta

#6334 Update LL version stringification and make parsing stricter
  redbot/cogs/audio/manager.py
  tests/cogs/audio/test_manager.py
Labels: Type: Bug, Type: Enhancement, Release Blocker, Category: Cogs - Audio, Changelog Entry: Added
