Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2025-01, with the labels that each got.

#6495 Add subnet masks in CIDR notation as answers to computers trivia
  redbot/cogs/trivia/data/lists/computers.yaml
Labels: Type: Enhancement, Category: Cogs - Trivia - Lists

#6504 A lot of actions bumping,
  .github/workflows/check_label_pattern_exhaustiveness.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/crowdin_upload_strings.yml
  .github/workflows/lint_python.yaml
  .github/workflows/prepare_release.yml
  .github/workflows/publish_release.yml
  .github/workflows/run_pip_compile.yaml
  .github/workflows/tests.yml
Labels: High Priority, Type: Dependency Update, Category: CI

#6500 Single-source supported Java versions in Audio code
  redbot/cogs/audio/core/commands/llset.py
  redbot/cogs/audio/core/events/dpy.py
  redbot/cogs/audio/managed_node/__init__.py
  redbot/cogs/audio/managed_node/version_pins.py
  redbot/cogs/audio/manager.py
Labels: Type: Enhancement, Category: Cogs - Audio, Changelog Entry: Skipped

#6507 Add explicit Sphinx config to .readthedocs.yml
  .readthedocs.yml
Labels: Type: Bug, Changelog Entry: Skipped

#6024 Split public and private config/driver APIs
  .github/labeler.yml
  redbot/core/_config.py
  redbot/core/_drivers/__init__.py
  redbot/core/_events.py
  redbot/core/config.py
  redbot/setup.py
Labels: Type: Enhancement, Category: Core - API - Config, Category: Meta, Category: Core - Command-line Interfaces, Category: Core - Other Internals

#6508 Use build.jobs.install to avoid installing unnecessary deps
  .readthedocs.yml
Labels: Type: Optimisation, Changelog Entry: Skipped

#6020 Move private things in modlog and `redbot.core.errors`
  redbot/core/_drivers/_mongo.py
  redbot/core/_drivers/base.py
  redbot/core/_drivers/postgres/postgres.py
  redbot/core/core_commands.py
  redbot/core/errors.py
  redbot/core/modlog.py
Labels: Type: Enhancement, Category: Core - API - Config, Category: Core - Modlog, Category: Core - API - Other, Category: Core - Bot Commands
