Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2025-08, with the labels that each got.

#6589 Add missing dependency in label pattern exhaustiveness check
  .github/workflows/check_label_pattern_exhaustiveness.yaml
Labels: Category: CI

#6582 Fix an issue with alias quote detection
  redbot/cogs/alias/alias_entry.py
Labels: Type: Bug, Category: Cogs - Alias

#6576 Disable Rich tracebacks by default
  redbot/core/_cli.py
  redbot/logging.py
Labels: Type: Enhancement, Category: Core - Command-line Interfaces

#6578 Rewrite intents and public bots doc page
  docs/intents.rst
Labels: Type: Enhancement, Category: Docs - User Guides, Docs-only

#6579 Inject guild locale information in app commands
  redbot/core/tree.py
Labels: Type: Enhancement, Category: Core - API - Other

#6599 Bump dependencies
  requirements/base.txt
  requirements/extra-doc.txt
  requirements/extra-test.txt
Labels: Type: Dependency Update, Release Blocker, Category: Meta

#6602 Bump LL YT plugin version to 1.13.5
  redbot/cogs/audio/managed_node/version_pins.py
Labels: Type: Dependency Update, Category: Cogs - Audio

#6601 Fix LL YT plugin client options not being applied
  redbot/cogs/audio/managed_node/ll_server_config.py
Labels: Type: Bug, Category: Cogs - Audio

#6597 Bump d.py version to 2.6.2
  redbot/cogs/filter/filter.py
  requirements/base.txt
Labels: Type: Dependency Update, Category: Meta, Category: Cogs - Filter

#6603 Red 3.5.21 - Changelog
  CHANGES.rst
Labels: Type: Feature, Changelog Entry: Skipped, Category: Docs - Changelogs, Docs-only
