Repository Cog-Creators/Red-DiscordBot, pull requests merged in 2025-09, with the labels that each got.

#6611 [Audio] Update application.yml source options
  redbot/cogs/audio/managed_node/ll_server_config.py
Labels: Category: Cogs - Audio

#6586 Update the invite Regex pattern with a new accepted format.
  redbot/core/utils/common_filters.py
Labels: Type: Bug, Category: Core - API - Utils Package

#6614 Bump dependencies (includes discord.py 2.6.3 bump)
  requirements/base.txt
Labels: Type: Dependency Update, Changelog Entry: Added, Category: Meta

#6613 Red 3.5.22 - Changelog
  CHANGES.rst
Labels: Type: Feature, Changelog Entry: Skipped, Category: Docs - Changelogs, Docs-only
